<div class="aligner-row head">
  <h3>Integraciones</h3>
  <div class="w-100 middle-right">
    <a class="btn ml-8" href="http://www.url.com" target="_blank">Ayuda</a>
  </div>
</div>

<div class="container-fluid">
  <div class="row col-xs-12 col-md-6 main-container">
    <div class="col-xs-12 col-md-12">
      <p class="pt-title">Plataformas</p>
    </div>
    <div class="row col-xs-12 col-md-12 in1-container">
      <div class="col-xs-12 col-md-6 in1-logo-container">
        <%= image_tag 'mercado-libre-logo-5.png' %>
      </div>
      <div class="col-xs-12 col-md-6 in1-button-container">
        <!--<%= button_to('Más Información', '', class: 'general-button button-info') %>-->
        <% if @retailer.connected_to_ml? %>
          <p class="connected-text">Conectado con Mercado Libre</p>
          <%= button_to('Importar productos de Mercado Libre', retailers_mercadolibre_import_path(@retailer), class: 'general-button button-connect') %>
        <% else %>
          <%= button_to('Conectar con Mercado Libre', ec_auth_url, class: 'general-button button-connect') %>
        <% end %>
      </div>
    </div>


  <!--<a href="<%= ec_auth_url %>">Conectarse Con mercadolibre</a>

  <br>

  <%= link_to 'Importar productos de mercadolibre', retailers_mercadolibre_import_path(@retailer)%>


  <h2>Meli info</h2>
  <% if current_retailer_user.retailer.meli_retailer %>
    <p>Access Token: <%= current_retailer_user.retailer.meli_retailer.access_token %></p>
    <p>Meli User Id: <%= current_retailer_user.retailer.meli_retailer.meli_user_id %></p>
    <p>Meli Refresh Token<%= current_retailer_user.retailer.meli_retailer.refresh_token %></p>
    <p>Updated at <%= current_retailer_user.retailer.meli_retailer.updated_at %></p>

    <p>Nickname: <%= @retailer.meli_retailer.nickname %></p>
    <p>email: <%= @retailer.meli_retailer.email %></p>
    <p>points: <%= @retailer.meli_retailer.points %></p>
    <p>Link <%= @retailer.meli_retailer.link %></p>


    <p>seller_experience <%= @retailer.meli_retailer.seller_experience %></p>

    <p>seller_reputation_level_id <%= @retailer.meli_retailer.seller_reputation_level_id %></p>

    <p>transactions_canceled <%= @retailer.meli_retailer.transactions_canceled %></p>

    <p>transactions_completed <%= @retailer.meli_retailer.transactions_completed %></p>

    <p>ratings_negative <%= @retailer.meli_retailer.ratings_negative %></p>

    <p>ratings_neutral <%= @retailer.meli_retailer.ratings_neutral %></p>

    <p>ratings_positive <%= @retailer.meli_retailer.ratings_positive %></p>

    <p>ratings_total <%= @retailer.meli_retailer.ratings_total %></p>

  <% end %>

  <h1>Retailer Info</h1>
   <p>ID: <%= @retailer.id_number %></p> 
   <p>ID Type: <%= @retailer.id_type %></p>
   <p>Address: <%= @retailer.address %></p>
   <p>City: <%= @retailer.city %></p>
   <p>state: <%= @retailer.state %></p>
   <p>zip_code: <%= @retailer.zip_code %></p>

   <p>phone_number: <%= @retailer.phone_number %></p>
   <p>phone_verified: <%= @retailer.phone_verified %></p>
   -->
   </div>
</div>
