<div class="box">
  <div class="row">
    <%= form_for([:retailers, @tag], url: @tag.new_record? ? retailers_tags_path(current_retailer, @tag) : retailers_tag_path(current_retailer, @tag), local: true, html: { class: 'validate-form p-0 col-xs-12' }) do |f| %>
      <div class="box">
        <div class="row">
          <fieldset class="col-xs-12 fieldset mt-16">
            <legend>Información de la etiqueta</legend>
            <div class="mb-8 my-16">
              <%= f.label :tag, 'Etiqueta' %><br/>
              <%= f.text_field :tag, class: 'input validate-required', maxlength: '20' %>
              <i class="validation-msg"></i>
            </div>

            <div class="mb-8 my-16">
              <%= f.label :tag_color, 'Color' %><br/>
              <%= f.color_field :tag_color, input_html: { class: 'colorpicker' } %>
            </div>

            <div class="btn-box col-xs-12">
              <%= f.submit 'Guardar', class: 'btn-btn btn-submit', data: { disable_with: false } %>
            </div>
          </fieldset>
        </div>
      </div>
    <% end %>
  </div>
</div>
