<% content_for :meta_title, "#{@document['blogentry.meta_title']&.as_text()}" %>
<% content_for :meta_description, @document['blogentry.meta_description']&.as_text() %>
<% content_for :og_type, "#{@document['blogentry.og_type']&.as_text()}" %>
<% content_for :og_title, @document['blogentry.og_title']&.as_text() %>
<% content_for :og_url, "#{@document['blogentry.og_url']&.as_text()}" %>
<% content_for :og_image, @document['blogentry.og_image']&.url %>

<div class="inner-blog">
  <div class="inner-blog-landing-wrapper">
    <div class="inner-blog-landing" style="background-image: url(<%= @document['blogentry.blog_main_image'].url %>)">
    </div>
    <div class="single_post_entry_content">
      <span class="meta-category-small">
        <a class="single-post-entry-category" href="#">
          <%= @document['blogentry.category'].as_text() %>
        </a>
      </span>
      <h1 class="single-post-title-main">
        <%= @document['blogentry.blog_title'].as_text() %>
      </h1>
      <span class="single-post-meta-wrapper">
        <span class="single-post-date">
          <i class="far fa-clock"></i>
          <%= @document['blogentry.publish_date'].value.to_date %>
        </span>
      </span>
      </span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class='col-md-2'></div>
    <div class="col-md-8">
      <div class="entry-blog-content-wrapper">
        <%=  @document['blogentry.blog_content'].as_html(link_resolver()).html_safe %>
        <div class="tag-container">
          <% @document.tags.each do |tag| %>
            <% tag_name = tag != "whatsapp-business-api" ? tag : 'WhatsApp Business Api' %>
            <span><%= link_to tag_name, blog_tags_path(tag.downcase) %></span>
          <% end %>
        </div>
      </div>

      <div class='entry-blog-ad'>
        <p class="entry-blog-ad-title">Vende más por WhatsApp</p>
        <p>Automatiza tu negocio con Mercately </p>

        <p class="">
          <a class="entry-blog-ad-link" href="https://mercately.com/" target="_blank">
            👉 ¡Empieza a automatizar hoy mismo!
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

