<div class="container-fluid reduced-container-padding mb-16">
  <div class="card">
    <div class="container-fluid index">
      <div class="row middle-xs">
        <div class="col-xs-12 col-sm-4">
          <h1 class="d-inline name">Actualizar cuenta</h1>
        </div>
      </div>
    </div>

    <div class="container-fluid products">
      <div class="row">
        <div class="col-xs-12">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), method: :put, html: { onsubmit: 'checkPasswords(event)' }) do |f| %>
            <%= render "retailer_users/shared/error_messages", resource: resource %>

            <fieldset class="fieldset mt-16">
              <legend>Información del comercio</legend>

              <%= f.fields_for :retailer, f.object.retailer || f.object.build_retailer do |retailer| %>
                <% if retailer.object.avatar.attached? %>
                  <%= cl_image_tag("#{retailer.object.avatar.key}", :transformation => { :width => 200, :crop => "pad" }) %>
                <% end %>
                <div class="my-16">
                  <%= retailer.file_field :avatar, class: 'uploadedImages', accept: 'image/jpg, image/jpeg, image/png' %>
                  <label class='btn btn--cta' for="retailer_user_retailer_attributes_avatar">
                    <i class="fas fa-upload mr-5"></i>
                    <%= retailer.object.avatar.attached? ? 'Actualizar' : 'Agregar' %> Logotipo del Comercio
                  </label>
                </div>
                <div class="my-16">
                  <%= retailer.label :name, 'Nombre del comercio' %>
                  <%= retailer.text_field :name, autofocus: true, class: 'input' %>
                </div>
                <div class="my-16">
                  <%= retailer.label :retailer_number, 'Número de Teléfono (opcional)' %>
                  <%= retailer.text_field :retailer_number, class: 'input', onkeypress: 'onlyNumber(event)' %>
                </div>
                <div class="my-16">
                  <%= retailer.label :timezone, 'Zona horaria' %>
                  <%= retailer.select :timezone, timezones_list, { include_blank: true }, class: 'input' %>
                </div>
                <div class="my-16">
                  <%= retailer.label :currency, 'Moneda' %>
                  <%= retailer.currency_select(:currency, CurrencySelect.currencies_array, { include_blank: false }, class: 'input') %>
                </div>
              <% end %>
            </fieldset>

            <fieldset class="fieldset mt-16">
              <legend>Información del Usuario</legend>
              <div class="my-16">
                <%= f.label :first_name, 'Nombre' %>
                <%= f.text_field :first_name, autofocus: true, class: 'input' %>
              </div>
              <div class="my-16">
                <%= f.label :last_name, 'Apellido' %>
                <%= f.text_field :last_name, class: 'input' %>
              </div>
            </fieldset>

            <fieldset class="fieldset mt-16">
              <legend>Información de la cuenta</legend>
              <div class="my-16">
                <%= f.label :email, 'Correo' %>
                <%= f.text_field :email, autocomplete: "email", class: 'input' %>
              </div>
            </fieldset>

            <fieldset class="fieldset mt-16">
              <legend>Cambiar contraseña</legend>
              <div class="my-16">
                <%= f.label :current_password, 'Contraseña actual' %>
                <%= f.password_field :current_password, autocomplete: "current-password", class: 'input' %>
              </div>
              <div class="my-16">
                <%= f.label :password, 'Nueva contraseña' %>
                <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
              </div>
              <div class="my-16">
                <%= f.label :password_confirmation, 'Confirme nueva contraseña' %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
                <i id="password_error_msg" class="validation-msg">&nbsp;</i>
              </div>
            </fieldset>

            <div class="btn-box t-center">
              <%= f.submit 'Actualizar', class: 'btn-btn btn-submit', data: { disable_with: false } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script charset="utf-8">
  function checkPasswords(e) {
    e.preventDefault();
    password = document.getElementById('retailer_user_password');
    password_confirmation = document.getElementById('retailer_user_password_confirmation');

    if (password.value === password_confirmation.value) {
      document.getElementById('password_error_msg').innerHTML = '&nbsp;';
      e.target.submit();
    } else {
      document.getElementById('password_error_msg').innerHTML = 'Las contraseñas no coinciden';
    }
  }
</script>
