<nav id="sidebar">
  <div id="sidebar-head">
    <%= image_tag 'mercately-logo.png', class: 'w-100' %>
    <%= image_tag 'dashboard/sidebar-graph.png', class: 'w-100' %>
    <h4>Total Earnings - June 2019</h4>
    <h3>$ 2.478.00</h3>
  </div>
  <div class="aligner">

    <%= link_to retailers_dashboard_path(current_retailer) do %>
      <div class="sidebar-item <%= 'selected' if current_page?(retailers_dashboard_path) %>">
        <%= image_tag 'dashboard/user-icon.png', class: 'sidebar-icon' %>
        Dashboard
      </div>
    <% end %>

    <%= link_to retailers_customers_path(current_retailer) do %>
      <div class="sidebar-item <%= 'selected' if current_page?(retailers_customers_path) %>">
        <%= image_tag 'dashboard/user-icon.png', class: 'sidebar-icon' %>
        Clientes
      </div>
    <% end %>

    <%= link_to retailers_products_path(current_retailer) do %>
      <div class="sidebar-item <%= 'selected' if current_page?(retailers_products_path) %>">
        <%= image_tag 'dashboard/store-icon.png', class: 'sidebar-icon' %>
        Productos
      </div>
    <% end %>

    <%= link_to retailers_orders_path(current_retailer) do %>
      <div class="sidebar-item <%= 'selected' if current_page?(retailers_orders_path) %>">
        <%= image_tag 'dashboard/order-icon.png', class: 'sidebar-icon' %>
        Ventas/Reportes
      </div>
    <% end %>

    <%= link_to retailers_integrations_path(current_retailer) do %>
      <div class="sidebar-item <%= 'selected' if current_page?(retailers_integrations_path) %>">
        <%= image_tag 'dashboard/integration-icon.png', class: 'sidebar-icon' %>
        Integraciones
      </div>
    <% end %>

    <%= link_to retailers_questions_path(current_retailer, meli_question_type: :from_product) do %>
      <div class="sidebar-item <%= 'selected' if current_page?(retailers_questions_path) %>">
        <%= image_tag 'dashboard/message-icon.png', class: 'sidebar-icon' %>
        Preguntas
      </div>
    <% end %>

    <%= link_to retailers_chats_path(current_retailer, meli_question_type: :from_order) do %>
      <div class="sidebar-item <%= 'selected' if current_page?(retailers_chats_path) %>">
        <%= image_tag 'dashboard/message-icon.png', class: 'sidebar-icon' %>
        Chats
      </div>
    <% end %>

    <%= link_to retailers_templates_path(current_retailer) do %>
      <div class="sidebar-item <%= 'selected' if current_page?(retailers_templates_path) %>">
        <%= image_tag 'dashboard/message-icon.png', class: 'sidebar-icon' %>
        Plantillas
      </div>
    <% end %>

    <% if session[:old_retailer_id] %>
      <div class="sidebar-item">
        <%= link_to "Regresar al administrador", go_back_as_admin_admin_retailer_path(current_retailer) %>
      </div>
    <% end %>
  </div>
</nav>
