<nav id="sidebar">
  <div id="sidebar-head">
    <%= image_tag 'mercately-logo.png', class: 'w-100' %>
    <%= image_tag 'dashboard/sidebar-graph.png', class: 'w-100' %>
    <h4>Total Earnings - June 2019</h4>
    <h3>$ 2.478.00</h3>
  </div>
  <div class="aligner">
    <a href="">
      <div class="sidebar-item selected">
        <%= image_tag 'dashboard/user-icon.png', class: 'sidebar-icon' %>
        Cliente
      </div>
    </a>
    <a href="">
      <div class="sidebar-item">
        <%= image_tag 'dashboard/store-icon.png', class: 'sidebar-icon' %>
        Productos
      </div>
    </a>
    <a href="">
      <div class="sidebar-item">
        <%= image_tag 'dashboard/order-icon.png', class: 'sidebar-icon' %>
        Ventas/Reportes
      </div>
    </a>

    <%= link_to retailers_integrations_path(current_retailer) do %>
      <div class="sidebar-item">
        <%= image_tag 'dashboard/integration-icon.png', class: 'sidebar-icon' %>
        Integraciones
      </div>
    <% end %>
  </div>
</nav>
