<input type="checkbox" id="sidebar--toggle" class="d-none" />
<section id="sidebar">
  <div id="sidebar__logo">
    <%= image_tag 'dashboard/logo.png' %>
  </div>
  <div id="sidebar__menu">
    <ul class="menu no-style">
      <li class="menu__item <%= 'menu__item--selected' if current_page?(retailers_customers_path(current_retailer)) %>">
        <i class="item__icon fas fa-users"></i>
        <%= link_to 'Clientes', retailers_customers_path(current_retailer), class: 'item__name no-style' %>
      </li>
      <li class="menu__item <%= 'menu__item--selected' if current_page?(retailers_products_path(current_retailer)) %>">
        <i class="item__icon fas fa-poll"></i>
        <%= link_to 'Productos', retailers_products_path(current_retailer, status: 'active'), class: 'item__name no-style' %>
      </li>
      <li class="menu__item <%= 'menu__item--selected' if current_page?(retailers_orders_path(current_retailer)) %>">
        <i class="item__icon fas fa-clipboard-check"></i>
        <%= link_to 'Ventas', retailers_orders_path(current_retailer, status: 'all'), class: 'item__name no-style' %>
      </li>
      <li class="menu__item <%= 'menu__item--selected' if current_page?(retailers_chats_path(current_retailer)) ||
        current_page?(retailers_questions_path(current_retailer)) || current_page?(retailers_templates_path(current_retailer)) %>">
        <input type="checkbox" id="item--inbox" class="item__checkbox" />
        <i class="item__icon fas fa-mail-bulk"></i>
        <label for="item--inbox" class="item__name">Inbox</label>
        <i class="item__arrow right"></i>
        <b class="item__cookie"><%= total_unread %></b>
        <ul class="submenu no-style">
          <li class="submenu__item">
            <%= link_to 'Preguntas', retailers_questions_path(current_retailer, answered: false), class: 'item__name no-style' %>
            <b class="item__cookie"><%= quantity_unread_questions %></b>
          </li>
          <li class="submenu__item">
            <%= link_to 'Mensajes', retailers_chats_path(current_retailer), class: 'item__name no-style' %>
            <b class="item__cookie"><%= quantity_unread_messages %></b>
          </li>
          <li class="submenu__item">
            <%= link_to 'Plantillas', retailers_templates_path(current_retailer), class: 'item__name no-style' %>
          </li>
        </ul>
      </li>
      <li class="menu__item <%= 'menu__item--selected' if current_page?(retailers_integrations_path(current_retailer)) %>">
        <i class="item__icon fas fa-link"></i>
        <%= link_to 'Integraciones', retailers_integrations_path(current_retailer), class: 'item__name no-style' %>
      </li>
      <% if session[:old_retailer_id] %>
        <li class="menu__item">
          <%= link_to "Regresar al administrador", go_back_as_admin_admin_retailer_path(current_retailer) %>
        </li>
      <% end %>
    </ul>
  </div>
</section>
