<!-- Sidebar -->
<input type="checkbox" id="sidebar--toggle" class="d-none" />
<section id="sidebar" class="hide-on-pc">
  <div id="sidebar__logo">
    <%= image_tag 'dashboard/logo.png' %>
  </div>
  <div id="sidebar__menu">
    <ul class="menu no-style">
      <li class="menu__item <%= 'menu__item--selected' if current_page?(retailers_dashboard_path(current_retailer)) %>">
        <i class="item__icon fas fa-chart-line"></i>
        <%= link_to 'Dashboard', retailers_dashboard_path(current_retailer), class: 'item__name no-style' %>
      </li>
      <li class="menu__item <%= 'menu__item--selected' if current_page?(retailers_customers_path(current_retailer)) %>">
        <i class="item__icon fas fa-users"></i>
        <%= link_to 'Clientes', retailers_customers_path(current_retailer, q: { 's': 'created_at desc' }), class: 'item__name no-style' %>
      </li>
      <li class="menu__item <%= 'menu__item--selected' if current_page?(retailers_products_path(current_retailer)) %>">
        <i class="item__icon fas fa-poll"></i>
        <%= link_to 'Productos', retailers_products_path(current_retailer, q: { 'status_eq': '0', 's': 'created_at desc' }), class: 'item__name no-style' %>
      </li>
      <li class="menu__item <%= 'menu__item--selected' if current_page?(retailers_orders_path(current_retailer)) %>">
        <i class="item__icon fas fa-clipboard-check"></i>
        <%= link_to 'Ventas', retailers_orders_path(current_retailer, status: 'all'), class: 'item__name no-style' %>
      </li>
      <li class="menu__item <%= 'menu__item--selected' if current_page?(retailers_templates_path(current_retailer)) %>">
        <i class="item__icon fas fa-paper-plane"></i>
        <%= link_to 'Respuestas Rápidas', retailers_templates_path(current_retailer), class: 'item__name no-style' %>
      </li>
      <li class="menu__item <%= 'menu__item--selected' if current_page?(retailers_chats_path(current_retailer)) ||
        current_page?(retailers_questions_path(current_retailer)) %>">
        <input type="checkbox" id="item--inbox" class="item__checkbox" />
        <i class="item__icon fas fa-mail-bulk"></i>
        <label for="item--inbox" class="item__name">Inbox</label>
        <i class="item__arrow right"></i>
        <b id="item__cookie_total" class="item__cookie item__cookie_total"><%= total_unread %></b>
        <ul class="submenu no-style">
          <li class="submenu__item">
            <%= link_to 'Preguntas', retailers_questions_path(current_retailer), class: 'item__name no-style' %>
            <b id="item__cookie_question" class="item__cookie"><%= quantity_unread_questions %></b>
          </li>
          <li class="submenu__item">
            <%= link_to 'Mensajes', retailers_chats_path(current_retailer), class: 'item__name no-style' %>
            <b id="item__cookie_message" class="item__cookie"><%= quantity_unread_messages %></b>
          </li>
          <% if current_retailer.facebook_retailer %>
            <li class="submenu__item">
              <%= link_to 'Facebook Mensenger', retailers_facebook_chats_path(current_retailer), class: 'item__name no-style' %>
              <%# <b class="item__cookie"><%= quantity_unread_messages ></b> %>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="menu__item <%= 'menu__item--selected' if current_page?(retailers_integrations_path(current_retailer)) %>">
        <i class="item__icon fas fa-link"></i>
        <%= link_to 'Integraciones', retailers_integrations_path(current_retailer), class: 'item__name no-style' %>
      </li>
      <% if session[:old_retailer_id] %>
        <li class="menu__item">
          <%= link_to "Regresar al administrador", go_back_as_admin_admin_retailer_path(current_retailer) %>
        </li>
      <% end %>
    </ul>
  </div>
</section>

<!-- Sidebar PC -->
<div class="p-fixed hide-on-tablet-and-down">
  <section id="sidebar--pc" class="d-none d-md-block">
    <div id="sidebar__logo--pc" class="p-18">
      <%= image_tag 'dashboard/profile.png' %>
    </div>
    <div id="sidebar__menu--pc">
      <ul class="menu no-style">
        <li class="menu__item">
          <div class="tooltip">
            <%= link_to image_tag('dashboard/dashboard-new.png', class: 'item__name no-style'), retailers_dashboard_path(current_retailer), class: 'item__name no-style' %>
            <div class="tooltiptext">Dashboard</div>
          </div>
        </li>
        <li class="menu__item ">
          <div class="tooltip">
            <%= link_to image_tag('dashboard/user.png', class: 'item__name no-style'), retailers_customers_path(current_retailer, q: { 's': 'created_at desc' }), class: 'item__name no-style' %>
            <div class="tooltiptext">Clientes</div>
          </div>
        </li>
        <li class="menu__item">
          <div class="tooltip">
            <%= link_to image_tag('dashboard/product.png', class: 'item__name no-style'), retailers_products_path(current_retailer, q: { 'status_eq': '0', 's': 'created_at desc' }), class: 'item__name no-style' %>
            <div class="tooltiptext">Productos</div>
          </div>
        </li>
        <li class="menu__item">
          <div class="tooltip">
            <%= link_to image_tag('dashboard/order-new.png', class: 'item__name no-style'), retailers_orders_path(current_retailer, status: 'all'), class: 'item__name no-style' %>
            <div class="tooltiptext">Ordenes</div>
          </div>
        </li>
        <li class="menu__item">
          <div class="tooltip">
            <%= link_to retailers_templates_path(current_retailer), class: 'item__name no-style' do %>
              <i class="fas fa-paper-plane c-secondary fs-25 mb-10"></i>
            <% end %>
            <div class="tooltiptext positioned">Respuestas Rápidas</div>
          </div>
        </li>
        <li class="menu__item"><%#  %>
          <div class="tooltip">
            <%= image_tag('dashboard/mercadol.png', class: 'item__name no-style') %>
            <div class="tooltiptext" style="top: -28px;">
              &nbsp;&nbsp;MercadoLibre&nbsp;&nbsp;<br/>
              <div class="divider"></div>
              <div>
                <%= link_to retailers_questions_path(current_retailer), class: 'c-white no-style' do %>
                  Preguntas
                  <b id="item__cookie_question" class="item__cookie item__cookie_question"><%= quantity_unread_questions %></b>
                <% end %>
              </div>
              <div>
                <%= link_to retailers_chats_path(current_retailer), class: 'c-white no-style' do %>
                  Chats
                  <b id="item__cookie_message" class="item__cookie"><%= quantity_unread_messages %></b>
                <% end %>
              </div>
            </div>
            <b id="item__cookie_total" class="item__cookie item__cookie_total"><%= total_unread %></b>
          </div>
        </li>
        <% if current_retailer.facebook_retailer %>
          <li class="menu__item">
            <div class="tooltip">
              <%= link_to image_tag('dashboard/messenger.png', class: 'item__name no-style'), retailers_facebook_chats_path(current_retailer), class: 'item__name no-style' %>
              <div class="tooltiptext">Messenger</div>
              <b class="item__cookie item__cookie_facebook_messages"><%= facebook_unread_messages %></b>
            </div>
          </li>
        <% end %>
        <% if current_retailer.whats_app_enabled %>
          <li class="menu__item">
            <div class="tooltip">
              <%= link_to image_tag('dashboard/what.png', class: 'item__name no-style'), retailers_whats_app_chats_path(current_retailer), class: 'item__name no-style' %>
              <div class="tooltiptext">WhatsApp</div>
              <b class="item__cookie item__cookie_whatsapp_messages"><%= whatsapp_unread_messages %></b>
            </div>
          </li>
        <% end %>
        <li class="menu__item">
          <div class="tooltip">
            <%= link_to image_tag('dashboard/integration.png', class: 'item__name no-style'), retailers_integrations_path(current_retailer), class: 'item__name no-style' %>
            <div class="tooltiptext">Integraciones</div>
          </div>
        </li>
        <% if session[:old_retailer_id] %>
          <li class="menu__item">
            <div class="tooltip">
              <%= link_to raw('<i class="fas fa-reply"></i>'), go_back_as_admin_admin_retailer_path(current_retailer) %>
              <div class="tooltiptext">Regresar al admin</div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
</div>
