<header class="header--dashboard">
  <div class="retailer container-fluid">
    <div class="row middle-xs">
      <div class="col-xs-3 pl-0">
        <div class="dropdown__button middle hide-on-pc">
          <label for="sidebar--toggle">
            <i class="fas fa-bars"></i>
          </label>
        </div>

        <div class="retailer__info">
          <div class="d-inline info__logo"><strong><%= two_upper_case_letters(current_retailer.name) %></strong></div>
          <div class="d-inline info__name"><strong><%= current_retailer.name %></strong></div>
        </div>
      </div>
      <div class="col-xs-6 t-center">
        <%= image_tag 'dashboard/logo.png', class: "hide-on-pc" %>
      </div>
      <div class="col-xs-3">
        <div id="user" class="f-right middle">
          <label class="user__dropdown">
            <div class="dropdown__button middle">
              <strong class="hide-on-tablet-and-down"><%= current_retailer_user.email %></strong>
              <i class="fas fa-sort-down mb-8 ml-8"></i>
            </div>

            <input type="checkbox" class="dropdown__input"/>

            <ul class="dropdown__menu">
              <li>
                <%= link_to edit_retailer_info_path(current_retailer), class: 'no-style' do %>
                  <i class="fas fa-user-cog mr-8"></i>
                  Editar perfil
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to destroy_retailer_user_session_path, method: :delete, class: 'no-style' do %>
                  <i class="fas fa-sign-out-alt mr-8"></i>
                  Cerrar sesión
                <% end %>
              </li>
            </ul>
          </label>
        </div>
      </div>
    </div>
  </div>
</header>
