<header class="header--dashboard">
  <div class="retailer">
    <div class="parent-container h-72">
      <div class="child_container child-container-mobile-first">
        <div class="dropdown__button hide-on-pc">
          <label for="sidebar--toggle">
            <i class="fas fa-bars"></i>
          </label>
        </div>

        <div class="bar__left-info">
          <div class="d-inline-block mr-20">
            <span>
              <a class="no-style" href="https://mercately.crunch.help/" target="_blank">
                <%= image_tag 'new_design/Question-mark-circle-outline.svg', class: 'w-20 mr-13 mb-2' %>
                <strong class="hide-on-tablet-and-down nav-option"><%= t('horizontal_navbar.help') %></strong>
              </a>
            </span>
          </div>
          <div class="calendar-button">
            <span>
              <%= image_tag 'new_design/Calendar-outline.svg', class: 'w-20 mr-13 mb-2' %>
              <strong class="hide-on-tablet-and-down nav-option"><%= t('horizontal_navbar.calendar') %></strong>
            </span>
          </div>
        </div>
      </div>
      <div class="free-conversations-container hide-on-tablet-and-down">
        <% if current_retailer.gupshup_integrated? && controller.controller_name == 'whats_app' %>
          <div class="outer-free-conversations">
            <div class="labels-container">
              <div class="fs-13 first-label"><i class="fab fa-whatsapp mr-5"></i><%= t('horizontal_navbar.free_tier') %> (<%= I18n.l(Time.now, format: "%b") %>)</div>
              <div class="fs-13 second-label"><%= total_free_conversations %> / 1000</div>
            </div>
            <div class="percentage-bar-container">
              <div class="percentage-bar" style="width: <%= percentage_free_conversations %>%;"></div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="child-container-mobile-second t-center hide-on-pc">
        <%= image_tag 'logo-mercately-h.png', class: "" %>
      </div>
      <div class="child_container child-container-mobile-third">
        <div class="right-content">
          <div class="d-inline-block mr-7 not-show">
            <span>
              <i class="fas far fa-language"></i>
              <% next_locale = current_retailer_user.locale == 'es' ? 'en' : 'es' %>
              <%= link_to retailer_user_locale_path(locale: next_locale), class: 'no-style', method: :put do %>
                <strong class="hide-on-tablet-and-down nav-option"><%= t :locale %></strong>
              <% end %>
            </span>
          </div>
          <!-- Notifications start -->
          <%= render "layouts/dashboard/notifications/notifications" %>
          <!-- Notifications end -->
          <div class="bar__right-info">
            <div class="d-inline info__logo"><strong><%= two_upper_case_letters(current_retailer_user.full_name.presence || current_retailer_user.email) %></strong></div>
          </div>
          <div class="mobile-header-links hide-on-pc">
            <div class="calendar-button">
              <span>
                <%= image_tag 'new_design/Calendar-outline.svg', class: 'w-20 mr-13 mb-2 img-mobile' %>
              </span>
            </div>
          </div>
          <div id="user" class="d-inline-block">
            <label id="user__dropdown--button" for="dropdown__menu--header" class="user__dropdown">
              <div class="dropdown__button">
                <strong class="hide-on-tablet-and-down nav-option"><%= current_retailer_user.full_name.presence || current_retailer_user.email %></strong>
                <i class="fas fa-sort-down"></i>
              </div>
            </label>
            <input id="dropdown__menu--header" type="checkbox" class="dropdown__input"/>
            <ul class="dropdown__menu t-left">
              <li>
                <%= link_to retailers_my_account_path(current_retailer), class: 'no-style' do %>
                  <i class="fas fa-cog mr-8"></i>
                  <%= t('horizontal_navbar.configurations') %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_retailer_user_session_path, method: :delete, class: 'no-style' do %>
                  <i class="fas fa-sign-out-alt mr-8"></i>
                  <%= t('horizontal_navbar.logout') %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<% if current_retailer.payment_plan.charge_attempt.positive? && current_retailer.payment_plan.status_active? %>
  <section id="head-alert">
    <%= t('horizontal_navbar.failed_charge.1', retailer: current_retailer.name) %>
    <%= t('horizontal_navbar.failed_charge.2') %>
    <b><%= link_to t('horizontal_navbar.failed_charge.3'), retailers_payment_plans_path(current_retailer), class: 'text-white' %></b>
    <%= t('horizontal_navbar.failed_charge.4') %>
  </section>
<% end %>

<% if @news.present? %>
  <% @news.each_with_index do |new, index| %>
    <div>
      <% if index.zero? %>
        <input type="checkbox" class="d-none" name="modal--toggle-new" id="modal--toggle-new-<%= index %>" checked data-seen="true" />
      <% else %>
        <input type="checkbox" class="d-none" name="modal--toggle-new" id="modal--toggle-new-<%= index %>" data-seen="false" />
      <% end %>
      <div class="modal-index">
        <div class="container">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-xs-12 col-md-8 middle">
              <label class="modal-index__background" for="modal--toggle-index"></label>
              <div class="modal-index__window box p-4 h-unset mt-0" style="z-index: 1000;">

                <label class="modalindex__close f-right" for="modal--toggle-new-<%= index %>">
                  <i class="fs-22 mt-4 mr-4 f-right far fa-times-circle c-grey-light"></i>
                </label>

                <div class="t-center py-20">
                  <h1 class="d-inline name mb-10 ml-14 fs-18"><%= new.title %></h1>
                </div>

                <div class="row-fix">
                  <div class="col-xs-12 col-12 fs-12 lh-20 notification-spacing">
                    <%= new.template_body(current_retailer, current_retailer_user).html_safe %>
                    <p class="t-center">
                      <label for="modal--toggle-new-<%= index %>" class="btn-btn btn-submit">Cerrar</label>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <script>
    $(function() {
      document.querySelector('input[data-seen="true"]').checked = true;
      $('input[name="modal--toggle-new"]').on('change', function(e) {
        let el = document.querySelector('input[data-seen="false"]');
        el.checked = true;
        el.dataset.seen = true;
      })
    });
  </script>
<% end %>
