<header class="header--dashboard">
  <div class="retailer container-fluid">
    <div class="row middle-xs" style="height: 50px;">
      <div class="col-xs-2 col-sm-7">
        <div class="dropdown__button middle hide-on-pc">
          <label for="sidebar--toggle">
            <i class="fas fa-bars"></i>
          </label>
        </div>

        <div class="retailer__info">
          <div class="d-inline info__logo"><strong><%= two_upper_case_letters(current_retailer.name) %></strong></div>
          <div class="d-inline info__name"><strong class="account"><%= current_retailer.name %></strong></div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-1 t-center">
        <%= image_tag 'landing/logo.png', class: "hide-on-pc" %>
      </div>
      <div class="col-xs-6 col-sm-4 t-right">
        <div class="d-inline-block mr-7">
          <span>
            <i class="fas far fa-question-circle">
            </i>
            <a class="no-style" href="https://mercately.crunch.help/" target="_blank">
              <strong class="hide-on-tablet-and-down nav-option">Ayuda</strong>
            </a>
          </span>
        </div>
        <div class="calendar-button">
          <span>
            <i class="fas fa-calendar-alt">
            </i>
            <strong class="hide-on-tablet-and-down nav-option">Calendario</strong>
          </span>
        </div>
        <!-- Notifications start -->
        <%= render "layouts/dashboard/notifications/notifications" %>
        <!-- Notifications end -->
        <div id="user" class="d-inline-block">
          <label id="user__dropdown--button" for="dropdown__menu--header" class="user__dropdown">
            <div class="dropdown__button middle">
              <i class="fas far fa-user mr-2"></i>
              <strong class="hide-on-tablet-and-down nav-option">Cuenta</strong>
              <i class="fas fa-sort-down mb-8 ml-8"></i>
            </div>
          </label>
          <input id="dropdown__menu--header" type="checkbox" class="dropdown__input"/>
          <ul class="dropdown__menu t-left">
            <li>
              <%= link_to edit_retailer_info_path(current_retailer), class: 'no-style' do %>
                <i class="fas fa-user-cog mr-8"></i>
                Editar perfil
              <% end %>
            </li>
            <% unless current_retailer_user.agent? %>
              <li>
                <%= link_to edit_team_path(current_retailer), class: 'no-style' do %>
                  <i class="fas fa-users mr-8"></i>
                  Equipo
                <% end %>
              </li>
            <% end %>
            <li>
              <%= link_to retailers_payment_plans_path(current_retailer), class: 'no-style' do %>
                <i class="fas fa-credit-card mr-8"></i>
                Planes de pago
              <% end %>
            </li>
            <li>
              <%= link_to api_key_path(current_retailer), class: 'no-style' do %>
                <i class="fas fa-credit-card mr-8"></i>
                API Key
              <% end %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to destroy_retailer_user_session_path, method: :delete, class: 'no-style' do %>
                <i class="fas fa-sign-out-alt mr-8"></i>
                Cerrar sesión
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
