<div class="nested-fields box">
  <div class="row bottom-xs pb-16">
    <div class="col-xs-12 col-sm-4">
      <div class="my-16">
        <%= f.label :action_type, 'Acción' %>
        <div class="input">
          <%= f.hidden_field :action_type, class: 'validate-unique' %>
          <%= ChatBotAction.enum_translation(:action_type, f.object.action_type) %>
        </div>
      </div>
    </div>
    <% if f.object.action_type == 'assign_agent' %>
      <div class="col-xs-12 col-sm-6">
        <div class="my-16">
          <%= f.label :retailer_user_id, 'Agente' %>
          <%= f.select :retailer_user_id, current_retailer.team_agents.map { |t| [(t.full_name.presence || t.email), t.id] }, { include_blank: true }, class: 'input' %>
        </div>
      </div>
    <% end %>
    <% if f.object.action_type == 'add_tag' %>
      <div class="col-xs-12 col-sm-6">
        <div id="tags-container-on-edit" class="my-16">
          <%= f.label :tag_ids, 'Etiquetas' %>
          <%= f.select :tag_ids, retailer_selectable_tags(current_retailer), {}, class: 'input', multiple: true %>
        </div>
      </div>
    <% end %>
    <% if f.object.action_type == 'get_out_bot' %>
      <div class="col-xs-12 col-sm-6">
        <div class="mt-16">
          <%= f.label :exit_message, 'Mensaje enviado al salir' %>
          <%= f.text_area :exit_message, class: 'input' %>
        </div>
      </div>
    <% end %>
    <% if f.object.action_type == 'go_back_bot' %>
      <div class="col-xs-12 col-sm-6">
        <div class="my-16">
          <div class="fs-12"><span>El ChatBot regresará a la opción:</span><br />
            <% if @parent.has_parent? %>
              <b class="c-secondary"><%= @parent.parent.position.to_s + '. ' %></b><span class="c-secondary"><%= @parent.parent.text %></span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% if f.object.action_type == 'go_init_bot' %>
      <div class="col-xs-12 col-sm-6">
        <div class="my-16">
          <div class="fs-12"><span>El ChatBot regresará al inicio, a la opción:</span><br />
            <b class="c-secondary"><%= @parent.root.position.to_s + '. ' %></b><span class="c-secondary"><%= @parent.root.text %></span>
          </div>
        </div>
      </div>
    <% end %>
    <% if f.object.action_type == 'save_on_db' %>
      <div class="col-xs-12 col-sm-6">
        <div class="my-16">
          <%= f.label :target_field, 'Campo a guardar' %>
          <%= f.select :target_field, customer_columns_list, { include_blank: true }, class: 'input' %>
        </div>
      </div>
    <% end %>
    <% if f.object.action_type == 'exec_callback' %>
      <div class="col-xs-12 my-10">
        <%= f.label :webhook, 'URL' %>
        <%= f.text_field :webhook, class: 'input' %>
      </div>
      <div class="row w-100">
        <div class="col-xs-12 col-sm-6 my-10">
          <%= f.label :action_event, 'Evento' %>
          <%= f.select :action_event, action_events_list, { include_blank: false }, class: 'input' %>
        </div>
        <div class="col-xs-12 col-sm-6 my-10">
          <%= f.label :payload_type, 'Formato' %>
          <%= f.select :payload_type, payload_types_list, { include_blank: false }, class: 'input' %>
        </div>
      </div>
      <div class="fs-15 mt-10 w-100 pl-8">Datos a enviar</div>
      <div id="data-container" class="w-100">
        <%= f.fields_for :data, (f.object.data.length > 0 ? f.object.data : ChatBotAction::Data.new) do |d| %>
          <%= render 'data_fields', f: d %>
        <% end %>
      </div>
      <a href="#!" id="add-data-link" class="fs-13 w-100 pl-8" onclick="addDataForm(<%= f.object.data.length > 0 ? f.object.data.length : 1 %>, <%= f.index %>, this)">Agregar Dato</a>
      <div class="fs-15 mt-20 w-100 pl-8">Headers</div>
      <div id="headers-container" class="w-100">
        <%= f.fields_for :headers, (f.object.headers.length > 0 ? f.object.headers : ChatBotAction::Header.new) do |h| %>
          <%= render 'headers_fields', f: h %>
        <% end %>
      </div>
      <a href="#!" id="add-headers-link" class="fs-13 w-100 pl-8" onclick="addHeaderForm(<%= f.object.headers.length > 0 ? f.object.headers.length : 1 %>, <%= f.index %>, this)">Agregar Header</a>
    <% end %>
    <% if f.object.action_type == 'auto_generate_option' %>
      <div class="col-xs-12 col-sm-6">
        <div class="my-16">
          <div class="fs-12">La siguiente opción a enviar se genera tomando la información devuelta por el Endpoint.</div>
        </div>
      </div>
    <% end %>
    <% if f.object.action_type == 'repeat_endpoint_option' %>
      <div class="col-xs-12 col-sm-6">
        <div class="my-16">
          <div class="fs-12">Se enviará el mensaje nuevamente al cliente.</div>
        </div>
      </div>
    <% end %>
    <div class="col-xs-12 col-sm-2 center-xs p-0 my-16">
      <%= link_to_remove_association f, class: 'btn btn--destroy d-inline-block m-0' do %>
        <i class="fas fa-times mr-5"></i>
        Remover
      <% end %>
    </div>
    <div class="col-xs-12 pr-0">
      <div class="divider mt-15"></div>
    </div>
  </div>
</div>

<script charset="utf-8">
  document.addEventListener("DOMContentLoaded", function() {
    $(`#tags-container-on-edit select`).select2({
      placeholder: "Selecciona o elimina etiquetas",
      language: "es-ES",
      maximumSelectionLength: 5
    });
  })
</script>
