<div class="box">
  <div class="row">
    <%= form_for([:retailers, @template], url: @template.new_record? ? retailers_templates_path(current_retailer, @template) : retailers_template_path(current_retailer, @template), local: true, html: { class: 'p-0 col-xs-12 validate-form template_form' }) do |f| %>
      <div class="box">
        <div class="row">
          <fieldset class="col-xs-12 fieldset mt-16">
            <legend><%= t('retailer.settings.quick_answers.form.description') %></legend>
            <div class="mb-8 my-16">
              <%= f.label :title, t('retailer.settings.quick_answers.common.title') %><br/>
              <%= f.text_field :title, class: 'input validate-required', maxlength: '60' %>
              <i class="validation-msg"></i>
            </div>
            <div class="mb-8 my-16">
              <%= f.label :answer, t('retailer.settings.quick_answers.common.content') %>
              <%= f.text_area :answer, placeholder: t('retailer.settings.quick_answers.form.texto_of_answer'), class: 'input h-77' %>
            </div>
            <div class="row">
              <div class="mb-8 my-16 col-xs-12 col-sm-6 p-0">
                <%= f.label :image, t('retailer.settings.quick_answers.common.file') %><br/>
                <%= f.file_field :image, accept: 'image/jpg, image/jpeg, image/png, application/pdf', class: 'uploadedImages', onchange: "previewImage(this)" %>
                <br/>
                <label class='btn btn--cta' for="template_image">
                  <i class="fas fa-upload mr-5"></i>
                  <%= t('retailer.settings.quick_answers.form.select_file') %>
                </label><br/><br/>
                <div id="preview-container-image" class="p-relative w-200 d-none">
                  <i class="fas fa-times-circle cursor-pointer delete-icon-right" onclick="removeImage()"></i>
                  <embed id="preview-template-image" class="w-200 h-200" width="200" height="200" />
                </div>
                <% if f.object.image.attached? %>
                  <div id="current-template-image">
                    <% if f.object.file_type == 'file' %>
                      <embed src="<%= f.object.image.service_url %>" class="w-200 h-200" width="200" height="200" />
                    <% else %>
                      <%= cl_image_tag("#{f.object.image.key}", transformation: [{width: 200, height: 200, crop: :scale}]) %>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <% if @template.new_record? || @template.retailer_user_id %>
                <div class="mb-8 my-16 col-xs-12 col-sm-6 p-0">
                  <div class="d-inline-flex">
                    <div>
                      <%= f.check_box :global, { 'class': 'input custom-checkbox' } %>
                    </div>
                    <div>
                      <%= f.label :global, t('retailer.settings.quick_answers.common.global_answer_question') %>
                    </div>
                  </div>
                  <p class="note-archived"><i><%= t('retailer.settings.quick_answers.form.alert_global_answer_question') %></i></p>
                </div>
              <% end %>
            </div>
            <%= f.label t('retailer.settings.quick_answers.common.platforms') %>
            <div class="row">
              <% if current_retailer.whats_app_enabled %>
                <div class="mb-8 my-16 col-xs-12 col-sm-6">
                  <div class="d-inline-flex">
                    <div>
                      <%= f.check_box :enable_for_whatsapp, { 'class': 'input custom-checkbox', 'checked': @template.new_record? ? true : @template.enable_for_whatsapp } %>
                    </div>
                    <div>
                      <%= f.label :enable_for_whatsapp, 'WhatsApp', class: 'p-static' %>
                    </div>
                  </div>
                </div>
              <% end %>
              <% if current_retailer.facebook_retailer&.connected? %>
                <div class="mb-8 my-16 col-xs-12 col-sm-6">
                  <div class="d-inline-flex">
                    <div>
                      <%= f.check_box :enable_for_messenger, { 'class': 'input custom-checkbox', 'checked': @template.new_record? ? true : @template.enable_for_messenger } %>
                    </div>
                    <div>
                      <%= f.label :enable_for_messenger, 'Facebook Messenger' %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>

            <div class="row">
              <% if current_retailer.facebook_retailer&.instagram_integrated? %>
                <div class="mb-8 my-16 col-xs-12 col-sm-6">
                  <div class="d-inline-flex">
                    <div>
                      <%= f.check_box :enable_for_instagram, { 'class': 'input custom-checkbox', 'checked': @template.new_record? ? true : @template.enable_for_instagram } %>
                    </div>
                    <div>
                      <%= f.label :enable_for_instagram, 'Instagram' %>
                    </div>
                  </div>
                  <p class="note-archived my-0"><i><%= t('retailer.settings.quick_answers.form.alert_instagram_answer_question') %></i></p>
                </div>
              <% end %>
              <% if current_retailer.meli_retailer %>
                <div class="mb-8 my-16 col-xs-12 col-sm-6">
                  <div class="d-inline-flex">
                    <div>
                      <%= f.check_box :enable_for_chats, { 'class': 'input custom-checkbox', 'checked': @template.new_record? ? true : @template.enable_for_chats } %>
                    </div>
                    <div>
                      <%= f.label :enable_for_chats, t('retailer.settings.quick_answers.form.mercado_libre_messages'), class: 'p-static' %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>

            <% if current_retailer.meli_retailer %>
              <div class="row">
                <div class="mb-8 my-16 col-xs-12 col-sm-6">
                  <div class="d-inline-flex">
                    <div>
                      <%= f.check_box :enable_for_questions, { 'class': 'input custom-checkbox', 'checked': @template.new_record? ? true : @template.enable_for_questions } %>
                    </div>
                    <div>
                      <%= f.label :enable_for_questions, t('retailer.settings.quick_answers.form.mercado_libre_question') %>
                    </div>
                  </div>
                  <p class="note-archived"><i><%= t('retailer.settings.quick_answers.form.note_mercado_libre_question') %></i></p>
                </div>
              </div>
            <% end %>

            <div class="btn-box col-xs-12">
              <%= f.submit t('buttons.save'), class: 'btn-btn btn-submit', data: { disable_with: false } %>
            </div>
          </fieldset>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script src="<%= asset_path 'retailers/templates/templates.js' %>" charset="utf-8"></script>
