<div class="box">
  <div class="row">
    <%= form_for([:retailers, @template], url: @template.new_record? ? retailers_templates_path(current_retailer, @template) : retailers_template_path(current_retailer, @template), local: true, html: { class: 'p-0 col-xs-12 validate-form' }) do |f| %>
      <div class="box">
        <div class="row">
          <fieldset class="col-xs-12 fieldset mt-16">
            <legend>Información de la respuesta</legend>
            <div class="mb-8 my-16">
              <%= f.label :title, 'Título' %><br/>
              <%= f.text_field :title, class: 'input validate-required', maxlength: '60' %>
              <i class="validation-msg"></i>
            </div>
            <div class="mb-8 my-16">
              <%= f.label :answer, 'Contenido' %>
              <%= f.text_area :answer, placeholder: 'Texto de respuesta', class: 'input h-77' %>
            </div>
            <div class="mb-8 my-16">
              <%= f.label :answer, 'Imagen' %><br/>
              <%= f.file_field :image, accept: 'image/jpg, image/jpeg, image/png', class: 'uploadedImages', onchange: "previewImage(this)" %><br/>
              <label class='btn btn--cta' for="template_image">
                <i class="fas fa-upload mr-5"></i>
                Seleccionar imagen
              </label><br/><br/>
              <div id="preview-container-image" class="p-relative w-200 d-none">
                <i class="fas fa-times-circle cursor-pointer delete-icon-right" onclick="removeImage()"></i>
                <img id="preview-template-image" class="w-200 h-200" />
              </div>
              <% if f.object.image.attached? %>
                <div id="current-template-image">
                  <%= cl_image_tag("#{f.object.image.key}", width: 200, height: 200) %>
                </div>
              <% end %>
            </div>
            <%= f.label 'Plataformas' %>
            <div class="row">
              <% if current_retailer.whats_app_enabled %>
                <div class="mb-8 my-16 col-xs-12 col-sm-6">
                  <div class="d-inline-flex">
                    <div>
                      <%= f.check_box :enable_for_whatsapp, { 'class': 'input custom-checkbox', 'checked': @template.new_record? ? true : @template.enable_for_whatsapp } %>
                    </div>
                    <div>
                      <%= f.label :enable_for_whatsapp, 'WhatsApp', class: 'p-static' %>
                    </div>
                  </div>
                </div>
              <% end %>
              <% if current_retailer.facebook_retailer %>
                <div class="mb-8 my-16 col-xs-12 col-sm-6">
                  <div class="d-inline-flex">
                    <div>
                      <%= f.check_box :enable_for_messenger, { 'class': 'input custom-checkbox', 'checked': @template.new_record? ? true : @template.enable_for_messenger } %>
                    </div>
                    <div>
                      <%= f.label :enable_for_messenger, 'Facebook Messenger' %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <% if current_retailer.meli_retailer %>
              <div class="row">
                <div class="mb-8 my-16 col-xs-12 col-sm-6">
                  <div class="d-inline-flex">
                    <div>
                      <%= f.check_box :enable_for_questions, { 'class': 'input custom-checkbox', 'checked': @template.new_record? ? true : @template.enable_for_questions } %>
                    </div>
                    <div>
                      <%= f.label :enable_for_questions, 'Preguntas de MercadoLibre' %>
                    </div>
                  </div>
                  <p class="note-archived"><i>Nota: Para preguntas, no se debe incluir información de contacto, como teléfonos, 
                  direcciones exactas o nombres personales</i></p>
                </div>
                <div class="mb-8 my-16 col-xs-12 col-sm-6">
                  <div class="d-inline-flex">
                    <div>
                      <%= f.check_box :enable_for_chats, { 'class': 'input custom-checkbox', 'checked': @template.new_record? ? true : @template.enable_for_chats } %>
                    </div>
                    <div>
                      <%= f.label :enable_for_chats, 'Mensajes de MercadoLibre', class: 'p-static' %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="btn-box col-xs-12">
              <%= f.submit 'Guardar', class: 'btn-btn btn-submit', data: { disable_with: false } %>
            </div>
          </fieldset>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script src="<%= asset_path 'retailers/templates/templates.js' %>" charset="utf-8"></script>
