<div class="nested-fields box w-100">
  <div class="row bottom-xs divider mb-16">
    <div class="col-xs-12">
      <div class="my-16">
        <%= f.label :answer, t('retailer.settings.quick_answers.common.additional_answer_input_label') %>
        <%= f.text_area :answer, class: 'input h-77' %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="my-16 root-for-closest new-answers-container">
        <%= f.file_field :file, class: 'uploadedImages', accept: "image/jpg, image/jpeg, image/png, application/pdf", onchange: "previewAdditionalFile(this)" %>
        <label class='btn btn--cta label-for'>
          <i class="fas fa-upload mr-5"></i>
          <%= t('retailer.settings.quick_answers.form.new_additional_fast_answer.add_image_or_pdf') %>
        </label><br/><br/>
        <div class="p-relative w-200 d-none preview-img-container">
          <i class="fas fa-times-circle cursor-pointer delete-icon-right" onclick="removeAdditionalFile(this)"></i>
          <img class="w-200 h-200 preview-img" />
        </div>
        <div class="p-relative w-200 d-none preview-pdf-container">
          <i class="fas fa-times-circle cursor-pointer delete-icon-right" onclick="removeAdditionalFile(this)"></i>
          <div class="w-200 h-200 preview-pdf">
            <embed class="w-200 h-200 preview-pdf-embed" width="200" height="200" />
          </div>
        </div>
        <div class="p-relative d-none preview-errors">
          <span class="c-red fs-14"><%= t('retailer.settings.quick_answers.common.error_size_message') %></span><br/>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-2 pl-8 my-16">
      <%= link_to_remove_association f, class: 'btn btn--destroy d-inline-block m-0' do %>
        <i class="fas fa-times mr-5"></i>
        <%= t('buttons.nested_remove') %>
      <% end %>
    </div>
  </div>
</div>
