<div class="box p-relative card mt-14 pl-40 pr-40 pt-35 form-container_card">
  <%= form_for [:retailers, @customer_related_field], html: { class: 'validate-form col-xs-12 p-0' } do |f| %>
    <div class="box">
      <fieldset class="fieldset-to-replace">
        <h3 class="form-container_sub-title mt-0 ml-8">Información básica</h3>
        <div class="row">
          <div class="my-16 col-xs-12 col-sm-6">
            <%= f.label :name, 'Nombre' %>
            <%= f.text_field :name, maxlength: 40, class: 'input validate-required' %>
            <i class="validation-msg"></i>
          </div>
          <div class="my-16 col-xs-12 col-sm-6">
            <%= f.label :field_type, 'Tipo' %>
            <%= f.select :field_type, field_types_list, { include_blank: false }, class: 'input validate-required' %>
            <i class="validation-msg"></i>
          </div>
          <div class="col-sm-6"></div>
          <div id="list_options" class="my-16 col-xs-12 col-sm-6" style="display: none;">
            <%= f.label :list_options, 'Lista de opciones' %>
            <% @customer_related_field.list_options.each do |opt| %>
              <div class="row p-0 mb-6">
                <div class="col-xs-11 p-0">
                  <%= text_field_tag 'customer_related_field[list_options][]', opt, class: 'input validate-required mt-0' %>
                  <i class="validation-msg"></i>
                </div>
                <div class="col-xs-1 t-center">
                  <a class="btn btn--destroy destroy-option d-inline-block m-0">
                    <i class="fas fa-times"></i>
                  </a>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-sm-6"></div>
          <div id="add_options" class="my-16 col-xs-12 col-sm-6" style="display: none;">
            <a id="add_option_customer_related_field_list_options" href="#!">Agregar opción</a>
          </div>
        </div>
      </fieldset>
      <div class="my-16 t-right hide-on-xs">
        <%= link_to 'Cancelar', retailers_customer_related_fields_path, class: 'cancel-link mr-30' %>
        <%= f.submit 'Guardar', class: 'btn-btn btn-submit btn-primary-style', data: { disable_with: false } %>
      </div>
      <div class="hide-on-xs-and-up t-center my-16">
        <div><%= f.submit 'Guardar', class: 'btn-btn btn-submit btn-primary-style', data: { disable_with: false } %></div>
        <div class="mt-20"><%= link_to 'Cancelar', retailers_customer_related_fields_path, class: 'cancel-link' %></div>
      </div>
    </div>
  <% end %>
</div>

<script charset="utf-8">
  <% if @customer_related_field&.errors&.any? %>
    <% @customer_related_field.errors.each do |attribute, message| %>
      showtoast("<%= message %>")
    <% end %>
  <% end %>
</script>
<script charset="utf-8">
  $(function() {
    <% if @customer_related_field.list? %>
      $('#list_options, #add_options').show();
    <% end %>
    $('#customer_related_field_field_type').on('change', function() {
      if (this.value === 'list') {
        $('#list_options, #add_options').show();
      } else {
        $('#list_options, #add_options').hide();
      }
    })
    $('#add_option_customer_related_field_list_options').on('click', function(e) {
      e.preventDefault();
      $('#list_options').append(
      `
        <div class="row p-0 mb-6">
          <div class="col-xs-11 p-0">
            <%= text_field_tag "customer_related_field[list_options][]", nil, class: "input validate-required mt-0" %>
            <i class="validation-msg"></i>
          </div>
          <div class="col-xs-1 t-center">
            <a class="btn btn--destroy destroy-option d-inline-block m-0" onclick="this.closest('.row').remove();">
              <i class="fas fa-times"></i>
            </a>
          </div>
        </div>
      `
      )
    });

    $('.destroy-option').on('click', function() {
      this.closest('.row').remove();
    })
  })
</script>
