<% unless purchase_plan %>
  <% if pm.present? %>
    <% pm.each_slice(2) do |payment_method| %>
      <div class="row mt-25 ml-0">
        <div class="col-md-6 col-12 pl-0 odd-card-mobile">
          <div class="credit-card-container row ml-0">
            <div class="col-9 col-md-9 pl-0">
              <% if payment_method[0].card_type == 'vi' %>
                <%= image_tag 'dashboard/payments/visa-icon.svg', class: 'mr-20' %>
              <% elsif payment_method[0].card_type == 'mc' %>
                <%= image_tag 'dashboard/payments/mastercard-icon.svg', class: 'mr-20' %>
              <% end %>
              <span class="fs-14 mr-15">****<%= payment_method[0].number %></span>
              <span class="fs-14"><%= "#{payment_method[0].expiry_month}/#{payment_method[0].expiry_year}" %></span>
            </div>
            <div class="col-3 col-md-3 pr-0 t-right">
              <% if current_retailer.paymentez_credit_cards.count > 1 %>
                <%= link_to retailers_paymentez_path(slug: current_retailer, id: payment_method[0].id),
                  method: :delete, data: { confirm: t('retailer.profile.payment_plans.index.delete_card_confirmation') },
                  class: '' do %>
                  <i class="far fa-trash-alt c-black"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <% if payment_method[1].present? %>
          <div class="col-md-6 col-12 pr-0 even-card-mobile">
            <div class="credit-card-container row ml-0">
              <div class="col-9 col-md-9 pl-0">
                <% if payment_method[1].card_type == 'vi' %>
                  <%= image_tag 'dashboard/payments/visa-icon.svg', class: 'mr-20' %>
                <% elsif payment_method[1].card_type == 'mc' %>
                  <%= image_tag 'dashboard/payments/mastercard-icon.svg', class: 'mr-20' %>
                <% end %>
                <span class="fs-14 mr-15">****<%= payment_method[1].number %></span>
                <span class="fs-14"><%= "#{payment_method[1].expiry_month}/#{payment_method[1].expiry_year}" %></span>
              </div>
              <div class="col-3 col-md-3 pr-0 t-right">
                <% if current_retailer.paymentez_credit_cards.count > 1 %>
                  <%= link_to retailers_paymentez_path(slug: current_retailer, id: payment_method[1].id),
                    method: :delete, data: { confirm: t('retailer.profile.payment_plans.index.delete_card_confirmation') },
                    class: '' do %>
                    <i class="far fa-trash-alt c-black"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
