<div class="container-payment-plan">
  <h1 class="d-inline container-payment-plan_header-title">Plan de pagos</h1>
  <p class="container-payment-plan_sub">Planes con Mercately, pagos y facturación</p>
  <% if @payment_plan.is_active? %>
    <div class="card mt-14 pl-40 pr-40 pt-35 container-payment-plan_card">
      <h3 class="m-0 mb-10 container-payment-plan_sub-title">Plan</h3>
      <p class="m-0 container-payment-plan_sub-text c-secondary"><%= @payment_plan.plan.capitalize %></p>
      <p class="m-0 container-payment-plan_text">Precio mensual<span class="ml-136 container-payment-plan_mobile"><%= '$%05.2f' % @payment_plan.price.to_f %></span></p>
      <p class="m-0 container-payment-plan_text">Fecha de próximo pago
        <span class="ml-68 container-payment-plan_mobile">
          <% if @payment_plan.plan != 0 %>
            <%= @payment_plan.next_pay_date&.strftime("%d/%m/%Y") %>
          <% end %>
        </span>
      </p>
      <% if current_retailer.whatsapp_integrated? %>
        <p class="m-0 container-payment-plan_text">Saldo de WhatsApp
          <span class="ml-100 container-payment-plan_mobile">
            <% if current_retailer.whats_app_enabled  %>
              <%= '$%05.4f' % @payment_plan.retailer.ws_balance.round(4) %>
              <% if (current_retailer.ecu_charges || current_retailer.int_charges) && @pm.present? %>
                <label for="add_balance" class="container-payment-plan_pricing ml-20 fz-16" id="add_balance">AGREGAR SALDO</label>
              <% end %>
            <% end %>
          </span>
        </p>
      <% end %>
      <hr class="my-30">
      <div class="my-20 t-center"><button class="container-payment-plan_button">Actualizar a PREMIUM</button></div>
    </div>
    <% if current_retailer.ecu_charges || current_retailer.int_charges %>
      <div class="card mt-60 pl-40 pr-40 pt-35 pb-35 container-payment-plan_card">
        <h3 class="m-0 mb-10 container-payment-plan_sub-title">Método de Pago</h3>
        <% if current_retailer.ecu_charges %>
          <%= render partial: 'paymentez_credit_card', locals: { pm: @pm, purchase_plan: false, is_modal: false } %>
        <% elsif current_retailer.int_charges %>
          <%= render partial: 'payment_method', locals: { pm: @pm, purchase_plan: false, is_modal: false } %>
        <% end %>
      </div>
    <% end %>
    <input type="checkbox" class="d-none" name="modal--toggle" id="modal--toggle"/>
    <div class="modal">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-xs-12 col-md-8 middle">
            <label class="modal__background" for="modal--toggle"></label>
            <div class="modal__window box p-16">
              <div class="row middle-xs">
                <div class="col-xs-12 col-sm-8">
                  <div class="index__ctas f-right">
                    <label class="skip modal__close" for="modal--toggle">
                      <i class="far fa-times-circle"></i>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <p>Agregar Saldo</p>
                </div>
                <fieldset class="fieldset mt-16 row credit_card">
                  <div class="my-16 col-xs-12 col-md-6">
                    <legend>Monto</legend>
                    <input type="number" class="input" min="10" name="amount" id="amount" value="25">
                    <i class="validation-msg"></i>
                    <i class="subtitle">El monto mínimo son 10$</i>
                  </div>
                  <div class="my-16 col-xs-12 col-md-6">
                    <legend>Seleccionar Tarjeta</legend>
                    <div class="col-xs-12">
                      <% if current_retailer.ecu_charges %>
                        <%= select_tag :paymentez_credit_card, options_for_select(PaymentezCardHelper.credit_cards(current_retailer.paymentez_credit_cards)), class: 'input' %>
                      <% elsif current_retailer.int_charges %>
                        <%= select_tag :stripe_card, options_for_select(stripe_cards(current_retailer.payment_methods)), class: 'input' %>
                      <% end %>
                    </div>
                    <i class="validation-msg"></i>
                  </div>
                  <div class="btn-box col-xs-12">
                    <button class="btn btn--cta btn-small submit-card" id="submit_add_balance">
                      <i class="fas fa-dollar-sign" id="btn_cc"></i>
                      <i class="fas fa-spinner hidden" id="btn_spinner"></i>
                      <span>Agregar saldo</span>
                    </button>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if current_retailer.stripe_transactions.exists? %>
      <div class="card mt-60 pl-40 pr-40 pt-35 pb-40 container-payment-plan_card">
        <h3 class="m-0 mb-10 container-payment-plan_sub-title">Historial de recargas</h3>
        <table class="w-100 t-center">
          <thead class="c-secondary">
            <tr>
              <th class="t-justify p-5">Año</th>
              <th class="t-justify p-5">Mes</th>
              <th class="t-justify p-5">Día</th>
              <th class="p-5">Costo</th>
              <th class="t-justify p-5">Estado</th>
              <th class="p-5">Tarjeta</th>
            </tr>
          </thead>
          <tbody>
            <% current_retailer.stripe_transactions.order(id: :desc).each do |t| %>
              <tr>
                <td class="t-justify py-18 pl-5"><%= t.created_at.year %></td>
                <td class="t-justify pl-5"><%= FormatHelper.date_month(t.created_at.month) %></td>
                <td class="t-justify pl-5"><%= t.created_at.day %></td>
                <td><%= '$%05.2f' % t.amount %></td>
                <td class="t-justify pl-5">Pagado</td>
                <td><%= stripe_credit_card(t.payment_method_id).first %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    <% if current_retailer.paymentez_transactions.present? %>
      <div class="card mt-60 pl-40 pr-40 pt-35 pb-40 container-payment-plan_card">
        <h3 class="m-0 mb-10 container-payment-plan_sub-title">Historial de facturación</h3>
          <table class="w-100 t-center">
            <thead class="c-secondary">
              <tr>
                <th class="t-justify p-5">Año</th>
                <th class="t-justify p-5">Mes</th>
                <th class="p-5">Costo mensual</th>
                <th class="t-justify p-5">Estado</th>
                <th class="p-5">Código de Autorización</th>
                <th class="p-5">Referencia de transacción</th>
                <th class="p-5">Tarjeta</th>
              </tr>
            </thead>
            <tbody>
              <% current_retailer.paymentez_transactions.order(id: :desc).each do |t| %>
                <tr>
                  <td class="t-justify py-18 pl-5"><%= Date.parse(t.payment_date).strftime("%Y") %></td>
                  <td class="t-justify pl-5"><%= FormatHelper.date_month(Date.parse(t.payment_date).strftime("%m").to_i) %></td>
                  <td><%= '$%05.2f' % t.amount %></td>
                  <td class="t-justify pl-5 <%= t.status != 'success' ? 'c-secondary' : ''%>"><%= t.status == 'success' ? 'Pagado' : 'Devuelto' %></td>
                  <td><%= t.authorization_code %></td>
                  <td><%= t.transaction_reference %></td>
                  <td><%= PaymentezCardHelper.credit_card(t.paymentez_credit_card_id).first %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    <% end %>
    <% if current_retailer.whatsapp_integrated? && @user_messages.present? %>
      <div class="card mt-60 pl-40 pr-40 pt-35 pb-40 container-payment-plan_card">
        <h3 class="m-0 mb-10 container-payment-plan_sub-title">Consumo de WhatsApp</h3>
          <table class="w-100 t-center">
            <thead class="c-secondary">
              <tr>
                <th class="t-justify p-5">Año</th>
                <th class="t-justify p-5">Mes</th>
                <th class="p-5">Costo mensual</th>
                <th class="p-5">Tipo de Mensaje</th>
                <th class="p-5">Costo Consumo</th>
                <th class="p-5">Mensajes</th>
                <th class="p-5">Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <% total = 0 %>
              <% @user_messages.each do |message| %>
                <% totalM = 0 %>
                <tr>
                  <td class="t-justify py-18 p-5"><%= message[:year] %></td>
                  <td class="t-justify p-5"><%= message[:month] %></td>
                  <td class="p-5"><%= '$%05.4f' % message[:total] %></td>
                  <% total += message[:total] %>
                  <td class="p-5">
                    <% message[:type].each do |type| %>
                      <p class="m-0"><%= type %></p>
                    <% end %>
                  </td>
                  <td class="p-5">
                    <% message[:cost].each do |cost| %>
                      <p class="m-0"><%= '$ %05.4f' % (cost || 0) %></p>
                    <% end %>
                  </td>
                  <td class="p-5">
                    <% message[:counter].each do |count| %>
                      <p class="m-0"><%= count %></p>
                    <% end %>
                  </td>
                  <td class="t-right p-5 pr-70">
                    <% message[:sub_total].each do |sub_total| %>
                      <p class="m-0"><%= '$ %05.4f' % sub_total %></p>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    <% end %>
    <% if current_retailer.whatsapp_integrated? && @interactions.present? %>
      <div class="card mt-60 pl-40 pr-40 pt-35 pb-40 container-payment-plan_card">
        <h3 class="m-0 mb-10 container-payment-plan_sub-title">Interacción de ChatBots</h3>
          <table class="w-100 t-center">
            <thead class="c-secondary">
              <tr>
                <th class="t-justify p-5">Año</th>
                <th class="t-justify p-5">Mes</th>
                <th class="p-5">Interacciones</th>
              </tr>
            </thead>
            <tbody>
              <% @interactions.each do |interaction| %>
                <tr>
                  <td class="t-justify py-18 p-5"><%= interaction[:year] %></td>
                  <td class="t-justify p-5"><%= interaction[:month] %></td>
                  <td class="p-5"><%= interaction[:total] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    <% end %>
  <% else %>
    <div class="card t-center mt-14 pl-40 pr-40 pt-35 pb-35 container-payment-plan_card index">
      <div class="container-payment-plan_parent">
        <div class="container-payment-plan_parent2 pricing__card m-0 mt-10 mr-5">
          <div class="container-payment-plan_div1">
            <h2 class="c-secondary m-0 container-payment-plan_plans_title">BÁSICO</h2>
            <h2 class="m-0 container-payment-plan_plans_title"><b class="c-secondary">$29.99</b> al mes</h2>
            <h4 class="m-0 container-payment-plan_pricing_text">Para negocios que estan empezando</h4>
          </div>
          <div class="container-payment-plan_div2">
            <p class="container-payment-plan_sub container-payment-plan_plans_text">
              Manejo de inventario<br/>
              Facturación electronica<br/>
              Múltiples usuarios<br/>
              Múltiples locaciones
            </p>
          </div>
          <div class="container-payment-plan_div3"><label data-plan="basic" data-plan_name="Básico" data-plan_price="29.99" for="basic" class="container-payment-plan_button">COMPRAR</label></div>
        </div>
        <div class="container-payment-plan_parent2 pricing__card m-0 mt-10 mr-5">
          <div class="container-payment-plan_div1">
            <h2 class="c-secondary m-0 container-payment-plan_plans_title">PROFESIONAL</h2>
            <h2 class="m-0 container-payment-plan_plans_title"><b class="c-secondary">$49.99</b> al mes</h2>
            <h4 class="m-0 container-payment-plan_pricing_text">Capitalizate y eleva tus ventas</h4>
          </div>
          <div class="container-payment-plan_div2">
            <p class="container-payment-plan_sub container-payment-plan_plans_text">
              Beneficios del plan Básico<br/>
              Mercado Libre<br/>
              Facebook Shops
            </p>
          </div>
          <div class="container-payment-plan_div3"><label data-plan="professional" data-plan_name="Professional" data-plan_price="49.99" for="professional" class="container-payment-plan_button">COMPRAR</label></div>
        </div>
        <div class="container-payment-plan_parent2 pricing__card m-0 mt-10 mr-5">
          <div class="container-payment-plan_div1">
            <h2 class="c-secondary m-0 container-payment-plan_plans_title">AVANZADO</h2>
            <h2 class="m-0 container-payment-plan_plans_title"><b class="c-secondary">$109.99</b> al mes</h2>
            <h4 class="m-0 container-payment-plan_pricing_text">Aumenta tus ingresos como nunca antes</h4>
          </div>
          <div class="container-payment-plan_div2">
            <p class="container-payment-plan_sub container-payment-plan_plans_text">
              Beneficios del plan Profesional<br/>
              Instagram<br/>
              Facebook Messenger<br/>
              WhatsApp
            </p>
          </div>
          <div class="container-payment-plan_div3"><label data-plan="advanced" data-plan_name="Avanzado" data-plan_price="109.99" for="advanced" class="container-payment-plan_button">COMPRAR</label></div>
        </div>
        <div class="container-payment-plan_parent2 pricing__card m-0 mt-10 mr-5">
          <div class="container-payment-plan_div1">
            <h2 class="c-secondary m-0 container-payment-plan_plans_title">ENTERPRISE</h2>
            <h2 class="m-0 container-payment-plan_plans_title"><b class="c-secondary">$199.99</b> al mes</h2>
            <h4 class="m-0 container-payment-plan_pricing_text">Conviertete en nuestro socio</h4>
          </div>
          <div class="container-payment-plan_div2">
            <p class="container-payment-plan_sub container-payment-plan_plans_text">
              Todo lo anterior<br/>
              API de desarrollo
            </p>
          </div>
          <div class="container-payment-plan_div3"><label data-plan="enterprise" data-plan_name="Enterprise" data-plan_price="199.99" for="enterprise" class="container-payment-plan_button">COMPRAR</label></div>
        </div>
      </div>
    </div>

    <input type="checkbox" class="d-none" name="modal--toggle" id="modal--toggle"/>

    <div class="modal">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-xs-12 col-md-8 middle">
            <label class="modal__background" for="modal--toggle"></label>
            <div class="modal__window box p-16">
              <div class="row middle-xs">
                <div class="col-xs-12 col-sm-8">
                  <div class="index__ctas f-right">
                    <label class="skip modal__close" for="modal--toggle">
                      <i class="far fa-times-circle"></i>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 p-10">
                  <legend>Plan:</legend>
                  <h2 id="selected_plan_name" class="mt-10"></h2>
                  <h2 id="selected_plan_price" class="mt-10"></h2>
                  <input type="hidden" name="selected_plan" id="selected_plan">
                  <%= check_box_tag :agree_terms, true, false, class: 'f-left w-auto', style: 'width: auto;' %>
                  <%= label_tag :agree_terms, 'He leído y acepto los', class: 'p-static' %>
                  <%= link_to 'términos y condiciones', terms_path, target: :_blank, class: 'link-register-terms' %>
                </div>

                <div class="col-xs-12 pb-10">
                  <legend>Agregar Tarjeta</legend>
                  <% if current_retailer.ecu_charges %>
                    <%= render partial: 'paymentez_credit_card', locals: { pm: @pm, purchase_plan: true, is_modal: true } %>
                  <% elsif current_retailer.int_charges %>
                    <%= render partial: 'payment_method', locals: { pm: @pm, purchase_plan: true, is_modal: true } %>
                  <% end %>

                  <% if current_retailer.paymentez_credit_cards.any? %>
                    <div class="my-16 col-xs-12">
                      <legend>Seleccione una de sus tarjetas</legend>
                      <%= select_tag :paymentez_credit_card, options_for_select(PaymentezCardHelper.credit_cards(current_retailer.paymentez_credit_cards)), class: 'input' %>
                      <i class="validation-msg"></i>
                    </div>
                    </div>

                    <div class="col-xs-12">
                      <div class="row btn-box">
                        <button class="btn btn--cta btn-small submit-card" id="submit_purchase_plan" disabled="disabled">
                          <i class="fas fa-dollar-sign" id="btn_cc"></i>
                          <i class="fas fa-spinner hidden" id="btn_spinner"></i>
                          <span>Comprar</span>
                        </button>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= javascript_include_tag 'retailers/payment_plans/payment_plans' %>
