<div class="container-payment-plan">
  <div class="container-titles mb-50">
    <h1 class="d-inline container-payment-plan_header-title"><%= t('retailer.profile.payment_plans.index.title') %></h1>
    <p class="container-payment-plan_sub"><%= t('retailer.profile.payment_plans.index.title') %></p>
  </div>
  <% if @payment_plan.is_active? %>
    <div class="row ml-0">
      <div class="col-12 col-md-3 pl-0 menu-mobile">
        <div class="container-payment-plan_card py-20 px-30 nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <div class="menu-item nav-link active mb-5" id="v-pills-information-tab" data-toggle="pill" href="#v-pills-information" role="tab" aria-controls="v-pills-information" aria-selected="true">
            <i class="icon-information mr-10 fs-15"></i> <span class="fs-14"><%= t('retailer.profile.payment_plans.index.information') %></span>
          </div>
          <div class="menu-item nav-link mb-5" id="v-pills-usage-tab" data-toggle="pill" href="#v-pills-usage" role="tab" aria-controls="v-pills-usage" aria-selected="false">
            <i class="icon-usage-icon mr-8 fs-9"></i> <span class="fs-14"><%= t('retailer.profile.payment_plans.index.consumption') %></span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-9 pl-0">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-information" role="tabpanel" aria-labelledby="v-pills-information-tab">
            <div class="container-payment-plan_card py-20 px-30">
              <div class="row ml-0">
                <div class="col-12 col-md-6 pl-0">
                  <p class="container-payment-plan_current-plan-label mb-10"><%= t('retailer.profile.payment_plans.index.current_plan') %></p>
                </div>
                <div class="col-12 col-md-6 pr-0 t-right mb-10">
                  <button type="button" class="btn btn-improve fs-13" data-toggle="modal" data-target="#charge-balance-modal">
                    <%= t('retailer.profile.payment_plans.index.add_balance') %>
                  </button>
                </div>
              </div>
              <p class="container-payment-plan_current-plan mb-10"><%= t('retailer.profile.payment_plans.index.plan') %> <%= @payment_plan.plan.capitalize %></p>
              <p class="container-payment-plan_current-plan mb-10"><%= '$%05.2f' % @payment_plan.price.to_f %></p>
              <p class="container-payment-plan_next-pay mb-10"><%= t('retailer.profile.payment_plans.index.ws_balance') %>:
                <%= '$%05.2f' % current_retailer.ws_balance %>
              </p>
              <% if current_retailer.gupshup_integrated? %>
                <div class="outer-free-conversations mb-15 w-50">
                  <div class="labels-container">
                    <div class="fs-13 first-label"><i class="fab fa-whatsapp fs-13 mr-5"></i><%= t('horizontal_navbar.free_tier') %> (<%= I18n.l(Time.now, format: "%b") %>)</div>
                    <div class="fs-13 second-label"><%= total_free_conversations %> / 1000</div>
                  </div>
                  <div class="percentage-bar-container">
                    <div class="percentage-bar" style="width: <%= total_free_conversations %>%;"></div>
                  </div>
                </div>
              <% end %>
              <div class="row ml-0">
                <div class="col-md-6 col-12 pl-0">
                  <p class="container-payment-plan_next-pay mb-10"><%= t('retailer.profile.payment_plans.index.next_pay') %>:
                    <% if @payment_plan.plan != 0 %>
                      <%= @payment_plan.next_pay_date&.strftime("%d/%m/%Y") %>
                    <% end %>
                  </p>
                </div>
                <div class="col-md-6 col-12 t-right pr-0">
                  <button type="button" class="btn btn-cancel fs-13" data-toggle="modal" data-target="#cancel-modal">
                    <%= t('retailer.profile.payment_plans.index.cancel_plan') %>
                  </button>

                  <%# link_to 'Mejora tu plan', '', class: 'btn btn-improve fs-13' %>
                </div>
              </div>
              <%= link_to t('retailer.profile.payment_plans.index.country_prices'), 'https://mercately.crunch.help/pagos/costos-de-hsm-o-templates-de-whats-app', class: 'fz-11 no-style fw-bold', target: '_blank' %>
            </div>
            <div class="container-payment-plan_card py-20 px-30 mt-30">
              <div class="row ml-0">
                <div class="col-md-6 col-12 pl-0">
                  <p class="container-payment-plan_sub-title"><%= t('retailer.profile.payment_plans.index.my_cards') %></p>
                </div>
                <div class="col-md-6 col-12 t-right pr-0">
                  <button type="button" class="btn btn-improve fs-13" data-toggle="modal" data-target="#add-card-modal">
                    <span class="fs-14 mr-20">+</span><%= t('retailer.profile.payment_plans.index.add_card') %>
                  </button>
                </div>
              </div>
              <% if current_retailer.ecu_charges %>
                <%= render partial: 'paymentez_credit_card', locals: { pm: @pm, purchase_plan: false, is_modal: false } %>
              <% elsif current_retailer.int_charges %>
                <%= render partial: 'payment_method', locals: { pm: @pm, purchase_plan: false, is_modal: false } %>
              <% end %>
            </div>
            <% if current_retailer.stripe_transactions.exists? %>
              <div class="container-payment-plan_card py-20 px-30 mt-30">
                <p class="container-payment-plan_sub-title"><%= t('retailer.profile.payment_plans.index.charges_history') %></p>
                <div class="table-responsive">
                  <table class="w-100 t-center">
                    <thead class="">
                      <tr>
                        <th class="p-5"><%= t('time.year') %></th>
                        <th class="p-5"><%= t('time.month') %></th>
                        <th class="p-5"><%= t('time.day') %></th>
                        <th class="p-5"><%= t('retailer.profile.payment_plans.index.cost') %></th>
                        <th class="p-5"><%= t('retailer.profile.payment_plans.index.status') %></th>
                        <th class="p-5"><%= t('retailer.profile.payment_plans.index.card') %></th>
                        <th class="p-5"><%= t('invoice.invoice') %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% current_retailer.stripe_transactions.order(id: :desc).each do |t| %>
                        <% credit_card_info = stripe_credit_card(t.payment_method_id) %>
                        <tr>
                          <td class="py-18 pl-5"><%= t.created_at.year %></td>
                          <td class="pl-5"><%= I18n.l(t.created_at.to_date, format: "%B") %></td>
                          <td class="pl-5"><%= t.created_at.day %></td>
                          <td><%= '$%05.2f' % t.amount %></td>
                          <td class="pl-5"><div class="success-payment"><%= t('retailer.profile.payment_plans.index.paid') %></div></td>
                          <td>
                            <% if credit_card_info.size == 3 %>
                              <% if credit_card_info[2] == 'visa' %>
                                <%= image_tag 'dashboard/payments/visa-icon.svg', class: 'mr-20' %>
                              <% elsif credit_card_info[2] == 'mastercard' %>
                                <%= image_tag 'dashboard/payments/mastercard-icon.svg', class: 'mr-20' %>
                              <% end %>
                            <% end %>
                            <%= credit_card_info.first %>
                          </td>
                          <td class="p-5">
                            <%= link_to t('invoice.check'), retailers_invoice_path(current_retailer, t), target: :_blank %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            <% end %>
            <% if current_retailer.paymentez_transactions.present? %>
              <div class="container-payment-plan_card py-20 px-30 mt-30">
                <p class="container-payment-plan_sub-title"><%= t('retailer.profile.payment_plans.index.payments_history') %></p>
                <div class="table-responsive">
                  <table class="w-100 t-center">
                    <thead class="">
                      <tr>
                        <th class="p-5"><%= t('time.year') %></th>
                        <th class="p-5"><%= t('time.month') %></th>
                        <th class="p-5"><%= t('time.day') %></th>
                        <th class="p-5"><%= t('retailer.profile.payment_plans.index.cost') %></th>
                        <th class="p-5"><%= t('retailer.profile.payment_plans.index.status') %></th>
                        <th class="p-5"><%= t('retailer.profile.payment_plans.index.authorization') %></th>
                        <th class="p-5"><%= t('retailer.profile.payment_plans.index.reference') %></th>
                        <th class="p-5"><%= t('retailer.profile.payment_plans.index.card') %></th>
                        <th class="p-5"><%= t('invoice.invoice') %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% current_retailer.paymentez_transactions.order(id: :desc).each do |t| %>
                        <% credit_card_info = PaymentezCardHelper.credit_card(t.paymentez_credit_card_id) %>
                        <tr>
                          <td class="py-18 pl-5"><%= Date.parse(t.payment_date).strftime("%Y") %></td>
                          <td class="pl-5"><%= I18n.l(t.payment_date.to_date, format: "%B") %></td>
                          <td class="pl-5"><%= Date.parse(t.payment_date).day %></td>
                          <td><%= '$%05.2f' % t.amount %></td>
                          <td class="pl-5"><div class="<%= t.status == 'success' ? 'success-payment' : 'refund-payment' %>"><%= t("retailer.profile.payment_plans.index.payment_#{t.status}") %></div></td>
                          <td><%= t.authorization_code %></td>
                          <td><%= t.transaction_reference %></td>
                          <td>
                            <% if credit_card_info.size == 3 %>
                              <% if credit_card_info[2] == 'Visa' %>
                                <%= image_tag 'dashboard/payments/visa-icon.svg', class: 'mr-20' %>
                              <% elsif credit_card_info[2] == 'Mastercard' %>
                                <%= image_tag 'dashboard/payments/mastercard-icon.svg', class: 'mr-20' %>
                              <% end %>
                            <% end %>
                            <%= credit_card_info.first %>
                          </td>
                          <td class="p-5">
                            <%= link_to t('invoice.check'), retailers_invoice_path(current_retailer, t), target: :_blank %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            <% end %>
          </div>
          <div class="tab-pane fade" id="v-pills-usage" role="tabpanel" aria-labelledby="v-pills-usage-tab">
            <% if current_retailer.gupshup_integrated? %>
              <div class="container-payment-plan_card py-20 px-30">
                <p class="container-payment-plan_sub-title"><%= t('retailer.profile.payment_plans.index.whatsapp_conversations') %></p>
                <% current_retailer.retailer_whatsapp_conversations.order(year: :desc, month: :desc).each do |rwc| %>
                  <div>
                    <span class="fw-bold"><%= I18n.l(Date.new(rwc.year, rwc.month, 01), format: "%B") %>, <%= rwc.year %></span>
                  </div>
                  <div class="table-responsive mb-30">
                    <table class="w-100 t-center">
                      <thead>
                        <tr>
                          <th class="p-5"><%= t('retailer.profile.payment_plans.index.conversation_type') %></th>
                          <th class="p-5"><%= t('retailer.profile.payment_plans.index.conversation_total') %></th>
                          <th class="p-5"><%= t('retailer.profile.payment_plans.index.conversation_cost_total') %></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-5"><%= t('retailer.profile.payment_plans.index.free_entry_point') %></td>
                          <td class="p-5"><%= rwc.free_point_total %></td>
                          <td class="p-5">$<%= 0.0 %></td>
                        </tr>
                        <tr>
                          <td class="p-5"><%= t('retailer.profile.payment_plans.index.paid_uic') %></td>
                          <td class="p-5"><%= rwc.user_initiated_total %></td>
                          <td class="p-5">$<%= rwc.user_initiated_cost %></td>
                        </tr>
                        <tr>
                          <td class="p-5"><%= t('retailer.profile.payment_plans.index.paid_bic') %></td>
                          <td class="p-5"><%= rwc.business_initiated_total %></td>
                          <td class="p-5">$<%= rwc.business_initiated_cost %></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                <% end %>
              </div>
            <% end %>
            <% if current_retailer.whatsapp_integrated? && @user_messages.present? %>
              <div class="container-payment-plan_card py-20 px-30 <%= current_retailer.gupshup_integrated? ? 'mt-30' : '' %>">
                <p class="container-payment-plan_sub-title"><%= t('retailer.profile.payment_plans.index.ws_consumption') %></p>
                <div class="table-responsive">
                  <table class="w-100 t-center">
                    <thead class="">
                      <tr>
                        <th class="p-5"><%= t('time.year') %></th>
                        <th class="p-5"><%= t('time.month') %></th>
                        <th class="p-5"><%= t('retailer.profile.payment_plans.index.monthly_cost') %></th>
                        <th class="p-5"><%= t('retailer.profile.payment_plans.index.message_type') %></th>
                        <th class="p-5"><%= t('retailer.profile.payment_plans.index.consumption_cost') %></th>
                        <th class="p-5"><%= t('retailer.profile.payment_plans.index.messages') %></th>
                        <th class="p-5"><%= t('retailer.profile.payment_plans.index.subtotal') %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% total = 0 %>
                      <% @user_messages.each do |message| %>
                        <% totalM = 0 %>
                        <tr>
                          <td class="py-18 p-5"><%= message[:year] %></td>
                          <td class="p-5"><%= message[:month] %></td>
                          <td class="p-5"><%= '$%05.4f' % message[:total] %></td>
                          <% total += message[:total] %>
                          <td class="p-5">
                            <% message[:type].each do |type| %>
                              <p class="m-0"><%= type %></p>
                            <% end %>
                          </td>
                          <td class="p-5">
                            <% message[:cost].each do |cost| %>
                              <p class="m-0"><%= '$ %05.4f' % (cost || 0) %></p>
                            <% end %>
                          </td>
                          <td class="p-5">
                            <% message[:counter].each do |count| %>
                              <p class="m-0"><%= count %></p>
                            <% end %>
                          </td>
                          <td class="p-5">
                            <% message[:sub_total].each do |sub_total| %>
                              <p class="m-0"><%= '$ %05.4f' % sub_total %></p>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            <% end %>
            <% if current_retailer.whatsapp_integrated? && @interactions.present? %>
              <div class="container-payment-plan_card py-20 px-30 mt-30">
                <p class="container-payment-plan_sub-title"><%= t('retailer.profile.payment_plans.index.chatbots_interactions') %></p>
                <div class="table-responsive">
                  <table class="w-100 t-center">
                    <thead class="">
                      <tr>
                        <th class="p-5"><%= t('time.year') %></th>
                        <th class="p-5"><%= t('time.month') %></th>
                        <th class="p-5"><%= t('retailer.profile.payment_plans.index.interactions') %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @interactions.each do |interaction| %>
                        <tr>
                          <td class="py-18 p-5"><%= interaction[:year] %></td>
                          <td class="p-5"><%= interaction[:month] %></td>
                          <td class="p-5"><%= interaction[:total] %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row ml-0">
      <div class="col-12 pl-0">
        <div class="alert alert-danger c-white br-16 bc-danger" role="alert">
          <div class="row m-0 align-items-center">
            <div class="col-sm-10 p-0">
              <%= image_tag 'alert.png' %>
              <span class="ml-8">
                <%= t('retailer.profile.payment_plans.index.inactive_plan') %>
              </span>
            </div>
            <div class="col-sm-2 p-0 text-center text-sm-right">
              <%= link_to t('retailer.profile.payment_plans.index.retry'),
                retailers_payment_plan_charge_path(current_retailer),
                method: :post,
                class: 'btn-white-danger my-8 d-inline-block' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 pl-0">
        <div class="container-payment-plan_card py-20 px-30 mb-16">
          <div class="row ml-0">
            <div class="col-12 col-md-6 pl-0">
              <p class="container-payment-plan_current-plan-label mb-10"><%= t('retailer.profile.payment_plans.index.current_plan') %></p>
            </div>
          </div>
          <p class="container-payment-plan_current-plan mb-10"><%= t('retailer.profile.payment_plans.index.plan') %> <%= @payment_plan.plan.capitalize %></p>
          <p class="container-payment-plan_current-plan mb-10"><%= '$%05.2f' % @payment_plan.price.to_f %></p>
          <p class="container-payment-plan_next-pay mb-10"><%= t('retailer.profile.payment_plans.index.ws_balance') %>:
            <%= '$%05.2f' % current_retailer.ws_balance %>
          </p>
          <div class="row ml-0">
            <div class="col-md-6 col-12 pl-0">
              <p class="container-payment-plan_next-pay mb-10"><%= t('retailer.profile.payment_plans.index.next_pay') %>:
                <% if @payment_plan.plan != 0 %>
                  <%= @payment_plan.next_pay_date&.strftime("%d/%m/%Y") %>
                <% end %>
              </p>
            </div>
          </div>
          <%= link_to t('retailer.profile.payment_plans.index.country_prices'), 'https://mercately.crunch.help/pagos/costos-de-hsm-o-templates-de-whats-app', class: 'fz-11 no-style fw-bold', target: '_blank' %>
        </div>
        <div class="container-payment-plan_card pt-20">
          <% if current_retailer.ecu_charges || current_retailer.int_charges %>
            <div class="container-payment-plan_card py-20 px-30">
              <div class="row ml-0">
                <div class="col-12 col-md-6 pl-0">
                  <h3 class="m-0 mb-10 container-payment-plan_sub-title"><%= t('retailer.profile.payment_plans.index.payment_methods') %></h3>
                </div>
                <div class="col-12 col-md-6 t-right pr-0">
                  <button type="button" class="btn btn-improve fs-13" data-toggle="modal" data-target="#add-card-modal">
                    <span class="fs-14 mr-20">+</span><%= t('retailer.profile.payment_plans.index.add_card') %>
                  </button>
                </div>
              </div>
              <% if current_retailer.ecu_charges %>
                <%= render partial: 'paymentez_credit_card', locals: { pm: @pm, purchase_plan: false, is_modal: false } %>
              <% elsif current_retailer.int_charges %>
                <%= render partial: 'payment_method', locals: { pm: @pm, purchase_plan: false, is_modal: false } %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <%= render partial: 'cancel_plan_modal' %>
  <%= render partial: 'add_card_modal' %>
  <%= render partial: 'charge_balance_modal' %>
</div>

<%= javascript_include_tag 'retailers/payment_plans/payment_plans' %>
