<div class="container-fluid reduced-container-padding mb-16">
  <div class="card">
    <div class="container-fluid index">
      <div class="row">
        <div class="col-xs-12 col-md-6 mb-20">
          <h1 class="d-inline index__title">Configuración de negocio</h1>
          <div class="index__desc">
            Configura las características de tu negocio
          </div>
        </div>

        <% if current_retailer.whatsapp_integrated? || current_retailer.facebook_retailer %>
          <div class="col-xs-12 mt-20">
            <% if current_retailer.whatsapp_integrated? %>
              <%= link_to retailers_manage_automatic_answers_path(current_retailer, platform: 'whatsapp'), class: 'no-style' do %>
                <i class="fas fa-plus-circle c-secondary fs-20 mr-10"></i><span class="c-secondary fs-18">Mensaje de Bienvenida</span>
              <% end %>
            <% elsif current_retailer.facebook_retailer.present? %>
              <%= link_to retailers_manage_automatic_answers_path(current_retailer, platform: 'messenger'), class: 'no-style' do %>
                <i class="fas fa-plus-circle c-secondary fs-20 mr-10"></i><span class="c-secondary fs-18">Mensaje de Bienvenida</span>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <div class="col-xs-12 mt-20">
          <%= link_to retailers_tags_path(current_retailer), class: 'no-style' do %>
            <i class="fas fa-plus-circle c-secondary fs-20 mr-10"></i><span class="c-secondary fs-18">Etiquetas</span>
          <% end %>
        </div>
        <div class="col-xs-12 mt-20">
          <%= link_to retailers_sales_channels_path(current_retailer), class: 'no-style' do %>
            <i class="fas fa-plus-circle c-secondary fs-20 mr-10"></i><span class="c-secondary fs-18">Canales de Venta</span>
          <% end %>
        </div>
        <div class="col-xs-12 mt-20">
          <%= link_to retailers_team_assignments_path(current_retailer), class: 'no-style' do %>
            <i class="fas fa-plus-circle c-secondary fs-20 mr-10"></i><span class="c-secondary fs-18">Asignación Automática</span>
          <% end %>
        </div>
        <div class="col-xs-12 mt-20">
          <%= link_to retailers_customer_related_fields_path(current_retailer), class: 'no-style' do %>
            <i class="fas fa-plus-circle c-secondary fs-20 mr-10"></i><span class="c-secondary fs-18">Campos personalizados</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
