<div class="content_width ml-sm-108 mt-25 px-15 no-left-margin-xs fz-14">
  <div class="row mb-32">
    <div class="col-12">
      <% if flash[:alert] %>
        <div class="warning-box" role="alert">
          <strong>¡Ups!</strong> <%= flash[:alert] %>
        </div>
      <% end %>
      <h1 class="d-inline funnels__title fz-40"><%= t('hello', name: current_retailer_user.first_name) %></h1>
      <div>
        <b class="fz-16"><%= t('views.dashboard.greetings') %></b>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-32">
      <b class="fz-16"><%= t('views.dashboard.quick_check') %></b>
      <br />
      <%= @start_date_format %> - <%= @end_date_format %>
    </div>
    <div class="col-12 col-md-4">
      <div class="card border-16 m-0 mh-auto b-transparent shadow-none" style="background-color: #EBF7FC;">
        <div class="card-body">
          <div class="text-center">
            <h1 class="funnels__title c-grey-dark d-block fz-40"><%= @success_orders_count %></h1>
            <div class="c-grey-light fz-16"><%= t('views.dashboard.successful_sales') %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card border-16 m-0 mh-auto b-transparent shadow-none" style="background-color: #F8EBF8;">
        <div class="card-body">
          <div class="text-center">
            <h1 class="funnels__title c-grey-dark d-block fz-40"><%= @clients.count %></h1>
            <div class="c-grey-light fz-16"><%= t('views.dashboard.customers_registered') %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card border-16 m-0 mh-auto b-transparent shadow-none" style="background-color: #FDF5EC;">
        <div class="card-body">
          <div class="text-center">
            <h1 class="funnels__title c-grey-dark d-block fz-40"><%= @wa_msgs_count %></h1>
            <div class="c-grey-light fz-16"><%= t('views.dashboard.messages') %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="card border-16 mx-0 mh-auto b-transparent shadow-none">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <b class="fz-18"><%= t('views.dashboard.latest_news') %></b>
              <br />
              <br />
            </div>
          </div>
          <div class="row">
            <% if @documents.present? %>
              <% @documents.each_with_index do |doc, index| %>
                <div class="col-md-4">
                  <%= link_to blog_content_path(doc.uid), class: 'text-decoration-none', target: :_blank do %>
                    <div class="card border-16 mx-0 mh-auto p-0 m-0 shadow-none">
                      <img src="<%= doc['blogentry.blog_index_image']&.url %>" class="post-entry-img" alt="" style="border-radius: 16px 16px 0 0;" />
                      <div class="card-body">
                        <span class="status--primary">
                          <%= doc['blogentry.category']&.as_text %>
                        </span>
                        <br />
                        <br />
                        <strong class="c-black truncate-2">
                          <%=  doc['blogentry.blog_title'].as_text %>
                        </strong>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% else %>
              <div class="text-center"><%= t('views.dashboard.no_news') %></div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card border-16 mx-0 mh-auto b-transparent shadow-none">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <b class="fz-18"><%= t('views.dashboard.recent_orders') %></b>
            </div>
            <div class="col-6 text-right">
              <%= link_to t('views.dashboard.view_all'), retailers_orders_path(current_retailer, status: 'all') %>
            </div>
          </div>
          <% if @first_five_orders.exists? %>
            <table class="w-100">
              <thead>
                <tr class="c-grey-light border-bottom">
                  <th class="py-16"><%= t('views.dashboard.orders.info') %></th>
                  <th class="py-16"><%= t('views.dashboard.orders.status') %></th>
                  <th class="py-16"><%= t('views.dashboard.orders.customer') %></th>
                  <th class="py-16"><%= t('views.dashboard.orders.total') %></th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: 'retailers/pages/order', collection: @first_five_orders, as: :order %>
              </tbody>
            </table>
          <% else %>
            <div class="text-center"><%= t('views.dashboard.no_orders') %></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card border-16 mx-0 mh-auto b-transparent shadow-none" style="height: 420px;">
        <div class="card-body">
          <b class="fz-16"><%= t('views.dashboard.integrate_with') %></b>
          <div class="row align-items-center py-8 my-26">
            <div class="col-3">
              <%= image_tag 'new_design/wa.png' %>
            </div>
            <div class="col-9 truncate text-left">
              <b>WhatsApp</b>
              <br />
              <span class="subtitle">
                <% if current_retailer.whatsapp_integrated? %>
                  <%= image_tag 'new_design/green_dot.png' %>
                  <%= t('views.dashboard.connected') %>
                  <% if current_retailer.gupshup_integrated? %>
                    <div class="outer-free-conversations">
                      <div class="labels-container">
                        <div class="first-label"><%= t('horizontal_navbar.free_tier') %> (<%= I18n.l(Time.now, format: "%b") %>)</div>
                        <div class="second-label"><%= total_free_conversations %> / 1000</div>
                      </div>
                      <div class="percentage-bar-container">
                        <div class="percentage-bar" style="width: <%= percentage_free_conversations %>%;"></div>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <%= link_to t('views.dashboard.configure'), retailers_integrations_path(current_retailer) %>
                <% end %>
              </span>
            </div>
          </div>
          <div class="row align-items-center py-8 my-26">
            <div class="col-3">
              <%= image_tag 'new_design/msm.png' %>
            </div>
            <div class="col-9 truncate text-left">
              <b>Messenger</b>
              <br />
              <span class="subtitle">
                <% if current_retailer.facebook_integrated? %>
                  <%= image_tag 'new_design/green_dot.png' %>
                  <%= t('views.dashboard.connected') %>
                <% else %>
                  <%= link_to t('views.dashboard.configure'), retailers_integrations_path(current_retailer) %>
                <% end %>
              </span>
            </div>
          </div>
          <div class="row align-items-center py-8 my-26">
            <div class="col-3">
              <%= image_tag 'new_design/ig.png' %>
            </div>
            <div class="col-9 truncate text-left">
              <b>Instagram</b>
              <br />
              <span class="subtitle">
                <% if current_retailer.instagram_integrated? %>
                  <%= image_tag 'new_design/green_dot.png' %>
                  <%= t('views.dashboard.connected') %>
                <% else %>
                  <%= link_to t('views.dashboard.configure'), retailers_integrations_path(current_retailer) %>
                <% end %>
              </span>
            </div>
          </div>
          <div class="row align-items-center py-8 mt-26">
            <div class="col-3">
              <%= image_tag 'new_design/ml.png' %>
            </div>
            <div class="col-9 truncate text-left">
              <b>MercadoLibre</b>
              <br />
              <span class="subtitle">
                <% if current_retailer.ml_integrated? %>
                  <%= image_tag 'new_design/green_dot.png' %>
                  <%= t('views.dashboard.connected') %>
                <% else %>
                  <%= link_to t('views.dashboard.configure'), retailers_integrations_path(current_retailer) %>
                <% end %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card border-16 mx-0 mh-auto b-transparent shadow-none">
        <div class="card-body">
          <b class="fz-16"><%= t('views.dashboard.best_sellers') %></b>
          <% if @best_products.exists? %>
            <%= render partial: 'retailers/pages/product', collection: @best_products, as: :product %>
          <% else %>
            <br />
            <br />
            <div class="text-center"><%= t('views.dashboard.no_products') %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
