<div class="container-fluid reduced-container-padding mb-16">
  <div class="card">
    <div class="container-fluid index">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h1 class="d-inline index__title">Dashboard</h1>
          <div class="index__desc">
          </div>
        </div>
        <div class="col-xs-12 col-md-6 mt-16 t-right button-sm-and-down">
          <%= form_for(:search, url: retailers_dashboard_path(current_retailer), method: :get, html: { id: 'select_range' }) do |form| %>
            <%= form.text_field :range, value: date_from_parameters, data: { behavior: 'daterangepicker' } %>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-4 product__info pb-12">
          <div class="t-center">Índice de ventas</div>
          <%= pie_chart [['Exitosas', @success_orders_count], ['Canceladas', @cancelled_orders_count], ['Pendientes', @pending_orders_count]] %>
          <div class="t-center">Total de ventas: <%= @orders_count %></div>
        </div>
        <div class="col-xs-12 divider mt-30"></div>
        <div class="col-xs-12 col-sm-7 mt-40">
          <div class="t-center mb-10">Productos más vendidos</div>
          <div class="dash-products-clients-container">
            <div class="row col-xs-12 col-sm-12 dashboard-tabs px-0">
              <div id="dash-products-tab" class="col-xs-12 col-sm-6 tab-links t-center py-10 selected-tab">
                Productos
              </div>
              <div id="dash-categories-tab" class="col-xs-12 col-sm-6 tab-links t-center py-10">
                Categorías
              </div>
            </div>
            <div id="dash-products-content" class="col-xs-12 col-sm-12 tabs-content">
              <div class="row">
                <div class="col-xs-12 col-sm-12 mt-10">
                  <div class="table box">
                    <div class="table__header row center-sm">
                      <div class="col-sm-2">Imagen</div>
                      <div class="col-sm-6">Producto</div>
                      <div class="col-sm-2">Vendidos</div>
                      <div class="col-sm-2">Ganancia</div>
                    </div>
                    <% retailer_products(current_retailer).each do |product| %>
                      <div class="divider"></div>
                      <div class="table__item row middle-xs py-0">
                        <div class="col-sm-2 t-center">
                          <% if product.main_picture_id %>
                            <%= cl_image_tag("#{product.images&.find(product.main_picture_id)&.key}") %>
                          <% elsif product.images&.first&.key.present? %>
                            <%= cl_image_tag("#{product.images&.first&.key}") %>
                          <% else %>
                            <i class="fas fa-camera-retro fs-40 c-grey"></i>
                          <% end %>
                        </div>
                        <div class="col-sm-6 t-center"><%= product.title %></div>
                        <div class="col-sm-2 t-center"><%= product.sold_quantity %></div>
                        <div class="col-sm-2 t-center c-green">$<%= product.earned %></div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div id="dash-categories-content" class="row col-xs-12 col-sm-12 tabs-content d-none">
              <div class="row">
                <div class="col-xs-12 col-sm-12 mt-10">
                  <div class="table box">
                    <div class="table__header row center-sm">
                      <div class="col-sm-5">Nombre</div>
                      <div class="col-sm-2">Productos</div>
                      <div class="col-sm-2">Vendidos</div>
                      <div class="col-sm-3">Ganancia</div>
                    </div>
                    <% products_by_category(current_retailer).each do |cat| %>
                      <div class="divider"></div>
                      <div class="table__item row middle-xs py-0">
                        <div class="col-sm-5 t-center"><%= cat[:name] %></div>
                        <div class="col-sm-2 t-center"><%= cat[:total_products] %></div>
                        <div class="col-sm-2 t-center"><%= cat[:total_sold] %></div>
                        <div class="col-sm-3 t-center c-green">$<%= cat[:earning] %></div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 mt-40">
          <div class="t-center mb-10">Mejores clientes</div>
          <div class="dash-products-clients-container">
            <div class="row col-xs-12 col-sm-12 px-0">
              <div class="col-xs-12 col-sm-12 dash-best-clients py-10">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="table box">
                      <div class="table__header row center-sm">
                        <div class="col-sm-4">Cliente</div>
                        <div class="col-sm-4">Items</div>
                        <div class="col-sm-4">Ganancia</div>
                      </div>
                      <% best_clients(current_retailer).each do |customer| %>
                        <div class="divider"></div>
                        <div class="table__item row middle-xs">
                          <div class="col-xs-4 col-sm-4">
                            <div class="t-center"><%= customer.full_name || customer.meli_nickname %></div>
                          </div>
                          <div class="col-xs-4 col-sm-4">
                            <div class="t-center"><%= customer.items_bought %></div>
                          </div>
                          <div class="col-xs-4 col-sm-4">
                            <div class="t-center c-green"><%= customer.earnings %></div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="col-xs-12 col-sm-8">
          <div class="t-center">Mejores clientes</div>
          <%= bar_chart @better_customers, xtitle: 'Ordenes completadas', ytitle: 'Cliente' %>
        </div>
        <div class="col-xs-12 divider mt-0"></div>
        <div class="col-xs-12 mt-40">
          <div class="t-center">Productos mas vendidos</div>
          <%= line_chart @better_products, xtitle: 'Fecha de la orden', ytitle: 'Cantidad vendida' %>
        </div>-->
        <div class="col-xs-12 divider mt-30"></div>
        <div class="col-xs-12 mt-40">
          <div class="t-center">Total de ganancias</div>
          <%= area_chart @incoming_total %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    var today = new Date;
    $('[data-behavior="daterangepicker"]').daterangepicker({
      opens: 'left',
      startDate: '<%= @start_date %>',
      endDate: '<%= @end_date %>',
      maxDate: today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear(),
      ranges: {
        'Hoy': [moment(), moment()],
        'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Últimos 7 días': [moment().subtract(6, 'days'), moment()],
        'Últimos 30 días': [moment().subtract(29, 'days'), moment()],
        'Este mes': [moment().startOf('month'), moment().endOf('month')],
        'Mes pasado': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
      },
      locale: {
        format: 'DD/MM/YYYY',
        cancelLabel: 'Cancelar',
        applyLabel: 'Aplicar',
        fromLabel: 'Desde',
        toLabel: 'Hasta',
        customRangeLabel: 'Editar fecha',
        weekLabel: 'Semana',
        daysOfWeek: [
          'Do',
          'Lu',
          'Ma',
          'Mi',
          'Ju',
          'Vi',
          'Sa'
        ],
        monthNames: [
          'Enero',
          'Febrero',
          'Marzo',
          'Abril',
          'Mayo',
          'Junio',
          'Julio',
          'Agosto',
          'Septiembre',
          'Octubre',
          'Noviembre',
          'Deciembre'
        ],
        firstDay: 1
      }
    }, function() {
      setTimeout(function() {
        $('#select_range').submit();
      }, 100)
    });

    $('#dash-products-tab').on('click', function() {
      $('#dash-products-tab').addClass('selected-tab');
      $('#dash-categories-tab').removeClass('selected-tab');
      $('#dash-products-content').show();
      $('#dash-categories-content').hide();
    });

    $('#dash-categories-tab').on('click', function() {
      $('#dash-categories-tab').addClass('selected-tab');
      $('#dash-products-tab').removeClass('selected-tab');
      $('#dash-products-content').hide();
      $('#dash-categories-content').show();
    });
  });
</script>
