<div class="container-fluid reduced-container-padding mb-16">
  <div class="card">
    <div class="container-fluid index">
      <div class="row">
        <div class="col-xs-12 col-md-6 mb-20">
          <h1 class="d-inline index__title">Dashboard</h1>
          <div class="index__desc">
          </div>
        </div>
        <% if flash[:alert] %>
          <div class="col-xs-12 mb-20">
            <div class="warning-box" role="alert">
              <strong>¡Ups!</strong> <%= flash[:alert] %>
            </div>
          </div>
        <% end %>
        <div class="col-xs-12 col-md-6 mt-8 t-right button-sm-and-down mb-20">
          <%= form_for(:search, url: retailers_dashboard_path(current_retailer), method: :get, html: { id: 'select_range' }) do |form| %>
            <div id="date-picker-container" class="select-range">
              <%= form.text_field :range, value: date_from_parameters, data: { behavior: 'daterangepicker' } %>
              <span class="c-secondary"><i class="fas fa-caret-down"></i></span>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 mt-40">
          <div class="t-center">Visión General</div>
          <div class="row">
            <div class="col-xs-12 pl-0 mb-10 mt-15">
              Órdenes Totales: <b class="c-secondary"><%= @orders_count %></b>
            </div>
            <div class="col-xs-12 col-sm-3 splitted-stats d-inline-flex">
              <div class="col-xs-3 col-sm-3 c-secondary t-center">
                <i class="fas fa-check-circle fs-40 mt-5"></i>
              </div>
              <div class="col-xs-6 col-sm-6">
                <div class="c-gray-label">Completadas</div>
                <div class="c-secondary"><b><%= @success_orders_count %></b></div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-1"></div>
            <div class="col-xs-12 col-sm-3 splitted-stats d-inline-flex">
              <div class="col-xs-3 col-sm-3 c-secondary t-center">
                <i class="far fa-check-circle fs-40 mt-5"></i>
              </div>
              <div class="col-xs-6 col-sm-6">
                <div class="c-gray-label">Pendientes</div>
                <div class="c-secondary"><b><%= @pending_orders_count %></b></div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-1"></div>
            <div class="col-xs-12 col-sm-3 splitted-stats d-inline-flex">
              <div class="col-xs-3 col-sm-3 c-secondary t-center">
                <i class="fas fa-times-circle fs-40 mt-5"></i>
              </div>
              <div class="col-xs-6 col-sm-6">
                <div class="c-gray-label">Canceladas</div>
                <div class="c-secondary"><b><%= @cancelled_orders_count %></b></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 pl-0 mb-10 mt-15">
              Ganancias Totales: <b class="c-secondary"><%= current_retailer.currency_symbol %><%= @profit_total %></b>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 pl-0 mb-10 mt-15">
              Total Mensajes: <b class="c-secondary"><%= @total_chats + @total_questions %></b>
            </div>
            <div class="col-xs-12 col-sm-4 splitted-stats d-inline-flex">
              <div class="col-xs-3 col-sm-3 c-secondary t-center">
                <i class="far fa-comments fs-40 mt-5"></i>
              </div>
              <div class="col-xs-8 col-sm-8">
                <div class="c-gray-label">Cantidad de Mensajes</div>
                <div class="c-secondary"><b><%= @total_chats %></b></div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-1"></div>
            <div class="col-xs-12 col-sm-4 splitted-stats d-inline-flex">
              <div class="col-xs-3 col-sm-3 c-secondary t-center">
                <i class="far fa-question-circle fs-40 mt-5"></i>
              </div>
              <div class="col-xs-8 col-sm-8">
                <div class="c-gray-label">Cantidad de Preguntas</div>
                <div class="c-secondary"><b><%= @total_questions %></b></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 divider mt-30"></div>
        <div class="col-xs-12 col-sm-7 mt-40">
          <div class="t-center mb-10">Productos más vendidos</div>
          <div class="dash-products-clients-container">
            <!--
            <div class="row col-xs-12 col-sm-12 dashboard-tabs px-0">
              <div id="dash-products-tab" class="col-xs-12 tab-links t-center py-10 selected-tab">
                Productos
              </div>
              <div id="dash-categories-tab" class="col-xs-12 col-sm-6 tab-links t-center py-10">
                Categorías
              </div>
            </div>
            -->
            <div id="dash-products-content" class="col-xs-12 col-sm-12 tabs-content">
              <div class="row">
                <div class="col-xs-12 col-sm-12 mt-10">
                  <div class="table box">
                    <div class="table__header row center-sm hide-on-sm-and-down table-header-labels">
                      <div class="col-xs-2 col-sm-2">Imagen</div>
                      <div class="col-xs-6 col-sm-6">Producto</div>
                      <div class="col-xs-2 col-sm-2">Vendidos</div>
                      <div class="col-xs-2 col-sm-2">Ganancia</div>
                    </div>
                    <% @best_products.each do |product| %>
                      <div class="divider"></div>
                      <div class="table__item row middle-xs py-0">
                        <div class="col-xs-2 col-sm-2 t-center">
                          <% if product.main_picture_id %>
                            <%= cl_image_tag("#{product.images&.find(product.main_picture_id)&.key}", transformation: [{width: 50, height: 50, crop: :scale}]) %>
                          <% elsif product.images&.first&.key.present? %>
                            <%= cl_image_tag("#{product.images&.first&.key}", transformation: [{width: 50, height: 50, crop: :scale}]) %>
                          <% else %>
                            <i class="fas fa-camera-retro fs-40 c-grey"></i>
                          <% end %>
                        </div>
                        <div class="col-xs-6 col-sm-6 t-center"><%= product.title %></div>
                        <div class="col-xs-2 col-sm-2 t-center"><%= product.range_total_sold(@start_date, @end_date) %></div>
                        <div class="col-xs-2 col-sm-2 t-center c-green"><%= current_retailer.currency_symbol %><%= product.range_total_earned(@start_date, @end_date) %></div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div id="dash-categories-content" class="row col-xs-12 col-sm-12 tabs-content d-none">
              <div class="row">
                <div class="col-xs-12 col-sm-12 mt-10">
                  <div class="table box">
                    <div class="table__header row center-sm hide-on-sm-and-down table-header-labels">
                      <div class="col-xs-5 col-sm-5">Nombre</div>
                      <div class="col-xs-2 col-sm-2">Productos</div>
                      <div class="col-xs-2 col-sm-2">Vendidos</div>
                      <div class="col-xs-3 col-sm-3">Ganancia</div>
                    </div>
                    <% @best_categories.each do |cat| %>
                      <div class="divider"></div>
                      <div class="table__item row middle-xs py-0">
                        <div class="col-xs-5 col-sm-5 t-center"><%= cat.name %></div>
                        <div class="col-xs-2 col-sm-2 t-center"><%= cat.total_products(current_retailer) %></div>
                        <div class="col-xs-2 col-sm-2 t-center"><%= cat.total_products_sold(current_retailer, @start_date, @end_date) %></div>
                        <div class="col-xs-3 col-sm-3 t-center c-green"><%= current_retailer.currency_symbol %><%= cat.earnings(current_retailer, @start_date, @end_date) %></div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 mt-40">
          <div class="t-center mb-10">Mejores clientes</div>
          <div class="dash-products-clients-container">
            <div class="row col-xs-12 col-sm-12 px-0">
              <div class="col-xs-12 col-sm-12 dash-best-clients py-10">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="table box">
                      <div class="table__header row center-sm hide-on-sm-and-down table-header-labels">
                        <div class="col-sm-4">Cliente</div>
                        <div class="col-sm-4">Items</div>
                        <div class="col-sm-4">Ganancia</div>
                      </div>
                      <% @best_clients.each do |customer| %>
                        <div class="divider"></div>
                        <div class="table__item row middle-xs">
                          <div class="col-xs-4 col-sm-4">
                            <% if customer.full_names.present? %>
                              <div class="t-center"><%= customer.full_names %></div>
                            <% else %>
                              <div class="t-center"><%= customer.meli_nickname || customer.email %></div>
                            <% end %>
                          </div>
                          <div class="col-xs-4 col-sm-4">
                            <div class="t-center"><%= customer.range_items_bought(@start_date, @end_date) %></div>
                          </div>
                          <div class="col-xs-4 col-sm-4">
                            <div class="t-center c-green"><%= current_retailer.currency_symbol %><%= customer.range_earnings(@start_date, @end_date) %></div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 divider mt-30"></div>
        <div class="col-xs-12 mt-40">
          <div class="t-center">Total de ganancias</div>
          <%= area_chart @incoming_total %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    var today = new Date;
    $('[data-behavior="daterangepicker"]').daterangepicker({
      opens: 'left',
      startDate: '<%= @start_date %>',
      endDate: '<%= @end_date %>',
      maxDate: today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear(),
      ranges: {
        'Hoy': [moment(), moment()],
        'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Últimos 7 días': [moment().subtract(6, 'days'), moment()],
        'Últimos 30 días': [moment().subtract(29, 'days'), moment()],
        'Este mes': [moment().startOf('month'), moment().endOf('month')],
        'Mes pasado': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
      },
      locale: {
        format: 'DD/MM/YYYY',
        cancelLabel: 'Cancelar',
        applyLabel: 'Aplicar',
        fromLabel: 'Desde',
        toLabel: 'Hasta',
        customRangeLabel: 'Editar fecha',
        weekLabel: 'Semana',
        daysOfWeek: [
          'Do',
          'Lu',
          'Ma',
          'Mi',
          'Ju',
          'Vi',
          'Sa'
        ],
        monthNames: [
          'Enero',
          'Febrero',
          'Marzo',
          'Abril',
          'Mayo',
          'Junio',
          'Julio',
          'Agosto',
          'Septiembre',
          'Octubre',
          'Noviembre',
          'Diciembre'
        ],
        firstDay: 1
      }
    }, function() {
      setTimeout(function() {
        $('#select_range').submit();
      }, 100)
    });

    $('#dash-products-tab').on('click', function() {
      $('#dash-products-tab').addClass('selected-tab');
      // $('#dash-categories-tab').removeClass('selected-tab');
      $('#dash-products-content').show();
      $('#dash-categories-content').hide();
    });

      /*
    $('#dash-categories-tab').on('click', function() {
      $('#dash-categories-tab').addClass('selected-tab');
      $('#dash-products-tab').removeClass('selected-tab');
      $('#dash-products-content').hide();
      $('#dash-categories-content').show();
    });
     */

    $('#date-picker-container, #search_range').on('click', function() {
      $('#search_range').data('daterangepicker').toggle();
    });
  });
</script>
