<div class="aligner-row head">
  <h3>Chats</h3>
  <div class="w-100 middle-right">
    <a class="btn ml-8" href="http://www.url.com" target="_blank">Ayuda</a>
  </div>
</div>

<div class="container-fluid">
  <div class="row middle-xs mt-8 mb-8">
    <div class="col-xs-6">
      <p>Mostrando <%= @chats.count %> chats</p>
    </div>
  </div>
  <div class="row">
    <% if @chats.count == 0 %>
      <div class="center-xs middle-xs">
        <h1>No tienes :(</h1>
      </div>
    <% end %>
    <% @chats.each do |order| %>
      <div class="col-xs-12">
        <div class="card">
          <div class="box">
            <div class="row">
              <div class="col-xs-12 col-md-2">
                <p class="product-text my-0">
                  <b class="normal black-text">Orden:</b> <%= order.id %><br/>
                  <b class="normal black-text">Usuario:</b> <%= order.customer.first_name.present? ? order.customer.name() : (order.customer.meli_nickname ||
                  order.customer.meli_customer.nickname) %><br/>
                  <% if order.products.present? %>
                    <b class="normal black-text">Producto:</b> <%= order.products.first.title %><br/>
                  <% else %>
                    <b class="normal black-text">Producto:</b> No existen productos<br/>
                  <% end %>
                </p>
              </div>
              <div class="col-xs-12 col-md-6">
                <p class="product-text my-0 last-message">
                  <b class="normal black-text">Fecha</b> <%= order.last_message.created_at.strftime("%d %B") %><br/>
                  <% if order.last_message.answer %>
                    <%= order.last_message.answer %>
                  <% elsif order.last_message.question %>
                    <%= order.last_message.question %>
                  <% end %>
                </p>
              </div>
              <div class="col-xs-12 col-md-3">
                <div class="box h-100">
                  <div class="row middle-xs h-100">
                    <div class="col-xs-12 t-right">
                      <%= link_to image_tag('dashboard/show-icon-index.png', class: 'w-20 mr-8'), retailers_order_messages_path(@retailer, order, return_to: 'chat') %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row middle-xs center-xs">
    <div class="col-xs-12">
      <%= paginate @chats %>
    </div>
  </div>
</div>
