<div class="container-fluid reduced-container-padding mb-16">
  <div class="card">
    <div class="container-fluid index">
      <div class="row middle-xs">
        <div class="col-xs-12 col-sm-4">
          <h1 class="d-inline name">Pregunta</h1>
        </div>
        <div class="col-xs-12 col-sm-8 hide-on-tablet-and-down">
          <div class="index__ctas f-right">
            <%= link_to retailers_questions_path(current_retailer, answered: @question.answered), class: 'btn btn--cta' do %>
              <i class="fas fa-arrow-left mr-5"></i>
              Atrás
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid products">
      <div class="row">
        <div class="col-xs-12">
          <fieldset class="fieldset mt-16">
          <legend>Información de la pregunta</legend>
            <input type="hidden" id="model-id" value="<%= params[:question_id] %>" />
            <input type="hidden" id="slug-id" value="<%= params[:slug] %>" />
            <div class="box pt-25">
              <div class="row">
                <div class="col-xs-12 col-sm-3">
                  <fieldset class="fieldset mt-16">
                  <legend>Enviado por:</legend>
                    <p>
                      <label class="c-grey fs-14">Usuario:</label> <span class="c-secondary fs-14"><%= @question.customer.full_name.present? ? @question.customer.full_name : (@question.customer.meli_nickname ||
                      @question.customer.meli_customer.nickname) %></span>
                    </p>
                    <p>
                      <label class="c-grey fs-14">Producto:</label> <span class="c-secondary fs-14"><%= @question.product&.title || 'No existe el producto' %></span>
                    </p>
                  </fieldset>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <fieldset class="fieldset mt-16">
                  <legend>Detalles:</legend>
                    <p>
                      <label class="c-grey fs-14">Fecha:</label> <span class="c-secondary fs-14"><%= show_date(@question.created_at) %></span>
                    </p>
                    <p>
                      <label><%= @question.question %></label>
                    </p>
                    <% if @question.answered %>
                      <p class="t-right">
                        <label class="c-grey fs-14">Fecha:</label> <span class="c-secondary fs-14"><%= show_date(@question.updated_at) %></span>
                      </p>
                      <p class="t-right">
                        <label><%= @question.answer %></label>
                      </p>
                    <% end %>
                    <% unless @question.answered %>
                      <%= form_tag retailers_answer_question_path(current_retailer, @question), method: :put do %>
                        <div class="row">
                          <%= text_area_tag :answer, nil, placeholder: 'Texto de respuesta', class: 'input h-77' %>
                          <p class="note-archived"><i>Nota: Para preguntas, no se debe incluir información de contacto como teléfonos, 
                          direcciones exactas o nombres personales</i></p>
                        </div>
                        <div class="t-center">
                          <%= submit_tag 'Enviar', class: 'btn-btn btn-submit w-100' %>
                        </div>
                      <% end %>
                    <% end %>
                  </fieldset>
                </div>
                <!--<% unless @question.answered %>
                  <div id="templates" class="col-xs-12 col-sm-3">
                    <fieldset class="fieldset mt-16">
                    <legend>Plantillas:</legend>
                      <input type="search" id="template-question-search" class="input search-field w-100" placeholder="Busca por titulo o respuesta">
                      <div id="templates-container">
                      </div>
                    </fieldset>
                  </div>
                <% end %>-->
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    getAjax('/retailers/templates/templates_for_questions', function(data) {
      $('#templates-container').empty();
      var json = JSON.parse(data);
      json.forEach(buildQuestionList);
    });
  });
</script>

<script src="<%= asset_path 'retailers/templates/templates.js' %>" charset="utf-8"></script>
