<div class="box">
  <div class="row">
    <%= form_for [:retailers, @order], html: { class: 'col-xs-12 p-0' } do |f| %>
      <fieldset class="fieldset mt-16">
        <legend>Información de la orden</legend>
        <input type="hidden" id="hidden-merc-status" value="<%= @order.status %>" />
        <div class="my-16" id="customer_id_container">
          <%= f.label :customer_id, 'Cliente' %>
          <%= f.select :customer_id, Retailer.active_customers(current_retailer).map { |c| [c.full_name, c.id] }, { include_blank: false }, class: 'input', onchange: 'updateEditForm()' %>
        </div>
        <div id="add_customer_container" class="links mt-16 mb-24 pb-10">
          <a class="btn btn--cta fs-12 fs-sm-and-down-8 f-right" onclick="editClient()" id="edit_customer">
            <i class="fas fa-edit mr-5"></i>
            Editar cliente
          </a>
          <%= link_to_add_association f, :customer, partial: 'new_customer_fields', class: 'btn btn--cta fs-12 fs-sm-and-down-8 f-right', id: 'add_customer' do %>
            <i class="fas fa-plus mr-5"></i>
            Agregar cliente
          <% end %>
        </div>
        <div id="edit-client-order-form" class="d-none">
          <%= f.fields_for :customer, @customer do |cust| %>
            <%= render "customer_fields", f: cust %>
          <% end %>
        </div>
        <div class="my-16">
          <%= f.label :status, 'Estado' %>
          <%= f.select :status, Order.statuses.keys.collect { |s| [ Order.enum_translation(:statuses, s), s ]}, { include_blank: false, disabled: @order.disabled_statuses }, onchange: 'showHideFeedback(this);', class: 'input' %>
        </div>
        <% if @order.status != 'pending' && @order.feedback_rating.present? %>
          <div class="w-100">
            <h4>Calificar Venta</h4>
          </div>
          <div class="my-16">
            <p class="c-secondary">Ya calificaste la venta!</p>
          </div>
        <% end %>
        <div id="feedback-container" class="row w-100">
          <div class="w-100">
            <h4>Calificar Venta</h4>
          </div>
          <div id="feedback-reason-container" class="my-16 w-100">
            <%= f.label :feedback_reason, 'Motivo' %>
            <%= f.select :feedback_reason, Order.build_feedback_reasons, class: 'input' %>
          </div>
          <div id="feedback-rating-container" class="my-16 w-100">
            <%= f.label :feedback_rating, 'Calificación' %>
            <%= f.select :feedback_rating, Order.feedback_ratings.keys.collect { |r| [ Order.enum_translation(:feedback_ratings, r), r ]}, disabled: ['positive'], class: 'input' %>
          </div>
          <div class="my-16 w-100">
            <%= f.label :feedback_message, 'Mensaje' %>
            <%= f.text_area :feedback_message, class: 'input h-40' %>
          </div>
        </div>
        <fieldset class="fieldset mt-61">
          <legend>Items en la orden</legend>
          <div id="order_items" class="w-100">
            <%= f.fields_for :order_items do |oi| %>
              <%= render "order_items_fields", f: oi %>
            <% end %>
            <% if @order.id.blank? || @order.status == 'pending' %>
              <div class="links mt-16 mb-24 t-right">
                <%= link_to_add_association f, :order_items, partial: 'new_order_items_fields', class: 'btn btn--cta' do %>
                  <i class="fas fa-plus mr-5"></i>
                  Añadir Item
                <% end %>
              </div>
            <% end %>
          </div>
        </fieldset>
        <div class="btn-box col-xs-12">
          <%= f.submit 'Guardar', class: 'btn-btn btn-submit m-0' %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>

<script charset="utf-8">
  <% if @order&.errors&.any? %>
    <% @order.errors.each do |attribute, message| %>
      showtoast("<%= message %>")
    <% end %>
  <% end %>
</script>

<script src="<%= asset_path 'orders/orders.js' %>" charset="utf-8"></script>
