<div class="box">
  <div class="row">
    <%= form_for [:retailers, @order], html: { class: 'col-xs-12 p-0' } do |f| %>
      <fieldset class="fieldset mt-16">
        <legend>Informaci칩n de la orden</legend>
        <input type="hidden" id="hidden-merc-status" value="<%= @order.merc_status %>" />
        <% if (action_name == 'edit' || action_name == 'update') && @order.meli_order_id.present? %>
          <div class="my-16">
            <%= f.select :status, Order.statuses.keys.collect { |s| [ Order.enum_translation(:status, s), s ]}, include_blank: false, disabled: Order.statuses.keys.to_a, class: 'input' %>
            <%= f.label :status, 'Status MercadoLibre' %>
          </div>
        <% end %>
        <div class="my-16">
          <%= f.label :customer_id %>
          <%= f.select :customer_id, current_retailer.customers.collect { |c| [ c.full_name, c.id ]}, include_blank: false, class: 'input' %>
        </div>
        <div class="my-16">
          <%= f.label :merc_status, 'Status' %>
           <%= f.select :merc_status, Order.merc_statuses.keys.collect { |s| [ Order.enum_translation(:merc_statuses, s), s ]}, { include_blank: false, disabled: @order.disabled_statuses }, onchange: 'showHideFeedback(this);', class: 'input' %>
        </div>
        <div id="feedback-container" class="row w-100">
          <div class="w-100">
            <h3>Informaci칩n de Feedback</h3>
          </div>
          <div id="feedback-reason-container" class="my-16">
            <%= f.label :feedback_reason, 'Motivo' %>
            <%= f.select :feedback_reason, Order.build_feedback_reasons, class: 'input' %>
          </div>
          <div id="feedback-rating-container" class="my-16">
            <%= f.label :feedback_rating, 'Calificaci칩n' %>
            <%= f.select :feedback_rating, Order.feedback_ratings.keys.to_a, disabled: ['positive'], class: 'input' %>
          </div>
          <div class="my-16">
            <%= f.label :feedback_message, 'Mensaje' %>
            <%= f.text_area :feedback_message, class: 'feedback-message' %>
          </div>
        </div>
        <fieldset class="fieldset mt-16">
          <legend>Items en la orden</legend>
          <div id="order_items" class="w-100">
            <%= f.fields_for :order_items do |oi| %>
              <%= render "order_items_fields", f: oi %>
            <% end %>
            <% if @order.id.blank? || @order.merc_status == 'pending' %>
              <div class="links mt-16">
                <%= link_to_add_association 'A침adir item', f, :order_items, partial: 'new_order_items_fields', class: 'btn btn--cta' %>
              </div>
            <% end %>
          </div>
        </fieldset>
        <div class="btn-box col-xs-12">
          <%= f.submit 'Guardar', class: 'btn-btn btn-submit' %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>

<script charset="utf-8">
  <% if @order&.errors&.any? %>
    <% @order.errors.each do |attribute, message| %>
      showtoast("<%= message %>")
    <% end %>
  <% end %>
</script>

<script src="<%= asset_path 'orders/orders.js' %>" charset="utf-8"></script>
