<div class="nested-fields">
  <div class="my-16">
    <%= f.label :product_id %>
    <%= f.select :product_id, Retailer.active_products(current_retailer).pluck(:title, :id), { include_blank: false, class: 'input' }, onchange: 'getProductInfo(this);' %>
  </div>
  <div class="my-16">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, class: 'input' %>
  </div>
  <div class="my-16">
    <%= f.label :unit_price %>
    <%= f.number_field :unit_price, class: 'input', onkeyup: 'editPrice(this);' %>
  </div>
  <%= link_to_remove_association 'Remover item', f, class: 'btn btn--destroy mb-16' %>
</div>
