<div class="box">
  <div class="nested-fields row">
    <%= f.hidden_field :id %>
    <div class="group col-xs-12 col-md-4">
      <%= f.hidden_field :product_id %>
      <label for="product_name">Producto</label>
      <p id="product_name" class="p-content"><%= f.object.product.title %></p>
    </div>
    <% if f.object.product_variation_id.present? %>
      <%= f.hidden_field :product_variation_id %>
      <div class="variation-details-group col-xs-12 col-md-4">
        <p class="variation-details-label">Detalles</p>
        <% f.object.product_variation.data['attribute_combinations'].each do |v| %>
          <label class="variation-detail-label"><%= v['name'] || v['id'] %>:</label>&nbsp;&nbsp;&nbsp;<label class="variation-detail-content"><%= v['value_name'] || v['value_id'] %></label><br />
        <% end %>
      </div>
      <div class="group col-xs-12 col-md-2">
        <%= f.number_field :quantity, placeholder: '', readonly: f.object.order.merc_status != 'pending' %>
        <%= f.label :quantity %>
        <span class="bar"></span>
      </div>
      <div class="group col-xs-12 col-md-2">
        <%= f.text_field :unit_price, placeholder: '', readonly: f.object.order.merc_status != 'pending', onkeyup: 'editPrice(this);' %>
        <%= f.label :unit_price %>
        <span class="bar"></span>
      </div>
    <% else %>
      <div class="group col-xs-12 col-md-4">
        <%= f.number_field :quantity, placeholder: '', readonly: f.object.order.merc_status != 'pending' %>
        <%= f.label :quantity %>
        <span class="bar"></span>
      </div>
      <div class="group col-xs-12 col-md-4">
        <%= f.text_field :unit_price, placeholder: '', readonly: f.object.order.merc_status != 'pending', onkeyup: 'editPrice(this);' %>
        <%= f.label :unit_price %>
        <span class="bar"></span>
      </div>
    <% end %>
    <% if f.object.order.merc_status == 'pending' %>
      <%= link_to_remove_association 'Remover item', f %>
    <% end %>
  </div>
</div>
