<div class="aligner-row head">
  <h3>Ordenes</h3>
  <div class="w-100 middle-right">
    <%= link_to 'Crear orden', new_retailers_order_path %>
    <a class="btn ml-8" href="http://www.url.com" target="_blank">Ayuda</a>
  </div>
</div>

<div class="container-fluid">
  <div class="row middle-xs mt-8 mb-8">
    <div class="col-xs-6">
      <p>Mostrando <%= @orders.count %> ordenes</p>
    </div>
  </div>
  <div class="row">
    <% @orders.each do |order| %>
      <div class="col-xs-12">
        <div class="card">
          <div class="box">
            <div class="row">
              <div class="col-xs-12 col-md-5">
                <div class="box">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="box">
                        <div class="row">
                          <div class="col-xs-12 col-md-4"><p class="normal black-text t-center mb-0 mt-3">Cliente</p></div>
                          <div class="col-xs-12 col-md-8">
                            <p class="product-text my-0">
                              <%= order.customer.name %><br/>
                              <%= order.customer.email %><br/>
                              <%# order.address %>example<br/>
                              <%# order.customer.phone %>example<br/>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <p class="product-text my-0">
                        <b class="normal black-text mr-16">Monto</b> <%= order.total %>$<br/>
                        <b class="normal black-text">Modo de pago</b> Tarjeta<%# order.email %><br/>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-2"></div>
              <div class="col-xs-12 col-md-5">
                <div class="box">
                  <div class="row">
                    <div class="col-xs-6 col-md-4">
                      Estado&nbsp;&nbsp;&nbsp;
                      <div class="cookie"><%= order.status %></div>
                    </div>
                    <div class="col-xs-6 col-md-5">
                      <p class="product-text t-right my-0">
                        <b class="normal black-text">Ordenado el</b>   11-Feb <br class="hide-on-med-and-up"/>( 2 months ago )<%# order.name %><br/>
                        <b class="normal black-text">Pagado el</b>   11-Feb <br class="hide-on-med-and-up"/>( 2 months ago )<%# order.email %>
                      </p>
                    </div>
                    <div class="col-xs-12 col-md-3">
                      <%= link_to 'Show', retailers_order_path(@retailer.slug, order) %>
                      <%= link_to 'Edit', edit_retailers_order_path(@retailer.slug, order) %>
                      <%= link_to 'Destroy', retailers_order_path(@retailer.slug, order), method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row middle-xs center-xs">
    <div class="col-xs-12">
      <%= paginate @orders %>
    </div>
  </div>
</div>
