<div class="container-fluid reduced-container-padding mb-16">
  <div class="card">
    <div class="container-fluid order">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <table class="table_order_details mb-16">
            <tr>
              <td class="table_order_details__descriptor">Cliente</td>
              <td class="table_order_details__value">
                <%= @order.customer.full_name %><br/>
                <%= @order.customer.email %><br/>
                <%= @order.customer.phone %>
              </td>
            </tr>
            <tr>
              <td class="table_order_details__descriptor">Dirección</td>
              <td class="table_order_details__value"><%= @order.customer.address %></td>
            </tr>
            <tr>
              <td class="table_order_details__descriptor">Fecha de compra</td>
              <td class="table_order_details__value"><%= show_date(@order.created_at) %></td>
            </tr>
              <tr>
                <td class="table_order_details__descriptor">Estado</td>
                <td class="table_order_details__value"><b class="cookie <%= cookie(@order.merc_status) %>"><%= @order.merc_status %></b></td>
              </tr>
          </table>
        </div>
        <div class="col-xs-12 col-sm-6 hide-on-tablet-and-down">
          <div class="mt-8 t-right">
            <%# <a class="cta--dashboard mr-8" href="">Enviar email</a> %>
            <%# <a class="cta--dashboard" href="">Ver PDF</a> %>
            <%= link_to retailers_order_messages_path(current_retailer, @order, return_to: 'order'), class: 'btn btn--cta' do %>
              <i class="fas fa-comment-alt mr-5"></i>
              Chat de la orden
            <% end %>
            <%= link_to retailers_orders_path(current_retailer, status: @order.merc_status), class: 'btn btn--cta' do %>
              <i class="fas fa-arrow-left mr-5"></i>
              Volver
            <% end %>
            <%= link_to edit_retailers_order_path(current_retailer, @order), class: 'btn btn--cta' do %>
              <i class="fas fa-edit mr-5"></i>
              Editar
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid order mt-25">
      <div class="row">
        <div class="col-xs-12">
          <div class="table box m-0">
            <div class="table__header row hide-on-tablet-and-down center-sm">
              <div class="col-sm-5">Producto</div>
              <div class="col-sm-2">Cantidad</div>
              <div class="col-sm-2">Precio</div>
              <div class="col-sm-3">Sub-total</div>
            </div>
            <% @order.order_items.each do |oi| %>
              <div class="divider"></div>
              <div class="table__item row middle-xs">
                <div class="col-xs-9 col-sm-5 t-center"><%= oi.product.title %></div>
                <div class="col-xs-4 col-sm-2 t-center">
                  <span class="hide-on-md-and-up mr-5">Cantidad:</span>
                  <%= oi.quantity %>
                </div>
                <div class="col-xs-4 col-sm-2 t-center c-secondary">
                  <span class="hide-on-md-and-up mr-5">Precio:</span>
                  $<%= oi.unit_price %>
                </div>
                <div class="col-xs-4 col-sm-3 t-center c-secondary">
                  <span class="hide-on-md-and-up mr-5">Sub-total:</span>
                  $<%= oi.subtotal %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 my-8 t-right">
          <div class="divider"></div>
          <div class="box mt-16">
            <div class="row end-xs">
              <div class="col-xs-12 col-sm-3 t-center">
                <h3>
                  Total: <span class="ml-5 money" style="font-size: 22px;">$<%= @order.total %></span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
