<% content_for :meta_title, "Ingresa a Mercately | CRM de Whatsapp" %>
<% content_for :meta_description,"Comienza a utilizar nuestro servicio. Ingresa y mejora la gesti칩n de tus agentes de venta, respuestas automatizadas, chatbots de Whatsapp y m치s." %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="center">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <p class="login_error_message"><%= flash[:alert] %></p>
          <%= render "retailer_users/shared/error_messages", resource: resource %>
          <% if flash[:message] %>
            <p class="flash-message-login"><%= flash[:message] %></p>
          <% end %>
          <h2 class="sign mt-100">Iniciar sesi칩n</h2>
          <div class="group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: '', class: 'input-standarization' %>
            <%= f.label :email, 'Correo' %>
            <span class="bar"></span>
          </div>

          <div class="group">
            <%= f.password_field :password, autocomplete: "current-password", placeholder: '', class: 'input-standarization' %>
            <%= f.label :password, 'Contrase침a' %>
            <span class="bar"></span>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="group">
              <%= f.check_box :remember_me, class: 'f-left', style: 'width: auto;' %>
              <%= f.label :remember_me, 'Recordarme', class: 'p-static' %>
            </div>
          <% end %>

          <div class="btn-box">
            <%= f.submit 'Entrar', class: 'btn-btn btn-submit w-100' %>
          </div>
        <% end %>

        <%= render "retailer_users/shared/links" %>
      </div>
    </div>
  </div>
</div>
