<%= stylesheet_link_tag "mailers/welcome_mailer" %>
<div class="main-container-reset ff-welcome-mail">
  <div class="inner-container-reset">
    <div class="logo-container">
      <%= image_tag 'logo-mercately-h.png', class: "image-logo-reset" %>
    </div>

    <div class="ml-45 gretting-container fw-bold">
      <p class="greeting-color">Hola <%= @retailer_user.full_name %>, te saluda el equipo de Mercately.</p>
    </div>

    <div class="ml-45 mt-20 mr-45">
      <p class="fs-16 t-color lg-18">
      Tenemos buenas noticias. La plantilla:
      </p>
    </div>

    <div class="ml-45 mt-20 mr-45">
      <p class="fs-16 t-color lg-14">
      <%= @gs_template.text %>
      </p>
    </div>

    <div class="ml-45 mt-20 mr-45">
      <p class="fs-15 t-color">
      ¡Ha sido verificada satisfactoriamente! A partir de este momento podrás utilizarla para comunicarte con tus clientes.
      </p>
    </div>

    <%= render "shared/emails/footer" %>
  </div>
</div>
