<%= stylesheet_link_tag "mailers/welcome_mailer" %>
<div class="main-container-reset ff-welcome-mail">
  <div class="inner-container-reset">
    <div class="logo-container">
      <%= image_tag 'logo-mercately-h.png', class: "image-logo-reset" %>
    </div>

    <div class="ml-45 gretting-container fw-bold">
      <p class="greeting-color">Hola <%= @retailer_user.full_name %>, te saluda el equipo de Mercately.</p>
    </div>

    <div class="ml-45 mt-20 mr-45">
      <p class="fs-16 t-color lg-18">
      Hemos enviado a Whatsapp a verificar tu plantilla:
      </p>
    </div>

    <div class="ml-45 mt-20 mr-45">
      <p class="fs-16 t-color lg-14">
      <%= @gs_template.text %>
      </p>
    </div>

    <div class="ml-45 mt-20 mr-45">
      <p class="fs-15 t-color">
      Este proceso toma entre 24 a 48 horas y, una vez que sea verificada o sea rechazada, te informaremos a través de un correo electrónico. Además, podrás ver su estado en el módulo de plantillas donde hiciste el requerimiento para su verificación.
      </p>
    </div>

    <div class="ml-45 mt-20 mr-45">
      <p class="fs-15 t-color">
      Si tienes cualquier pregunta, no dudes en contactarnos.
      </p>
    </div>

    <%= render "shared/emails/footer" %>
  </div>
</div>
