<% content_for :meta_title, "Mejora tu atención al cliente con Chatbots de Whatsapp " %>
<% content_for :meta_description, "¡Aumenta tus ventas con esta herramienta! Obtén Chatbots para Whatsapp y responde a tus clientes 24/7. Conoce más sobre Mercately aquí." %>
<% content_for :og_url, "https://mercately.com/chatbots-whatsapp" %>
<% content_for :og_type, "website" %>
<% content_for :og_title, "Mejora tu atención al cliente con Chatbots de Whatsapp " %>
<% content_for :og_description, "¡Aumenta tus ventas con esta herramienta! Obtén Chatbots para Whatsapp y responde a tus clientes 24/7. Conoce más sobre Mercately aquí." %>
<% content_for :og_image, image_url("landing/og_image.png")  %>

<section class="cw-hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6 columns align-self-middle">
        <div class="cw-hero-heading">
          <h1 class="hero-claim">
            Automatiza tu comunicación con Chatbots de WhatsApp
          </h1>
          <p class="hero-text">
            Mejora la atención al cliente y no dejes que ni una sola venta se te
            escape en Whatsapp, con el chatbot de Mercately. Responde al
            instante, envía archivos, guarda la respuesta de los clientes en tu
            CRM y más.
          </p>
          <div class="cw-btn-group-large">
            <%= link_to "Habla con nuestro Chatbot", go_to_wp_path(params.to_unsafe_h, text: "Hola%20quiero%20un%20Chatbot%20de%20WhatsApp"), id: "ws-bubble", target: '_blank', class:"btn btn-large btn-white" %>
            <label for="modal--toggle" class="btn btn-large btn-white">Quiero un chatbot</label>
          </div>
        </div>
      </div>
      <div class="col-sm-12 columns col-lg-6 align-right cw-hide-on-mobile">
        <div class="image-with-gray-backdrop">
          <%= image_tag 'chatbots-whatsapp/chatbot.gif', class: '', alt: 'Chatbots de Whatsapp para comunicacion efectiva' %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cw-benefits-holder">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 ">

        <div class="cw-benefits-tools" >
          <div class="row">
            <div class="col-lg-5 col-md-12 cw-benefits-img-holder">
              <%= image_tag 'chatbots-whatsapp/atencion.png', class: '', alt: 'Chatbots personalizados para respuestas' %>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="cw-vertical">
                <h2>Atención al cliente 24/7</h2>
                <p>
                  Nuestro chatbot brindará a tus clientes de Whatsapp una
                  atención automatizada, intuitiva y eficaz, sin necesidad de
                  que tus agentes estén conectados a toda hora.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="cw-benefits-tools" >
          <div class="row">
            <div class="col-lg-5 col-md-12 cw-benefits-img-holder">
              <%= image_tag 'chatbots-whatsapp/atencion-2.png', class: '', alt: 'Agiliza tus ventas con chatbots de whatsapp' %>
            </div>
            <div class="col-lg-6 col-md-12 ">
              <div class="cw-vertical">
                <h2>Vende con mayor facilidad</h2>
                <p>
                  Genera clientes potenciales y califícalos automáticamente. Nuestro chatbot obtiene datos de sus intereses en tiempo real.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="cw-benefits-tools" >
          <div class="row">
            <div class="col-lg-5 col-md-12 cw-benefits-img-holder">
              <%= image_tag 'chatbots-whatsapp/atencion-3.png', class: '', alt: 'personaliza las respuestas a tus clientes con chatbots de Whatsapp' %>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="cw-vertical">
                <h2>Quien mejor atiende, se queda con el cliente</h2>
                <p>
                  El 70% de los consumidores adquieren servicios de las empresas que brindan una mejor atención. El chatbot de Mercately ofrece conversaciones fáciles y de valor para solucionar cualquier requerimiento desde WhatsApp.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="t-center">
          <label for="modal--toggle" class="btn btn-large btn-white">¡Quiero un Chatbot!</label>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="cw-tools-holder">
  <div class="cw-tool-wrapper">
    <div class="container">

      <h2 class="cw-tool-title">Nuestras herramientas</h2>

      <div class="row cw-tool-main">
        <div class="col-sm-12 col-md-12 ">
          <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-6 cw-tool-exp">

                <div class="cw-tool-img">
                  <%= image_tag 'chatbots-whatsapp/bandeja.png', class: '', alt: 'Bandeja de entrada compartida para Whatsapp' %>
                </div>

                <div class="cw-tool-content">
                  <h3>Bandeja de entrada compartida</h3>

                  <p>¡Ten acceso multiagente en Whatsapp!
                  Controla chatbots y conversaciones con
                  varios agentes al mismo tiempo.</p>
                </div>

              </div>

              <div class="col-sm-12 col-md-12 col-lg-6 cw-tool-exp">

                <div class="cw-tool-img">
                  <%= image_tag 'chatbots-whatsapp/bot.png', class: '', alt: 'chatbots con respuestas programables' %>
                </div>

                <div class="cw-tool-content">
                  <h3>Chatbots</h3>

                  <p>Automatiza toda la comunicación con
                    chatbots de Whatsapp que atenderán a tu
                    cliente 24/7.
                  </p>
                </div>
              </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 cw-tool-exp">
              <div class="cw-tool-img">
                <%= image_tag 'chatbots-whatsapp/estadisticas.png', class: '', alt: 'Reporte de desempeño de chatbots y agentes' %>
              </div>

              <div class="cw-tool-content">
                <h3>Reportes</h3>
                <p>Conoce cómo se está desempeñando tu
                  equipo en Whatsapp, con estadísticas de
                  gestión que te permitirán analizar las
                  operaciones y tomar decisiones de
                  mejora.
                </p>
              </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 cw-tool-exp">

              <div class="cw-tool-img">
                <%= image_tag 'chatbots-whatsapp/integraciones.png', class: '', alt: 'Integra tus aplicaciones favoritas con WhatsApp' %>
              </div>
              <div class="cw-tool-content">
                <h3>Integraciones</h3>

                <p>Conecta tu chatbot y conversaciones de
                  Whatsapp, con plataformas externas que
                  tengan conexión vía API. Podrás guardar
                  datos, hacer consultas a bases de datos,
                  enviar mensajes transaccionales y más.
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 cw-tool-exp">
              <div class="cw-tool-img">
                <%= image_tag 'chatbots-whatsapp/notificaciones.png', class: '', alt: 'Envía notificaciones con Whatsapp' %>
              </div>

              <div class="cw-tool-content">
                <h3>Mensajes Programados</h3>
                <p>Envía mensajes programados de WhatsApp a tus clientes, mejora la contactabilidad e incrementa tus ventas </p>
              </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 cw-tool-exp">
              <div class="cw-tool-img">
                <%= image_tag 'chatbots-whatsapp/campanas.png', class: '', alt: 'Mensajes masivos con WhatsApp' %>
              </div>

              <div class="cw-tool-content">
                <h3>Campañas</h3>

                <p> Envia mensajes seguros, evita bloqueos y
                  contacta a toda tu base de datos con plantillas
                  pre aprobadas de WhatsApp.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="t-center w-100">
          <label for="modal--toggle" class="btn btn-large btn-white">Quiero un chatbot</label>
        </div>
      </div>

    </div>


    <div class="cw-featuring-wrapper">

      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-1"></div>

          <div class="col-sm-12 col-md-3">
            <div class="cw-featuring-image">
              <%= image_tag 'chatbots-whatsapp/juancarlos.jpeg', class: 'cw-featuring-img', alt: 'Mejora tus ventas online con Whatsapp Business API' %>
            </div>
          </div>
          <div class="col-sm-12 col-md-8">


            <div class="cw-featuring-content">

              <div class="cw-qoute-img-wrapper">
                <%= image_tag 'chatbots-whatsapp/quote.png', class: 'cw-quote-img', alt: 'Mejora tus ventas online con Whatsapp Business API' %>
              </div>

              <p>
                Nuestra alianza con Mercately nos permite
                ofrecer un medio seguro para que nuestros
                clientes puedan hacer consultas directamente
                en WhatsApp. La adopción de nuestro Chatbot
                ha sido realmente increíble, tenemos más de
                5000 consultas mensuales que se han resuelto
                solas.
              </p>

              <p class="t-center">
                Juan Carlos Gonzales, <br/> <strong>Gerente de Sistemas, INTERCOMMERCE S.A</strong>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>


<section class="cw-social-holder">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 cw-social-img-holder">
        <%= image_tag 'chatbots-whatsapp/messages.png', class: '', alt: 'Chatbots para Whatsapp' %>
        <p> 2,000,000 <br> mensajes enviados </p>
      </div>
      <div class="col-sm-4 cw-social-img-holder">
        <%= image_tag 'chatbots-whatsapp/clients.png', class: '', alt: 'Chatbots para mejora la comunciación con los clientes ' %>
        <p> 200,000 <br> clientes atendidos </p>
      </div>
      <div class="col-sm-4 cw-social-img-holder">
        <%= image_tag 'chatbots-whatsapp/countries.png', class: '', alt: 'Centraliza la comunicación con chatbots de Whatsapp' %>
        <p>Presencia en <br> 12 paises </p>
      </div>
    </div>
  </div>
</section>
