<div id="crm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h1 class="t-center">
          LLEVA TU NEGOCIO AL SIGUIENTE NIVEL<br/>
          CON NUESTRO CRM
        </h1>
        <h3 class="t-center">
          Mercately es el unico CRM que integra comunicación con tu<br/>
          cliente, ventas e inventario para elevar tus ventas como<br/>
          nunca antes.
        </h3>
        <h5 class="t-center">TENEMOS TODO LO QUE NECESITAS EN UNA SOLA PLATAFORMA</h5>
        <div class="t-center">
          <%= image_tag 'dashboard/order-new.png', class: 'w-30 w-sm-50' %>
          <%= image_tag 'dashboard/product.png', class: 'w-30 w-sm-50' %>
          <%= image_tag 'dashboard/mercadol.png', class: 'w-30 w-sm-50' %>
          <%= image_tag 'dashboard/messenger.png', class: 'w-30 w-sm-50' %>
          <%= image_tag 'dashboard/what.png', class: 'w-30 w-sm-50' %>
        </div>
        <div class="t-center buttons-header">
          <%= button_to 'REGISTRATE GRATIS', new_retailer_user_registration_path, method: :get, class: 'know-more-button mr-sm-16 w-224' %>
          <label for="modal--toggle" class="request-demo-label fz-15">AGENDAR PRESENTACIÓN</label>
        </div>
      </div>
    </div>
  </div>
</div>
