<% content_for :meta_title, "Responde a tus clientes de forma inmediata | Mercately" %>
<% content_for :meta_description, "Mejora tus conversaciones con los clientes, lleva un inventario sincronizado
y automatiza procesos desde un solo lugar." %>
<% content_for :og_url, "https://mercately.com" %>
<% content_for :og_type, "website" %>
<% content_for :og_title, "Responde a tus clientes de forma inmediata | Mercately" %>
<% content_for :og_description, "Mejora tus conversaciones con los clientes, lleva un
inventario sincronizado y automatiza procesos desde un solo lugar." %>
<% content_for :og_image, image_url("landing/og_image.png")  %>

<script>
  $( document ).ready(function() {
    let counter = 0

    new TypeIt("#simpleUsage", {
      speed: 50,
      loop: true,

      beforeString: async (step, instance) => {
        counter += 1

        if (counter == 1) {
          instance.getElement().style.color = '#2dce9b';
        }

        if (counter == 2) {
          instance.getElement().style.color = '#6498ec';
        }

        if (counter == 3) {
          instance.getElement().style.color = '#fd6668';
        }

        if (counter == 4) {
          instance.getElement().style.color = '#ffb900';
          counter = 0
        }

      },
    })
      .type("Conversa en multiples canales")
      .pause(1000)
      .delete(null, {speed: 200})
      .type("Vende en distintos marketplaces")
      .pause(1000)
      .delete(null, {speed: 200})
      .type("Brinda atención al cliente 24/7")
      .pause(1000)
      .delete(null, {speed: 200})
      .type("Automatiza tu comunicación")
      .pause(1000)
      .delete(null, {speed: 200})
      .go();
  });
</script>

<section class="main-landing-hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 columns align-self-middle">
        <div class="main-landing-hero-content">
          <h1 class="main-landing-title">Centraliza todos tus canales de <span class="main-color">ecommerce</span> y <span class="second-color">comunicación</span> en un solo lugar.</h1>
          <p id="simpleUsage"></p>
          <p>Mercately es un centro de manejo de comercio electrónico con poderosas herramientas
           para mejorar tu tienda en línea y el servicio al cliente.
          </p>
           <div class="btn-group-large btn-on-mobile">
              <label for="modal--toggle" class="btn btn-large btn-white">Quiero una Demo</label>
              <%= link_to 'Registrarse', new_retailer_user_registration_path(params.to_unsafe_h), class: 'btn btn-large btn-white aligned-with-label' %>
            <div>
              <%= image_tag 'whatsapp_api/official-wa-integration.png', class: '', alt: 'WhatsApp Business API Oficial' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 columns col-md-6 align-right hide-on-mobile">
        <div class="image-with-gray-backdrop main-hero-img">
          <%= image_tag 'landing/maskhome.png', class: '', alt: 'Centraliza tu comunicación y mejora tus conversaciones online' %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="main-landing-features">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 columns align-self-middle">
        <nav>
          <div class="nav nav-tabs nav-fill custom-home-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active nav-sincronize" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
              Sincroniza
            </a>
            <a class="nav-item nav-link nav-talk" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
              Conversa
            </a>
            <a class="nav-item nav-link nav-sell" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">
              Vende
            </a>
            <a class="nav-item nav-link nav-automate" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">
              Automatiza
            </a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="container-fluid sincronize-content features-content">
              <div class="row">
                <div class="col-sm-6 columns align-self-middle ">
                  <div class="title sincronize-title">
                    Sincroniza y publica tus productos
                  </div>
                  <div class="content sincronize-content-explanation">
                    <p>
                      Administra todos tus productos desde Mercately y publícalos automáticamente en Mercado Libre, Tienda de Facebook e Instagram Shopping.
                      Cada vez que cambies el detalle de un producto, lo sincronizaremos con todos los canales donde esté publicado.
                    </p>
                  </div>
                </div>
                <div class="col-sm-6 columns align-self-middle sincronize-img">
                  <%= image_tag 'landing/sincroniza.png', class: 'w-100', alt: ' Sincroniza y administra tus productos online en un solo lugar' %>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="container-fluid talk-content features-content">
              <div class="row">
                <div class="col-sm-6 columns align-self-middle">
                  <div class="title conversation-title">
                    Omnicanalidad para tu comunicación
                  </div>
                  <div class="content">
                    <p>¡Ya no basta con ver fotos de un producto, hay que conversar sobre él! Conecta a todo tu equipo para responder a tus clientes de
                      Whatsapp, Messenger y Mercado Libre desde un solo lugar. Además, podrás ver estadísticas de desempeño
                      con un par de clics.
                    </p>
                  </div>
                </div>
                <div class="col-sm-6 columns align-self-middle talk-img">
                  <%= image_tag 'landing/talk-img.png', class: 'w-100', alt: 'Centraliza la comunicación de tu empresa y da respuestas inmediatas.' %>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="container-fluid sell-content features-content">
              <div class="row">
                <div class="col-sm-6 columns align-self-middle">
                  <div class="title sales-title">
                    Organiza y administra tus ventas
                  </div>
                  <div class="content">
                    <p>¿Ya publicaste tus productos y te escribieron para conocer más sobre ellos? ¡Entonces es momento de vender! Organiza la información generando órdenes de venta con todos los datos del cliente, así como de los productos que adquirieron.
                    </p>
                  </div>
                </div>
                <div class="col-sm-6 columns align-self-middle sell-img">
                  <%= image_tag 'landing/sell.png', class: 'w-100', alt: 'Organiza tus ventas, ahorra tiempo y dinero' %>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
            <div class="container-fluid automate-content features-content">
              <div class="row">
                <div class="col-sm-6 columns align-self-middle">
                  <div class="title automate-title">
                    Mejora tu productividad
                  </div>
                  <div class="content">
                    <p>Mejora la gestión de tu empresa con automatizaciones y ChatBots. Conecta distintas plataformas para enviar mensajes transaccionales, automatizar la captación de leads, y mejorar tus procesos de venta.
                    </p>
                  </div>
                </div>
                <div class="col-sm-6 columns align-self-middle automate-img">
                  <%= image_tag 'landing/automatiza.png', class: 'w-100', alt: 'Mejora y automatiza las conversaciones con tus clientes' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="main-landing-connect">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 columns align-self-middle">
        <p class="integrations-title">Integraciones</p>
        <div class="row">
          <div class="col-sm-12 col-md-6 columns align-self-middle">
            <div class="row integrations-holder">
              <div class="col-xs-12 col-md-6 t-center">
                <%= image_tag 'landing/facebook-logo.jpg', class: 'facebook-img', alt: 'Facebook Messenger' %>
              </div>
              <div class="col-xs-12 col-md-6 t-center no-padding-left">
                <%= link_to "Sincronizar", new_retailer_user_registration_path(params.to_unsafe_h), class:'bttn bttn-border' %>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 columns align-self-middle">
            <div class="row integrations-holder">
              <div class="col-xs-12 col-md-6 t-center">
                <%= image_tag 'landing/instagram-logo.png', class: 'insta-img', alt: 'Instagram' %>
              </div>
              <div class="col-xs-12 col-md-6 t-center no-padding-left">
                <%= link_to "Sincronizar", new_retailer_user_registration_path(params.to_unsafe_h), class:'bttn bttn-border' %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 columns align-self-middle">
            <div class="row integrations-holder">
              <div class="col-xs-12 col-md-6 t-center">
                <%= image_tag 'landing/whatsapp-logo.png', class: 'ws-img', alt: 'WhatsApp' %>
              </div>
              <div class="col-xs-12 col-md-6 t-center no-padding-left">
                <%= link_to "Sincronizar", new_retailer_user_registration_path(params.to_unsafe_h), class:'bttn bttn-border' %>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 columns align-self-middle">
            <div class="row integrations-holder">
              <div class="col-xs-12 col-md-6 t-center">
                <%= image_tag 'landing/mercado-libre-1.svg', class: '', alt: 'MercadoLibre' %>
              </div>
              <div class="col-xs-12 col-md-6 t-center no-padding-left">
                <%= link_to "Sincronizar", new_retailer_user_registration_path(params.to_unsafe_h), class:'bttn bttn-border' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section sections-clients">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 >
          Qué dicen nuestros clientes
        </h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 col-md-6 recomendation-on-mobile">
            <div class="recomendation-wrapper">
              <div class="">
                <p>
                  <strong>"Mercately es la mejor opción para empezar un negocio online.</strong>
                  Con todas sus herramientas pude organizar mis conversaciones, clientes, ventas y adentrarme en el e-commerce de manera sencilla.”
                </p>
              </div>
              <figure class="">
                <picture>
                  <%= image_tag 'whatsapp_api/weider.jpeg', class: 'recommend-img', alt: 'Mercately | Whatsapp API - CRM de WhatsApp' %>
                </picture>
                <figcaption>Weider Paez, <br /><a href="">Capfe.com.ec</a></figcaption>
              </figure>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="recomendation-wrapper">
              <div class="">
                <p>
                  <strong>"Con Mercately logre organizar el WhatsApp de mi empresa y aumentar 30% mis ventas por ese canal.</strong>
                  Antes no tenia control de las conversaciones con mis clientes. Mercately cambio por completo mi negocio.”
                </p>
              </div>
              <figure class="">
                <picture>
                  <%= image_tag 'whatsapp_api/francisco.jpeg', class: 'recommend-img', alt: 'Mercately | Whatsapp API - CRM de WhatsApp' %>
                </picture>
                <figcaption>Francisco Zambrano, <br /><a href="">PequeAyuda.com</a></figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="main-landing-stats">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 stats-img-holder">
        <%= image_tag 'landing/celular1.png', class: '', alt: 'Con chatbots de Whatsapp envía mensajes con respuesta inmediata' %>
        <p> 2,000,000 <br/> mensajes enviados </p>
      </div>
      <div class="col-sm-4 stats-img-holder">
        <%= image_tag 'landing/clients.png', class: '', alt: 'Centraliza tu comunicación con Whatsapp APi y administra tu
inventario en un solo lugar' %>
        <p> 200,000 <br/> clientes atendidos </p>
      </div>
      <div class="col-sm-4 stats-img-holder">
        <%= image_tag 'landing/world.png', class: '', alt: 'Integra y automatiza la comunicación con tus clientes.' %>
        <p>Presencia en <br/> 12 paises </p>
      </div>
    </div>
  </div>
</section>

<section class="main-landing-clients">
  <div class="container">
    <h3>Más de 500 empresas en todo el mundo confian en nosotros</h3>
    <div class="clients-imgs">
      <%= image_tag 'landing/auto-seguro.png', class: 'recommend-img', alt: 'Clientes Mercately | AutoSeguro' %>

      <%= image_tag 'landing/belcorp.png', class: 'recommend-img', alt: 'Clientes Mercately | Belcorp' %>

      <%= image_tag 'landing/logo_sushicorp.png', class: 'recommend-img', alt: 'Clientes Mercately | Noe Sushi Bar' %>

      <%= image_tag 'landing/mefin.png', class: 'recommend-img', alt: 'Clientes Mercately | Mefincash' %>

      <%= image_tag 'landing/pizza-plant.webp', class: 'recommend-img', alt: 'Clientes Mercately | Pizza Planet' %>

      <%= image_tag 'landing/uys.png', class: 'recommend-img', alt: 'Uribe & Schwarzkopf' %>
    <div>
  </div>
</section>
