<div class="center-landing">
  <%= image_tag 'landing/animacion.gif', class: 'giftcenter', alt: 'Sincronización Mercadolibre' %>
  <div class="box">
    <h1>Vende más y mejor en MercadoLibre</h1>
    <p>Mercately aumenta tus ventas en MercadoLibre a través de herramientas de gestión que optimizan tu negocio.</p>
    <div class="center-landing box-actions">
      <%= button_to 'PRUEBA GRATIS', new_retailer_user_registration_path, method: :get, class: 'btn-landing bg-primary' %>
      <%= link_to 'SABER MÁS', '#know-more', class: 'btn-landing bg-secondary normal' %>
    </div>
  </div>
</div>
<div class="section container">

  <div class="title">
    <h2 id="what-is-it">Sincroniza tu tienda con MercadoLibre y gestiona todo desde un solo lugar</h2>
    <p>Somos la primera plataforma que se adapta a tu tienda para que la vincules con MercadoLibre, ahorres tiempo, agilices procesos y logres mejores resultados.</p>
  </div>

  <ul class="icon-list">
    <li>
      <div>
        <%= image_tag 'landing/file-transfer.png', alt: 'Inventario MercadoLibre' %>
      </div>
      <div class="content">
        <h3>Sincronizador de inventario</h3>
        <p>Mantén actualizado el stock de tus productos.</p>
      </div>
    </li>
    <li>
      <div>
        <%= image_tag 'landing/conversation.png', alt: 'Preguntas Mercadolibre' %>
      </div>
      <div class="content">
        <h3>Responde a tus clientes de forma rápida</h3>
        <p>Envía mensajes instantáneos a tus compradores.</p>
      </div>
    </li>
    <li>
      <div>
        <%= image_tag 'landing/check.png', alt: 'Ganancias Ventas Mercadolibre' %>
      </div>
      <div class="content">
        <h3>Genera reportes de ventas y ganancias</h3>
        <p>Entérate exactamente de cuánto vendes y cuáles son tus ganancias.</p>
      </div>
    </li>
    <li>
      <div>
        <%= image_tag 'landing/consumer.png', alt: 'Clientes Mercadolibre' %>
      </div>
      <div class="content">
        <h3>Publica de forma automática</h3>
        <p>Sube un producto a tu inventario y véndelo automáticamente en MercadoLibre.</p>
      </div>
    </li>
  </ul>
</div>
<div class="section dark tinyleft">
  <div class="container">
    <h3 class="not-margin-bottom">NO MÁS PROCESOS MANUALES</h3>
    <p>Vende más con el mejor sistema</p>
    <b>40% incremento de productividad</b><br /><br />
    <%= button_to 'PRUEBA GRATIS', new_retailer_user_registration_path, method: :get, class: 'know-more-button' %>
  </div>
</div>
<div class="section mountain">
  <div class="container">			
    <div class="title">
      <h2 id="know-more">Mercately es tu mejor aliado para llevar tus ventas y gestión de inventario al siguiente nivel</h2>
      <p class="p-blue">REGÍSTRATE AHORA Y COMIENZA GRATIS A:</p>
    </div>
  </div>
  <div class="center-landing">
    <div>
      <ul class="list torigth">
        <li>Vender más productos con menos esfuerzo.</li>
        <li>Gestiona tu inventario automáticamente.</li>
        <li>Mejorar la comunicación con tus clientes.</li>
        <li>Gestiona tus ganancias automáticamente.</li>
        <li>Descubre rápidamente tus productos más y menos vendidos.</li>
        <li>Maneja varias cuentas de Mercadolibre desde un mismo lugar.</li>
      </ul>
      <div class="trial-free-container">
        <%= button_to 'PRUEBA GRATIS', new_retailer_user_registration_path, method: :get, class: 'btn-landing bg-secondary-big' %>
      </div>
    </div>
    <%= image_tag 'landing/graph.png', width: '350', alt: 'Inventario Mercadolibre' %>
  </div>

</div>
<div id="help-info" class="section bg-primary tinyleft mount">
  <div class="container">
    <b>¿Tienes alguna pregunta? ingresa a nuestro <a href="" class="secondary">centro de ayuda</a> y estaremos felices de ayudarte con 
    cualquier duda que tengas. Si deseas reportar errores, también puedes escribirnos.</b>
  </div>
</div>
