<div class="center-landing">
  <%= image_tag 'landing/animacion.gif', class: 'giftcenter', alt: 'Sincronización Mercadolibre' %>
  <div class="box">
    <h1>Sincroniza Mercadolibre
    desde un solo lugar</h1>
    <p>Optimiza tu negocio con herramientas de gestión y 
    análisis para vender en mercadolibre</p>
    <div class="center-landing box-actions">
      <%= button_to 'PRUEBA GRATIS', new_retailer_user_registration_path, method: :get, class: 'btn-landing bg-primary' %>
      <%= button_to 'SABER MÁS', '#know-more', method: :get, class: 'btn-landing bg-secondary' %>
    </div>
  </div>
</div>
<div class="section container">

  <div class="title">
    <h2 id="what-is-it">Plataforma de sincronización para
    vender en mercadolibre</h2>
    <p class="p-blue">DEDÍCATE A VENDER MÁS, Y DÉJANOS EL TRABAJO DURO A NOSOTROS</p>
    <p>Mercately es la primera y única plataforma que sincroniza automáticamente
      tu cuenta de vendedor en mercadolibre para gestionar todas tus 
    características desde un solo lugar</p>
  </div>

  <ul class="icon-list">
    <li>
      <div>
        <%= image_tag 'landing/file-transfer.png', alt: 'Inventario MercadoLibre' %>
      </div>
      <div class="content">
        <strong>Sincronizador de inventario</strong>
        <p>Mantén actualizado el stock de tus productos.</p>
      </div>
    </li>
    <li>
      <div>
        <%= image_tag 'landing/conversation.png', alt: 'Preguntas Mercadolibre' %>
      </div>
      <div class="content">
        <strong>Responde a tus clientes de forma rápida</strong>
        <p>Envía mensajes instantáneos a tus compradores.</p>
      </div>
    </li>
    <li>
      <div>
        <%= image_tag 'landing/check.png', alt: 'Ganancias Ventas Mercadolibre' %>
      </div>
      <div class="content">
        <strong>Genera reportes de ventas y ganancias</strong>
        <p>Entérate exactamente de cuánto vendes y cuáles son tus ganancias.</p>
      </div>
    </li>
    <li>
      <div>
        <%= image_tag 'landing/consumer.png', alt: 'Clientes Mercadolibre' %>
      </div>
      <div class="content">
        <strong>Conoce a tus clientes</strong>
        <p>Obtén datos de tus clientes para fidelizarlos.</p>
      </div>
    </li>
  </ul>
</div>
<div class="section dark tinyleft">
  <div class="container">
    <h3 class="not-margin-bottom">NO MÁS PROCESOS MANUALES</h3>
    <p>Vende más con el mejor sistema</p>
    <b>40% incremento de productividad</b><br /><br />
    <%= button_to 'REGÍSTRATE GRATIS', new_retailer_user_registration_path, method: :get, class: 'know-more-button' %>
  </div>
</div>
<div class="section mountain">
  <div class="container">			
    <div class="title">
      <h3 id="know-more">Creado para negocios 
      como el tuyo</h3>
      <p class="p-blue">REGÍSTRATE AHORA Y COMIENZA GRATIS A:</p>
    </div>
  </div>
  <div class="center-landing">
    <div>
      <ul class="list torigth">
        <li>Vender más productos con menos esfuerzo.</li>
        <li>Mantener tu inventario automáticamente.</li>
        <li>Mejorar la comunicación con tus clientes.</li>
        <li>Conocer tus ganancias en tiempo real.</li>
        <li>Saber los productos más y menos vendidos.</li>
        <li>Maneja varias cuentas desde un mismo lugar.</li>
      </ul>
      <div class="trial-free-container">
        <%= button_to 'PRUEBA GRATIS', new_retailer_user_registration_path, method: :get, class: 'btn-landing bg-secondary-big' %>
      </div>
    </div>
    <%= image_tag 'landing/graph.png', width: '350', alt: 'Inventario Mercadolibre' %>
  </div>

</div>
<div id="help-info" class="section bg-primary tinyleft mount">
  <div class="container">
    <b>¿Tienes alguna pregunta? ingresa a nuestro <a href="" class="secondary">centro de ayuda</a> y estaremos felices de ayudarte con 
    cualquier duda que tengas. Si deseas reportar errores, también puedes escribirnos.</b>
  </div>
</div>
