<style type="text/css" media="screen">
  .section.tinyleft.mount::before {
    background-color: #f2f2f2;
  }
</style>
<div class="container-fluid">
  <div class="row hide-on-med-and-down">
    <div class="col-sm-12">
      <h1 class="t-center fz-50 mb-0">Planes de Crecimiento</h1>
      <h5 class="t-center c-secondary mt-0 mb-34 fz-16">NOS ADAPTAMOS A TUS NECESIDADES PARA LLEVAR TU NEGOCIO AL SIGUIENTE NIVEL</h5>
      <table class="table__pricing m-a">
        <thead>
          <tr>
            <th></th>
            <th class="c-primary">BÁSICO</th>
            <th class="c-primary">PROFESIONAL</th>
            <th class="c-primary">AVANZADO</th>
            <th class="c-primary">ENTERPRISE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="c-primary fw-bold">FUNCIONALIDADES</td>
            <td class="t-center"><b>$29.99</b></td>
            <td class="t-center"><b>$39.99</b></td>
            <td class="t-center"><b>$109.99</b></td>
            <td class="t-center"><b>$299.99</b></td>
          </tr>
          <tr class="pricing__section">
            <td class="c-dark fw-bold">Tienda</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Inventario</td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
          </tr>
          <tr>
            <td>Facturación</td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
          </tr>
          <tr>
            <td>Múltiples Usuarios</td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
          </tr>
          <tr>
            <td>Locaciones</td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
          </tr>
          <tr class="pricing__section">
            <td class="c-dark fw-bold">Integraciones</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Mercado Libre</td>
            <td></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
          </tr>
          <tr>
            <td>Facebook Shops</td>
            <td></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
          </tr>
          <tr class="pricing__section">
            <td class="c-dark fw-bold">Comunicación</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Instagram</td>
            <td></td>
            <td></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
          </tr>
          <tr>
            <td>Messenger</td>
            <td></td>
            <td></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
          </tr>
          <tr>
            <td>WhatsApp</td>
            <td></td>
            <td></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
          </tr>
          <tr class="pricing__section">
            <td class="c-dark fw-bold">Desarrollo</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>API</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="t-center"><%= image_tag 'x.png' %></td>
          </tr>
          <tfoot>
            <tr class="pricing__section">
              <td nowrap></td>
              <td>
                Pruebalo 7 días
                <a href="" class="pricing__start">EMPIEZA AHORA</a>
              </td>
              <td>
                Pruebalo 7 días
                <a href="" class="pricing__start">EMPIEZA AHORA</a>
              </td>
              <td>
                Pruebalo 7 días
                <a href="" class="pricing__start">EMPIEZA AHORA</a>
              </td>
              <td>
                Queremos conversar contigo
                <a href="" class="pricing__contact">CONTACTANOS</a>
              </td>
            </tr>
          </tfoot>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row hide-on-med-and-up">
    <div class="col-xs-12 mt-80"></div>
    <div class="col-xs-12 col-sm-4">
      <div class="pricing__card t-center fz-16">
        <h2 class="c-primary fz-24">BÁSICO</h2>
        <b class="fz-16">$29.99</b> al mes<br/>
        Ideal para negocios que estan empezando<br/>
        <p class="fz-16">
          Manejo de inventario<br/>
          Facturación electronica<br/>
          Múltiples usuarios<br/>
          Múltiples locaciones
        </p>

        <b class="fz-16">Pruebalo por 7 dias</b><br/>
        <br/>
        <a href="" class="pricing__start fz-16">EMPIEZA AHORA</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="pricing__card t-center fz-16">
        <h2 class="c-primary fz-24">PROFESIONAL</h2>
        <b class="fz-16">$39.99</b> al mes<br/>
        Ideal para negocios que estan empezando<br/>
        <p class="fz-16">
          Manejo de inventario<br/>
          Facturación electronica<br/>
          Múltiples usuarios<br/>
          Múltiples locaciones
        </p>

        <b class="fz-16">Pruebalo por 7 dias</b><br/>
        <br/>
        <a href="" class="pricing__start fz-16">EMPIEZA AHORA</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="pricing__card t-center fz-16">
        <h2 class="c-primary fz-24">AVANZADO</h2>
        <b class="fz-16">$229.99</b> al mes<br/>
        Ideal para negocios que estan empezando<br/>
        <p class="fz-16">
          Manejo de inventario<br/>
          Facturación electronica<br/>
          Múltiples usuarios<br/>
          Múltiples locaciones
        </p>

        <b class="fz-16">Pruebalo por 7 dias</b><br/>
        <br/>
        <a href="" class="pricing__start fz-16">EMPIEZA AHORA</a>
      </div>
    </div>
  </div>
</div>
<%= image_tag 'landing/promise.png', class: 'w-100 hide-on-med-and-down' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="t-center">
        <%= image_tag 'landing/house.png', class: 'w-90' %>
        <p class="t-center fz-16">+100 Negocios</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="t-center">
        <%= image_tag 'landing/inventory.png', class: 'w-90' %>
        <p class="t-center fz-16">+50 000 Articulos Subidos</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="t-center">
        <%= image_tag 'landing/waarudo.png', class: 'w-90' %>
        <p class="t-center fz-16">Presencia en 3 paises</p>
      </div>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-12 col-sm-5">
      <div class="t-center">
        <%= image_tag 'landing/msg.png', class: 'w-90' %>
        <p class="t-center fz-16">+25 000 chats iniciados</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5">
      <div class="t-center">
        <%= image_tag 'landing/cart.png', class: 'w-90' %>
        <p class="t-center fz-16">+10 000 ventas generadas</p>
      </div>
    </div>
    <div class="col-xs-12 t-center fz-16 mt-16">
      ¿Tienes Preguntas?<br/>
      <br/>
      Encantados te ayudaremos<br/>
      <br/>
      <a class="ws-contact fz-16" href=""><i class="fab fa-whatsapp fz-16 mr-5"></i>CHATEA CON NOSOTROS</a>
      <br/>
      <br/>
      O solicita una demo totalmente gratis
      <br/>
      <a href="" class="pricing__contact fz-16">QUIERO UNA DEMO</a>
    </div>
  </div>
</div>
<div id="help-info" class="section bg-primary tinyleft mount">
  <div class="container">
    <b class="fz-16">¿Tienes alguna pregunta? ingresa a nuestro <a href="" class="fz-16 secondary">centro de ayuda</a> y estaremos felices de ayudarte con 
    cualquier duda que tengas. Si deseas reportar errores, también puedes escribirnos.</b>
  </div>
</div>
