<% content_for :meta_title, "App de CRM e integración | Precios y Planes - Mercately" %>
<% content_for :meta_description, "Centraliza la comunicación con tus clientes con conexión oficial a Whatsapp y unifica con Messenger, Mercadolibre, Webchat y más. ¡Mira nuestros planes!" %>
<style type="text/css" media="screen">
body {
  background-color: #F9FCFF;
}
</style>
<div id="price-hero">
  <div class="container" style="padding-top: 250px;">
    <div class="row">
      <div class="col-12">
        <h2 class="t-center h1 fw-bold c-primary mb-22">
          CRM e integraciones para tu <span class="c-secondary fw-bold">empresa</span>
        </h2>
        <h2 class="t-center h3 poppins-medium">
          Centraliza y automatiza la comunicación con<br/> <u class="fw-bold">planes de pago</u> que se adaptan a tus necesidades
        </h2>
      </div>
      <div class="col-12 t-center my-5 py-4">
        <div id="left-plan-button" class="d-inline-block poppins-medium shadow">
          <label for="select-plan" class="m-0">Planes mensuales</label>
        </div><div
                id="right-plan-button" class="d-inline-block position-relative shadow poppins-medium">
          <span id="recomended-plan">Recomendado</span>
          <label for="select-plan" class="m-0">Planes trimestrales</label>
        </div>
        <div id="arrow-section">
          <%= image_tag 'price/trazado.png' %>
          <br/>
          Menor valor,<br/>
          cada tres meses
        </div>
      </div>
      <div class="col-12">
        <input id="select-plan" type="checkbox" checked class="d-none"/>
        <input id="toggle-plan" type="checkbox" checked class="d-none"/>
        <div class="sticky-top text-center px-3 py-2 mx-n3 d-md-none" style="background-color: #F9FCFF; top: -1px;">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="show-basic" name="toggle-plan" class="custom-control-input" checked>
            <label class="custom-control-label" for="show-basic">Plan básico</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="show-advanced" name="toggle-plan" class="custom-control-input">
            <label class="custom-control-label" for="show-advanced">Plan avanzado</label>
          </div>
        </div>
        <table id="month" class="w-100 pricing-table">
          <thead>
            <tr>
              <th class="border-0"></th>
              <th class="c-primary border-0 t-center fz-20 fw-bold" style="min-width: 191px; width: 300px;">¡Mejora tu comunicación!</th>
              <th class="c-primary border-0 t-center fz-20 fw-bold" style="min-width: 191px; width: 300px;">
                ¡Lleva tu negocio<br/>al siguiente nivel!
              </th>
            </tr>
            <tr>
              <th class="border-0"></th>
              <th class="t-center bg-primary text-white fw-bold pb-2 pt-4">
                <span class="fz-20">Plan BÁSICO</span>
                <br/>
                <span class="fz-72 poppins-medium">$<span class="price poppins-medium">60</span></span>
              </th>
              <th class="t-center bg-primary text-white fw-bold pb-2 pt-4">
                <span class="fz-20">Plan AVANZADO</span>
                <br/>
                <span class="fz-72 poppins-medium">$<span class="plus-price poppins-medium">100</span></span>
              </th>
            </tr>
            <tr>
              <th class="border-0"></th>
              <th class="t-center bg-purple text-white fz-20 py-2">
                Incluye <b class="fw-bold"><span class="fw-bold included-users">2</span> usuarios</b>
              </th>
              <th class="t-center bg-purple text-white fz-20 py-2">
                Incluye <b class="fw-bold"><span class="fw-bold included-users-plus">3</span> usuarios</b>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="fw-bold fz-20 c-primary">Canales de comunicación</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>WhatsApp</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>Facebook Messenger</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>MercadoLibre</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>WebChat (próximamente)</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td class="fw-bold fz-20 c-primary">Equipo de trabajo</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Usuarios <b class="fw-bold">$<span class="fw-bold user-price">25</span> c/u</b></td>
              <td class="t-center">
                Total: <span class="user-total fw-bold">2</span>
                <button id="total-minus" class="border-0 bg-transparent">
                  <%= image_tag 'price/minus' %>
                </button>
                <input class="in-place w-20 text-center" id="month-users" value="0" onKeyPress='onlyNumber(event)'>
                <button id="total-sum" class="border-0 bg-transparent">
                  <%= image_tag 'price/plus' %>
                </button>
              </td>
              <td class="t-center">
                Total: <span class="user-total-plus fw-bold">3</span>
                <button id="total-minus-plus" class="border-0 bg-transparent">
                  <%= image_tag 'price/minus' %>
                </button>
                <input class="in-place w-20 text-center" id="month-users-plus" value="0" onKeyPress='onlyNumber(event)'>
                <button id="total-sum-plus" class="border-0 bg-transparent">
                  <%= image_tag 'price/plus' %>
                </button>
              </td>
            </tr>
            <tr>
              <td>Estadísticas de gestión</td>
              <td class="t-center"><%= image_tag 'price/small-times.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td class="fw-bold fz-20 c-primary">Automatizaciones de mensajería</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Respuestas rápidas</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>Respuestas de bienvenida automáticas</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>Recordatorios de WhatsApp (Mensajes programados)</td>
              <td class="t-center"><%= image_tag 'price/small-times.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>Campañas de mensajería de WhatsApp</td>
              <td class="t-center">100 mensajes / mes</td>
              <td class="t-center">Ilimitado</td>
            </tr>
            <tr>
              <td class="fw-bold fz-20 c-primary">CRM</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Gestor de clientes</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>Etiquetas de seguimiento</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>Contactos ilimitados</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>Campos de clientes personalizados</td>
              <td class="t-center"><%= image_tag 'price/small-times.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td class="fw-bold fz-20 c-primary">Ventas</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Órdenes de venta</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>Calendario de eventos</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>Catálogo de productos</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td class="fw-bold fz-20 c-primary">Soporte</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Soporte por e-mail</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>Soporte por WhatsApp</td>
              <td class="t-center"><%= image_tag 'price/small-times.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td class="fw-bold fz-20 c-primary">Integraciones</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>API de mensajería</td>
              <td class="t-center"><%= image_tag 'price/small-times.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>Hubspot <span class="fw-bold">$</span><span class="fw-bold hs-price">20</span></td>
              <td class="t-center">
                <input type="checkbox" class="d-none price-checkbox" id="month_hs_checkbox"/>
                <label for="month_hs_checkbox" class="m-0"></label>
              </td>
              <td class="t-center">
                <input type="checkbox" class="d-none price-checkbox" id="month_hs_checkbox_plus"/>
                <label for="month_hs_checkbox_plus" class="m-0"></label>
              </td>
            </tr>
            <tr>
              <td>MercadoLibre (productos) <span class="fw-bold">$</span><span class="fw-bold ml-price">10</span></td>
              <td class="t-center">
                <input type="checkbox" class="d-none price-checkbox" id="month_ml_checkbox"/>
                <label for="month_ml_checkbox" class="m-0"></label>
              </td>
              <td class="t-center">
                <input type="checkbox" class="d-none price-checkbox" id="month_ml_checkbox_plus"/>
                <label for="month_ml_checkbox_plus" class="m-0"></label>
              </td>
            </tr>
            <tr>
              <td class="fw-bold fz-20 c-primary">Chatbots</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Chatbots de WhatsApp</td>
              <td class="t-center d-table-cell" colspan="2">
                <input type="checkbox" class="d-none price-checkbox" id="month_chatbot_checkbox"/>
                <label for="month_chatbot_checkbox" class="m-0"></label>
              </td>
            </tr>
            <tr id="month_chatbot_section" style="display: none;">
              <td class="border-0"></td>
              <td class="t-center" colspan="2">
                <div class="row">
                  <div class="col-8 text-left">
                    <label for="month_chats" class="c-primary m-0">Conversaciones mensuales</label>
                  </div>
                  <div class="col-4">
                    <span class="c-primary fz-25 fw-bold">
                      $<span id="month_chats_price" class="c-primary fw-bold fz-25">25</span>
                    </span>
                  </div>
                </div>
                <input type="range" min="1" max="5" step="1" value="1" class="chats-price custom-range" id="month_chats"/>
                <div>
                  <span class="">500</span>
                  <span class="ml-100">1000</span>
                  <span class="ml-80">2000</span>
                  <span class="ml-80">3000</span>
                  <span class="ml-60">Ilimitado</span>
                </div>
              </td>
            </tr>
            <tr>
              <td class="border-0"></td>
              <td class="t-center bg-primary text-white fw-bold py-2">
                <span class="total-text">
                  Total:
                  <br/>
                </span>
                <span class="fw-bold total fz-30">60</span>
              </td>
              <td class="t-center bg-primary text-white fw-bold py-2">
                <span class="total-text">
                  Total:
                  <br/>
                </span>
                <span class="fw-bold total-plus fz-30">90</span>
              </td>
            </tr>
          </tbody>
        </table>
        <table id="trimestral" class="w-100 pricing-table">
          <thead>
            <tr>
              <th class="border-0"></th>
              <th class="c-secondary border-0 t-center fz-20 fw-bold" style="width: 300px;">¡Mejora tu comunicación!</th>
              <th class="c-secondary border-0 t-center fz-20 fw-bold" style="width: 300px;">
                ¡Lleva tu negocio<br/>al siguiente nivel!
              </th>
            </tr>
            <tr>
              <th class="border-0"></th>
              <th class="t-center bg-secondary text-white fw-bold pb-2 pt-4">
                <span class="fz-20">Plan BÁSICO</span>
                <br/>
                <s class="fz-16">$180</s>
                <br/>
                <span class="fz-72 poppins-medium">$<span class="price poppins-medium">150</span></span>
              </th>
              <th class="t-center bg-secondary text-white fw-bold pb-2 pt-4">
                <span class="fz-20">Plan AVANZADO</span>
                <br/>
                <s class="fz-16">$300</s>
                <br/>
                <span class="fz-72 poppins-medium">$<span class="plus-price poppins-medium">270</span></span>
              </th>
            </tr>
            <tr>
              <th class="border-0"></th>
              <th class="t-center bg-sky text-white fz-20 py-2">
                Incluye <b class="fw-bold"><span class="fw-bold included-users">2</span> usuarios</b>
              </th>
              <th class="t-center bg-sky text-white fz-20 py-2">
                Incluye <b class="fw-bold"><span class="fw-bold included-users-plus">3</span> usuarios</b>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="fw-bold fz-20 c-secondary">Canales de comunicación</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>WhatsApp</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>Facebook Messenger</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>MercadoLibre</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>WebChat (próximamente)</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td class="fw-bold fz-20 c-secondary">Equipo de trabajo</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Usuarios <b class="fw-bold">$<span class="fw-bold user-price">20</span> c/u</b></td>
              <td class="t-center">
                Total: <span class="user-total fw-bold">2</span>
                <button id="trimestral-total-minus" class="border-0 bg-transparent">
                  <%= image_tag 'price/minus' %>
                </button>
                <input class="in-place w-20 text-center" id="trimestral-users" value="0" onKeyPress='onlyNumber(event)'>
                <button id="trimestral-total-sum" class="border-0 bg-transparent">
                  <%= image_tag 'price/plus' %>
                </button>
              </td>
              <td class="t-center">
                Total: <span class="user-total-plus fw-bold">3</span>
                <button id="trimestral-total-minus-plus" class="border-0 bg-transparent">
                  <%= image_tag 'price/minus' %>
                </button>
                <input class="in-place w-20 text-center" id="trimestral-users-plus" value="0" onKeyPress='onlyNumber(event)'>
                <button id="trimestral-total-sum-plus" class="border-0 bg-transparent">
                  <%= image_tag 'price/plus' %>
                </button>
              </td>
            </tr>
            <tr>
              <td>Estadísticas de gestión</td>
              <td class="t-center"><%= image_tag 'price/small-times.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td class="fw-bold fz-20 c-secondary">Automatizaciones de mensajería</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Respuestas rápidas</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>Respuestas de bienvenida automáticas</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>Recordatorios de WhatsApp (Mensajes programados)</td>
              <td class="t-center"><%= image_tag 'price/small-times.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>Campañas de mensajería de WhatsApp</td>
              <td class="t-center">100 mensajes / mes</td>
              <td class="t-center">Ilimitado</td>
            </tr>
            <tr>
              <td class="fw-bold fz-20 c-secondary">CRM</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Gestor de clientes</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>Etiquetas de seguimiento</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>Contactos ilimitados</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>Campos de clientes personalizados</td>
              <td class="t-center"><%= image_tag 'price/small-times.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td class="fw-bold fz-20 c-secondary">Ventas</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Órdenes de venta</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>Calendario de eventos</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>Catálogo de productos</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td class="fw-bold fz-20 c-secondary">Soporte</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Soporte por e-mail</td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>Soporte por WhatsApp</td>
              <td class="t-center"><%= image_tag 'price/small-times.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td class="fw-bold fz-20 c-secondary">Integraciones</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>API de mensajería</td>
              <td class="t-center"><%= image_tag 'price/small-times.png' %></td>
              <td class="t-center"><%= image_tag 'price/small-check.png' %></td>
            </tr>
            <tr>
              <td>Hubspot <span class="fw-bold">$</span><span class="fw-bold hs-price">20</span></td>
              <td class="t-center">
                <input type="checkbox" class="d-none price-checkbox" id="trimestral_hs_checkbox"/>
                <label for="trimestral_hs_checkbox" class="m-0"></label>
              </td>
              <td class="t-center">
                <input type="checkbox" class="d-none price-checkbox" id="trimestral_hs_checkbox_plus"/>
                <label for="trimestral_hs_checkbox_plus" class="m-0"></label>
              </td>
            </tr>
            <tr>
              <td>MercadoLibre (productos) <span class="fw-bold">$</span><span class="fw-bold ml-price">10</span></td>
              <td class="t-center">
                <input type="checkbox" class="d-none price-checkbox" id="trimestral_ml_checkbox"/>
                <label for="trimestral_ml_checkbox" class="m-0"></label>
              </td>
              <td class="t-center">
                <input type="checkbox" class="d-none price-checkbox" id="trimestral_ml_checkbox_plus"/>
                <label for="trimestral_ml_checkbox_plus" class="m-0"></label>
              </td>
            </tr>
            <tr>
              <td class="fw-bold fz-20 c-secondary">Chatbots</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Chatbots de WhatsApp</td>
              <td class="t-center d-table-cell" colspan="2">
                <input type="checkbox" class="d-none price-checkbox" id="trimestral_chatbot_checkbox"/>
                <label for="trimestral_chatbot_checkbox" class="m-0"></label>
              </td>
            </tr>
            <tr id="trimestral_chatbot_section" style="display: none;">
              <td class="border-0"></td>
              <td class="t-center" colspan="2">
                <div class="row">
                  <div class="col-8 text-left">
                    <label for="trimestral_chats" class="c-secondary m-0">Conversaciones mensuales</label>
                  </div>
                  <div class="col-4">
                    <span class="c-secondary fz-25 fw-bold">
                      $<span id="trimestral_chats_price" class="c-secondary fw-bold fz-25">25</span>
                    </span>
                  </div>
                </div>
                <input type="range" min="1" max="5" step="1" value="1" class="chats-price custom-range" id="trimestral_chats"/>
                <div>
                  <span class="">500</span>
                  <span class="ml-100">1000</span>
                  <span class="ml-80">2000</span>
                  <span class="ml-80">3000</span>
                  <span class="ml-60">Ilimitado</span>
                </div>
              </td>
            </tr>
            <tr>
              <td class="border-0"></td>
              <td class="t-center bg-secondary text-white fw-bold py-2">
                <span class="total-text">
                  Total:
                  <br/>
                </span>
                <span class="fw-bold total fz-30">60</span>
                <span class="fz-16 total-text">x 3 meses</span>
              </td>
              <td class="t-center bg-secondary text-white fw-bold py-2">
                <span class="total-text">
                  Total:
                  <br/>
                </span>
                <span class="fw-bold total-plus fz-30">90</span>
                <span class="fz-16 total-text">x 3 meses</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="bg-pink mt-n5">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 my-5 text-right">
        <label for="modal--toggle" class="btn btn-large btn-white">Estoy interesado</label>
      </div>
      <div class="col-12 col-md-4">
        <%= image_tag 'price/Grupo 818.png', class: 'w-100' %>
      </div>
      <div class="col-12 col-md-8 d-flex align-items-end">
        <div class="pl-md-5 ml-md-3">
          <h4 class="c-primary mb-24 h3 fw-bold">¡Somos más que una simple plataforma!</h4>
          <p class="text-justify fz-18">
          Mercately fue creado con el objetivo de ayudarte a centralizar tu comunicación, automatizar procesos y aumentar las ventas, a través de
          conversaciones de valor con el cliente. Nuestro equipo de expertos te
          ayudará a aprovechar al máximo las ventajas competitivas que Mercately tiene para ti.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 my-5 py-3">
      <h2 class="text-center c-secondary h3 fw-bold mt-30 mb-50">Impactamos en diferentes industrias</h2>
      <div class="text-center custom-max-width">
        <%= image_tag 'price/logos/sushilovers.png' %>
        <%= image_tag 'price/logos/pequeayuda.png', class: 'mx-3' %>
        <%= image_tag 'price/logos/intercom.png' %>
        <%= image_tag 'price/logos/hondutravel.png' %>
        <%= image_tag 'price/logos/immaka.png' %>
      </div>
      <div class="text-center custom-max-width">
        <%= image_tag 'price/logos/bruler.png' %>
        <%= image_tag 'price/logos/salesiana.png' %>
        <%= image_tag 'price/logos/cadeco.png' %>
        <%= image_tag 'price/logos/piura.png', class: 'mx-3' %>
        <%= image_tag 'price/logos/atoscorp.png' %>
      </div>
    </div>
  </div>
</div>
<div class="bg-white">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-10">
        <h3>Preguntas frecuentes</h3>
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="heading1">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  ¿Qué es Mercately?
                </button>
              </h2>
            </div>

            <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample">
              <div class="card-body">
                Es la aplicación más eficaz con la que puedes adquirir comunicación omnicanal con tu cliente; puedes integrar con WhatsApp, Messenger, MercadoLibre y Webchat. La plataforma te permite manejar a tus contactos de forma ordenada, ver métricas de gestión, capturar el número de tus contactos, segmentarlos, programar envíos de mensajes y/o secuencias y crear chatbots inteligentes.
              </div>
            </div>
          </div>
        </div>
        <div class="accordion mt-16" id="accordionExample2">
          <div class="card">
            <div class="card-header" id="heading2">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                  ¿Puedo probar Mercately antes de usarlo?
                </button>
              </h2>
            </div>

            <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample2">
              <div class="card-body">
                ¡Claro que sí! Crea tu cuenta y pruébalo gratuitamente por el tiempo que quieras. Para conectarla con una cuenta de prueba de WhatsApp, contáctanos directamente a hola@mercately.com para ayudarte con un número provisional.
              </div>
            </div>
          </div>
        </div>
        <div class="accordion mt-16" id="accordionExample3">
          <div class="card">
            <div class="card-header" id="heading3">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                  ¿Puedo cancelar mi plan en cualquier momento?
                </button>
              </h2>
            </div>

            <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample3">
              <div class="card-body">
                ¡Sí! Mercately es un servicio mensual. Para realizar la cancelación de tu plan, solo debes enviarnos una notificación 15 días antes de dar por terminado tu uso.
              </div>
            </div>
          </div>
        </div>
        <div class="accordion mt-16" id="accordionExample4">
          <div class="card">
            <div class="card-header" id="heading4">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                  ¿Puedo integrar Mercately con mi CRM actual?
                </button>
              </h2>
            </div>

            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample4">
              <div class="card-body">
                ¡Sin ningún problema! Nuestros planes cuentan con las integraciones más populares como WhatsApp, Facebook, MercadoLibre, Instagram. En cualquiera de nuestros planes puedes utilizar integraciones nativas como Hubspot. Si buscas ampliar el uso de Mercately, puedes integrarte con nuestra API fácilmente. Por favor, contáctanos a hola@mercately.com y uno de nuestros asesores técnicos te ayudará con tu solicitud.
              </div>
            </div>
          </div>
        </div>
        <div class="accordion mt-16" id="accordionExample5">
          <div class="card">
            <div class="card-header" id="heading5">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                  ¿Puedo iniciar una conversación o enviar mensajes de WhatsApp a personas que no me han contactado?
                </button>
              </h2>
            </div>

            <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample5">
              <div class="card-body">
                Para iniciar una conversación con una personas por medio de WhatsApp, necesitas el consentimiento de la misma. Conoce los precios de inicio de conversación aquí. Sin embargo, si el cliente inicia la conversación, no tiene costo.
              </div>
            </div>
          </div>
        </div>
        <div class="accordion mt-16" id="accordionExample6">
          <div class="card">
            <div class="card-header" id="heading6">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                  ¿Necesito tener conocimientos técnicos para configurar Mercately?
                </button>
              </h2>
            </div>

            <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample6">
              <div class="card-body">
                ¡En absoluto! Nuestra aplicación fue creada 100% pensando en usuarios sin conocimientos técnicos. Intentamos simplificar al máximo el proceso de configuración para que cualquier persona pueda realizarlo.
              </div>
            </div>
          </div>
        </div>
        <div class="accordion mt-16" id="accordionExample7">
          <div class="card">
            <div class="card-header" id="heading7">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                  ¿Cuántos contactos puedo agregar a mi cuenta?
                </button>
              </h2>
            </div>

            <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample7">
              <div class="card-body">
                ¡No tenemos limites de contactos! Puedes conversar con todos tus clientes e ir agregando más contactos cuando desees.
              </div>
            </div>
          </div>
        </div>
        <div class="accordion mt-16" id="accordionExample8">
          <div class="card">
            <div class="card-header" id="heading8">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
                  ¿Necesito tener mi celular con WhatsApp abierto y conectado a internet todo el tiempo?
                </button>
              </h2>
            </div>

            <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample8">
              <div class="card-body">
                ¡No es necesario! Con Mercately adquieres conexión oficial directa y aprobada por WhatsApp. Recuerda que, si algún programa te pide esto, es posible que recibas bloqueos por parte de Whatsapp para tu negocio. Opta únicamente por aplicaciones que trabajen oficialmente con Whatsapp para evitar sanciones.
              </div>
            </div>
          </div>
        </div>
        <div class="accordion mt-16" id="accordionExample9">
          <div class="card">
            <div class="card-header" id="heading9">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
                  ¿Se puede bloquear mi WhatsApp?
                </button>
              </h2>
            </div>

            <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample9">
              <div class="card-body">
                ¡Imposible! Al trabajar con Mercately tendrás la seguridad de contar con una conexión oficial con WhatsApp y evitar bloqueos del número que utilices. Gracias a nuestra aplicación podrás tener todos los beneficios de Whatsapp Business API sin preocupaciones.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-2">
        <%= image_tag 'price/question.png', class: 'w-100 d-none d-md-block' %>
      </div>
    </div>
  </div>
</div>
<script charset="utf-8">
  $(function() {
    $('#total-minus').on('click', function() {
      let usersPlus = $('#month-users');
      if(usersPlus.val() === '') usersPlus.val(0);
      if (usersPlus.val() > 0) {
        usersPlus.val(parseInt(usersPlus.val()) - 1);
        usersPlus.trigger("change");
      }
    });
    $('#total-sum').on('click', function() {
      let usersPlus = $('#month-users');
      if(usersPlus.val() === '') usersPlus.val(0);
      usersPlus.val(parseInt(usersPlus.val()) + 1);
      usersPlus.trigger("change");
    });
    $('#total-minus-plus').on('click', function() {
      let usersPlus = $('#month-users-plus');
      if(usersPlus.val() === '') usersPlus.val(0);
      if (usersPlus.val() > 0) {
        usersPlus.val(parseInt(usersPlus.val()) - 1);
        usersPlus.trigger("change");
      }
    });
    $('#total-sum-plus').on('click', function() {
      let usersPlus = $('#month-users-plus');
      if(usersPlus.val() === '') usersPlus.val(0);
      usersPlus.val(parseInt(usersPlus.val()) + 1);
      usersPlus.trigger("change");
    });

    function calcTotalPrice() {
      let subTotal = parseInt($('#month .price').text()) + parseInt($('#month .user-price').text()) * parseInt($('#month-users').val());
      let subTotalPlus = parseInt($('#month .plus-price').text()) + parseInt($('#month .user-price').text()) * parseInt($('#month-users-plus').val());
      if (document.getElementById('month_ml_checkbox').checked) subTotal += parseInt($('#month .ml-price').text());
      if (document.getElementById('month_hs_checkbox').checked) subTotal += parseInt($('#month .hs-price').text());
      if (document.getElementById('month_ml_checkbox_plus').checked) subTotalPlus += parseInt($('#month .ml-price').text());
      if (document.getElementById('month_hs_checkbox_plus').checked) subTotalPlus += parseInt($('#month .hs-price').text());
      if (document.getElementById('month_chatbot_checkbox').checked) {
        $('#month_chatbot_section').show();
        let price = 25;
        function adjustSubtotal(price) {
          $('#month .total-text').show();
          $('#month_chats_price').text(price);
          subTotal += price;
          subTotal = `$${subTotal}`;
          subTotalPlus += price;
          subTotalPlus = `$${subTotalPlus}`;
        }
        switch($('#month .chats-price').val()) {
          case '1':
            adjustSubtotal(price);
            break;
          case '2':
            price = 45;
            adjustSubtotal(price);
            break;
          case '3':
            price = 80;
            adjustSubtotal(price);
            break;
          case '4':
            price = 100;
            adjustSubtotal(price);
            break;
          case '5':
            $('#month .total-text').hide();
            subTotal = '<label for="modal--toggle" class="text-label-hover text-white fz-18">Comunícate con nosotros</label>';
            subTotalPlus = '<label for="modal--toggle" class="text-label-hover text-white fz-18">Comunícate con nosotros</label>';
            break;
        }
      } else {
        $('#month_chatbot_section').hide();
        $('#month .total-text').show();
        subTotal = `$${subTotal}`;
        subTotalPlus = `$${subTotalPlus}`;
      }
      $('#month .total').html(subTotal);
      $('#month .total-plus').html(subTotalPlus);
    }
    calcTotalPrice();

    function calcIncludedUsers(usersInputId, defaultIncludedUsersId, totalId) {
      let usersPlus = $(usersInputId);
      let includedUsers = parseInt($(defaultIncludedUsersId).text());
      $(totalId).text(includedUsers + parseInt(usersPlus.val()));
      calcTotalPrice();
    }

    calcIncludedUsers('#month-users', '#month .included-users', '#month .user-total');
    $('#month-users').on('change', function() {
      calcIncludedUsers('#month-users', '#month .included-users', '#month .user-total');
    });
    calcIncludedUsers('#month-users-plus', '#month .included-users-plus', '#month .user-total-plus');
    $('#month-users-plus').on('change', function() {
      calcIncludedUsers('#month-users-plus', '#month .included-users-plus', '#month .user-total-plus');
    });
    $('#month_hs_checkbox, #month_hs_checkbox_plus, #month_ml_checkbox, #month_chats, #month_chatbot_checkbox, #month_ml_checkbox_plus').on('change', calcTotalPrice);
  });
</script>
<script charset="utf-8">
  $(function() {
    $('#trimestral-total-minus').on('click', function() {
      let usersPlus = $('#trimestral-users');
      if(usersPlus.val() === '') usersPlus.val(0);
      if (usersPlus.val() > 0) {
        usersPlus.val(parseInt(usersPlus.val()) - 1);
        usersPlus.trigger("change");
      }
    });
    $('#trimestral-total-sum').on('click', function() {
      let usersPlus = $('#trimestral-users');
      if(usersPlus.val() === '') usersPlus.val(0);
      usersPlus.val(parseInt(usersPlus.val()) + 1);
      usersPlus.trigger("change");
    });
    $('#trimestral-total-minus-plus').on('click', function() {
      let usersPlus = $('#trimestral-users-plus');
      if(usersPlus.val() === '') usersPlus.val(0);
      if (usersPlus.val() > 0) {
        usersPlus.val(parseInt(usersPlus.val()) - 1);
        usersPlus.trigger("change");
      }
    });
    $('#trimestral-total-sum-plus').on('click', function() {
      let usersPlus = $('#trimestral-users-plus');
      if(usersPlus.val() === '') usersPlus.val(0);
      usersPlus.val(parseInt(usersPlus.val()) + 1);
      usersPlus.trigger("change");
    });

    function calcTotalPrice() {
      let subTotal = parseInt($('#trimestral .price').text()) + (3 * parseInt($('#trimestral .user-price').text())) * parseInt($('#trimestral-users').val());
      let subTotalPlus = parseInt($('#trimestral .plus-price').text()) + (3 * parseInt($('#trimestral .user-price').text())) * parseInt($('#trimestral-users-plus').val());
      if (document.getElementById('trimestral_ml_checkbox').checked) subTotal += 3 * parseInt($('#trimestral .ml-price').text());
      if (document.getElementById('trimestral_hs_checkbox').checked) subTotal += 3 * parseInt($('#trimestral .hs-price').text());
      if (document.getElementById('trimestral_ml_checkbox_plus').checked) subTotalPlus += 3 * parseInt($('#trimestral .ml-price').text());
      if (document.getElementById('trimestral_hs_checkbox_plus').checked) subTotalPlus += 3 * parseInt($('#trimestral .hs-price').text());
      if (document.getElementById('trimestral_chatbot_checkbox').checked) {
        $('#trimestral_chatbot_section').show();
        let price = 25 * 3;
        function adjustSubtotal(price) {
          $('#trimestral .total-text').show();
          $('#trimestral_chats_price').text(price);
          subTotal += price;
          subTotal = `$${subTotal}`;
          subTotalPlus += price;
          subTotalPlus = `$${subTotalPlus}`;
        }
        switch($('#trimestral .chats-price').val()) {
          case '1':
            adjustSubtotal(price);
            break;
          case '2':
            price = 45 * 3;
            adjustSubtotal(price);
            break;
          case '3':
            price = 80 * 3;
            adjustSubtotal(price);
            break;
          case '4':
            price = 100 * 3;
            adjustSubtotal(price);
            break;
          case '5':
            $('#trimestral .total-text').hide();
            subTotal = '<label for="modal--toggle" class="text-label-hover text-white fz-18">Comunícate con nosotros</label>';
            subTotalPlus = '<label for="modal--toggle" class="text-label-hover text-white fz-18">Comunícate con nosotros</label>';
            break;
        }
      } else {
        $('#trimestral_chatbot_section').hide();
        $('#trimestral .total-text').show();
        subTotal = `$${subTotal}`;
        subTotalPlus = `$${subTotalPlus}`;
      }
      $('#trimestral .total').html(subTotal);
      $('#trimestral .total-plus').html(subTotalPlus);
    }
    calcTotalPrice();

    function calcIncludedUsers(usersInputId, defaultIncludedUsersId, totalId) {
      let usersPlus = $(usersInputId);
      let includedUsers = parseInt($(defaultIncludedUsersId).text());
      $(totalId).text(includedUsers + parseInt(usersPlus.val()));
      calcTotalPrice();
    }

    calcIncludedUsers('#trimestral-users', '#trimestral .included-users', '#trimestral .user-total');
    $('#trimestral-users').on('change', function() {
      calcIncludedUsers('#trimestral-users', '#trimestral .included-users', '#trimestral .user-total');
    });
    calcIncludedUsers('#trimestral-users-plus', '#trimestral .included-users-plus', '#trimestral .user-total-plus');
    $('#trimestral-users-plus').on('change', function() {
      calcIncludedUsers('#trimestral-users-plus', '#trimestral .included-users-plus', '#trimestral .user-total-plus');
    });
    $('#trimestral_hs_checkbox, #trimestral_hs_checkbox_plus, #trimestral_ml_checkbox, #trimestral_chats, #trimestral_chatbot_checkbox, #trimestral_ml_checkbox_plus').on('change', calcTotalPrice);
  });
</script>
<script charset="utf-8">
  $(function() {
    function planSelectorColor() {
      if (document.getElementById('select-plan').checked) {
        $('#left-plan-button').css('background-color', '#9E42A5');
        $('#left-plan-button').css('color', '#fff');
        $('#right-plan-button').css('background-color', '#F4F4F4');
        $('#right-plan-button').css('color', '#00B4FF');
      } else {
        $('#left-plan-button').css('background-color', '#FAFCFC');
        $('#left-plan-button').css('color', '#9E42A5');
        $('#right-plan-button').css('background-color', '#29ABE2');
        $('#right-plan-button').css('color', '#fff');
      }
    }
    planSelectorColor();
    $('#select-plan').on('change', planSelectorColor);
  });
</script>
<script charset="utf-8">
  $(function() {
    function togglePlan() {
      document.getElementById('toggle-plan').checked = document.getElementById('show-basic').checked;
    }
    togglePlan();
    $('#show-basic, #show-advanced').on('change', togglePlan);
  });
</script>
