
<section class="hero hero-double image-overflow-container-2 hero-2 hero-rodo">
	<div class="container">
		<div class="row">
			

			<div class="col-sm-12 col-md-6 columns align-self-middle">
				<div class="hero-heading">
					<h1 class="hero-pre-title">
           	Mejores conversaciones, más ventas
					</h1>
					<p class="hero-claim">
						WhatsApp Business API  <%= image_tag 'whatsapp_api/wa-green.png', class: 'wa-hero', alt: 'Mercately | Whatsapp API - CRM de WhatsApp' %>
					</p>
					<p class="hero-text">¡Ahora puedes tener la aplicación más utilizada de mensajería
						en el mundo en tu organización! <strong>Aumenta las ventas, mejora
						tu productividad y centraliza la comunicación</strong> con
						el API de Whatsapp Business</p>
					<div class="btn-group-large">
						<a href="https://www.shoplo.com/get-started" class="btn btn-large btn-purple">
							Empezar
						</a>
						<a href="https://www.shoplo.com/tour" class="btn btn-large btn-white">
							Quiero una Demo
						</a>
					</div>
				</div>
			</div>


			<div class="col-sm-12 columns col-md-6 align-right">
				<div class="image-with-gray-backdrop hero-img">
					<%= image_tag 'whatsapp_api/whats_hero.png', class: 'in-icon', alt: 'Mercately - Linkedin | Sincroniza Mercadolibre desde un solo lugar' %>
				</div>
				
			</div>
		</div>
	</div>
</section>

<section class="section section-explanation">
	<div class="container">
		<div class="row">
			
			<div class="col-sm-12 col-md-4">	
				<div class="section-exp-img">
					<%= image_tag 'whatsapp_api/chat.png', class: 'in-icon', alt: 'Mercately - Linkedin | Sincroniza Mercadolibre desde un solo lugar' %>
				</div>
			</div>

			<div class="col-sm-12 columns col-md-8 align-right">					
				<div class="section-explanation-text">
					<div class="title-explanation-holder">
						<%= image_tag 'whatsapp_api/logo_whatsapp_gris.png', class: 'in-icon', alt: 'Mercately - Linkedin | Sincroniza Mercadolibre desde un solo lugar' %>
						<h2>¿Por qué Whatsapp Business API?</h2>	
					</div>
					
					
					<p>
						Es un servivio de Whatsapp destinado únicamente a empresas verificadas. Con
						esto, permite a las organizaciones contar con diferentes funcionalidades a fin de
						mejorar como nunca antes la
					</p>

					<div class="section-explanation-reason">
						<div class="row">


							<div class="col-sm-12 columns col-md-3 ">
								<p class="main-reason">180</p>
								<p class="second-reason">Países en los que Whatsapp se encuentra</p>
							</div>

							<div class="col-sm-12 columns col-md-3 ">
								<p class="main-reason">1500 M</p>
								<p class="second-reason">Usuarios que  usan Whatsapp</p>
							</div>

							<div class="col-sm-12 columns col-md-3 ">
								<p class="main-reason">65G</p>
								<p class="second-reason">Mensajes enviados diariamente</p>
							</div>

							<div class="col-sm-12 columns col-md-3 ">
								<p class="main-reason">3M</p>
								<p class="second-reason">Empresas que usan Whatsapp</p>
							</div>
						</div>
					</div>

					<div class="section-explanation-cta text-center">
						<a href="" class="btn btn-large btn-purple">
							Regístrate Gratis
						</a>
					</div>

				</div>
				
			</div>
		</div>
	</div>
</section>

<section class="section section-features">
	<div class="container">
		<div class="">
			
			<div class="main-title">
				<h2>Mercately es la plataforma líder en comercio conversacional</h2>
				<p>Se adapta a tus procesos y ayuda a organizarlos para que puedas poner el foco en lo que genera más valor.</p>
			</div>

			<div class="row">
				<div class="col-sm-12 col-md-3">
					
					<div class="feature-wrapper">
						<div class="feature-img-holder">
							<%= image_tag 'whatsapp_api/feature-1.png', class: 'in-icon', alt: 'Mercately - Linkedin | Sincroniza Mercadolibre desde un solo lugar' %>
						</div>
						
						<div class="feature-text-holder">
							<p class="title">Unifica la comunicación de tu organización</p>
							<p class="text">Utiliza una sola línea de celular para tu empresa tanto para comunicación de entrada como de salida.</p>
						</div>
					</div>
					
				</div>
		
				<div class="col-sm-12 col-md-3">
					<div class="feature-wrapper">
						<div class="feature-img-holder">
							<%= image_tag 'whatsapp_api/feature-2.png', class: 'in-icon', alt: 'Mercately - Linkedin | Sincroniza Mercadolibre desde un solo lugar' %>
						</div>
						<div class="feature-text-holder">
							<p class="title">Ten múltiples usuarios con una sola línea</p>
							<p class="text">Conecta a todos tus operadores a una sola línea y formaliza la comunicación organizacional hacia tus prospectos o clientes</p>
						</div>
					</div>
				</div>

					<div class="col-sm-12 col-md-3">
						<div class="feature-wrapper">
							<div class="feature-img-holder">
								<%= image_tag 'whatsapp_api/feature-3.png', class: 'in-icon', alt: 'Mercately - Linkedin | Sincroniza Mercadolibre desde un solo lugar' %>
							</div>
							<div class="feature-text-holder">
								<p class="title">Obtén valiosos datos de gestión</p>
								<p class="text">Ten a la mano métricas de gestión sobre tu comunicación: porcentaje de entrega, apertura, retorno sobre inversión y más.</p>	
							</div>
						</div>
					</div>

					<div class="col-sm-12 col-md-3">
						<div class="feature-wrapper">
							<div class="feature-img-holder">
								<%= image_tag 'whatsapp_api/feature-4.png', class: 'in-icon', alt: 'Mercately - Linkedin | Sincroniza Mercadolibre desde un solo lugar' %>
							</div>
							<div class="feature-text-holder">
								<p class="title">Agiliza tu comunicación</p>
								<p class="text">¡Basta de procesos manuales! Empieza a usar mensajes transaccionales y automatiza la comunicación de tu empresa.</p>
							</div>
						</div>
					</div>
				</div>

			


		</div>
	</div>
</section>

<section class="section section-transform">
	<div class="main-title">
		<h2>Convertierta a WhatsApp en una maquina de ventas</h2>
		<p>Se adapta a tus procesos y ayuda a organizarlos para que puedas poner el foco en lo que genera más valor.</p>
	</div>

	<div class="container">	
		<div class="feature-explanation">
			<div class="row">
				<div class="col-sm-12 col-md-6">	
					<h2>Incrementa la productividad de tu Equipo</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>

				<div class="col-sm-12 col-md-6">	
					<div class="section-exp-img">
						<%= image_tag 'whatsapp_api/increase-1.png', class: 'in-icon', alt: 'Mercately - Linkedin | Sincroniza Mercadolibre desde un solo lugar' %>
					</div>
				</div>	
			</div>
		</div>

		<div class="feature-explanation">
			<div class="row">

			<div class="col-sm-12 col-md-6">	
				<div class="section-exp-img">
					<%= image_tag 'whatsapp_api/increase-2.png', class: 'in-icon', alt: 'Mercately - Linkedin | Sincroniza Mercadolibre desde un solo lugar' %>
				</div>
			</div>

			<div class="col-sm-12 col-md-6">	
				<h2>Mejora las conversaciones con tus clientes</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
			</div>
		</div>

		<div class="feature-explanation">
			<div class="row">
				<div class="col-sm-12 col-md-6">	
					<h2>Incrementa las posibilidades de venta en 70%</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
				<div class="col-sm-12 col-md-6">	
					<div class="section-exp-img">
						<%= image_tag 'whatsapp_api/increase-4.png', class: 'in-icon', alt: 'Mercately - Linkedin | Sincroniza Mercadolibre desde un solo lugar' %>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<section class="section sections-clients">	 
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 >
					Qué dicen nuestros clientes
				</h2>
			</div>
		</div>

		<div class="row ">
			<div class="col-sm-12">
				<div class="row">

					<div class="col-sm-12 col-md-6">
						<div class="recomendation-wrapper">
							<div class="">
								<p>
									<strong>Mercately es la mejor opción para empezar un negocio online.</strong>
									Con todas sus herramientas pude organizar mis conversaciones, clientes, ventas y adentrarme en el e-commerce de manera sencilla.”
								</p>
							</div>
							<figure class="">
								<picture>
									<%= image_tag 'whatsapp_api/capfe.jpeg', class: 'recommend-img', alt: 'Mercately | Whatsapp API - CRM de WhatsApp' %>
								</picture>
								<figcaption>Weider Paez, <br /><a href="">Capfe.com.ec</a></figcaption>
							</figure>
						</div>
					</div>
					
					<div class="col-sm-12 col-md-6">
						<div class="recomendation-wrapper">
							<div class="">
								<p>
									<strong>"Con Mercately logre organizar el WhatsApp de mi empresa y aumentar 30% mis ventas por ese canal.</strong>
									Antes no tenia control de las conversaciones con mis clientes. Mercately cambio por completo mi negocio.”
								</p>
							</div>
							<figure class="">
								<picture>
									<%= image_tag 'whatsapp_api/peque.png', class: 'recommend-img', alt: 'Mercately | Whatsapp API - CRM de WhatsApp' %>
								</picture>
								<figcaption>Francisco Zambrano, <br /><a href="">PequeAyuda.com</a></figcaption>
							</figure>
						</div>
					</div>
																																																																																																																																																																																																													
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section sections-faqs">

	<div class="container">
		
		<div class="row">
			<div class="col-sm-12">
				<h2 >
					Preguntas Frecuentes
				</h2>
			</div>
		</div>

		<div class="row">				
			<div class="col-sm-12">
				<div id="accordion">
				  
				  <div class="card section-faq-header">
				    <div class="card-header " id="headingOne">
				      <h5 class="mb-0">
				        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				          QUE ES WHATSAPP BUSINESS API
				        </button>
				      </h5>
				    </div>
				    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
				      <div class="card-body">
				      	La Interfaz de Programación de Aplicaciones ( API por sus siglas en ingles) de WhatsApp Business permite a las empresas chatear con sus clientes de la misma manera que chatean con sus amigos y familiares, con mensajes rápidos, simples y seguros. El API de WhatsApp permite a las empresas escalar la comunicación mediantes automatizaciones, bots, integraciones con CRM, análisis de datos y mucho más. 
				      </div>
				    </div>
				  </div>

				  <div class="card section-faq-header">
				    <div class="card-header " id="headingOne">
				      <h5 class="mb-0">
				        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
				          UN MOMENTO, YO YA TENGO WHATSAPP. CUAL ES LA DIFERENCIA
				        </button>
				      </h5>
				    </div>
				    <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
				      <div class="card-body">
				      	La aplicación de WhatsApp Business permite a las pequeñas empresas interactuar con sus clientes mediante una aplicación. Sin embargo, la comunicación sigue siendo unipersonal permitiendo a solo un asesor tomar todas las conversaciones.
				      	<br /> <br />
				      	Con las herramientas de comercio conversacional de Mercately puedes escalar la comunicación de tu empresa, opteniendo un solo numero verificado de tu empresa, conectando multiples asesores, automatizando el contacto con tus clientes, creando chatbots inteligentes, generando analitica avanzada de tus conversaciones todo esto para brindar un soporte a tus clientes que sea excepcional.
				      </div>
				    </div>
				  </div>

				  <div class="card section-faq-header">
				    <div class="card-header " id="headingOne">
				      <h5 class="mb-0">
				        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="false" aria-controls="collapseOne2">
				          Entonces, que debo utilizar en mi negocio. WhatsApp Business o WhatsApp Business API
				        </button>
				      </h5>
				    </div>
				    <div id="collapseOne2" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
				      <div class="card-body">
				      	Si eres un negocio pequeño con un volumen de mensajería menor a 2500 mensajes por mes y no tienes mutiples asesores la aplicación de WhatsApp Business es más apropiada para ti. Nuestro equipo tiene diversas herramientas de ventas y comunicación que te ayudarán a llevar a tu negocio al siguiente nivel. Visita nuesta home o contactanos aquí si quieres conocer más.
				      </div>
				    </div>
				  </div>

				  <div class="card section-faq-header">
				    <div class="card-header" id="headingThree">
				      <h5 class="mb-0">
				        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
				          Cuales son las diferencias entre las conversaciones de WhatsApp Business y WhatsApp Business API
				        </button>
				      </h5>
				    </div>
				    <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				      <div class="card-body">
								WhatsApp admite dos casos de uso: Atención al cliente y Notificaciones. Atención al cliente se inicia con un mensaje entrante. Cuando se recibe el primer mensaje del usuario, se abre una conversación, en la que la empresa puede responder con mensajes de forma libre. La conversación permanecerá abierta durante 24 horas desde el último mensaje recibido del usuario. El caso de uso de notificaciones es un servicio de mensajería unidireccional diseñado para que la empresa envíe alertas y notificaciones informativas a los usuarios. Los mensajes enviados en este caso de uso deben utilizar plantillas aprobadas previamente. WhatsApp restringe los casos de uso de marketing / promoción y no aprobará plantillas con contenido promocional.
				      </div>
				    </div>
				  </div>

				  <div class="card section-faq-header">
				    <div class="card-header" id="headingTwo">
				      <h5 class="mb-0">
				        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          Cuales son los requerimientos para tener el servicio?
				        </button>
				      </h5>
				    </div>
				    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				      <div class="card-body">
				      	Para iniciar con WhatsApp Business API, primero necesitas tener una empresa verificada por Facebook, puedes encontrar los pasos aqui. Una vez tu empresa sea verificada Mercately se encargará de todo el proceso para verificar tu empresa con WhatsApp, nos toma entre 24 a 48 horas verificar la empresa y el numero a utilizar. Envianos un mensaje para iniciar el proceso.
				      </div>
				    </div>
				  </div>

				  <div class="card section-faq-header">
				    <div class="card-header" id="headingTwo">
				      <h5 class="mb-0">
				        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				          Que puedo hacer con Mercately y WhatsApp
				        </button>
				      </h5>
				    </div>
				    <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				      <div class="card-body">
				        Mercately es la plataforma de comercio conversacional más completa para e-commerce. Nuestras herramientas simplifican las operaciones digitales de un comercio, centralizando los canales de venta y comunicación para mejorar la productividad y aumentar las ventas. Te ofrecemos:
				        <ul>
				        	<li>Manejo de inventario en todos tus canales de venta digitales y fisicos</li>
				        	<li>Manejo de tus ventas en marketplaces como MercadoLibre, Facebook e Instagram Shopping </li>
				        	<li>Plataforma Omnicanal para WhatsApp, Facebook e Instagram</li>
				        	<li>Bots e Inteligencia Artificial para mejorar la comunicación con tus clientes</li>
				        	<li>Estadisticas y metricas para que puedas tomar mejores decisiones en tu negocio</li>
				        </ul> 
				      </div>
				    </div>
				  </div>

				  <div class="card section-faq-header">
				    <div class="card-header" id="headingTwo">
				      <h5 class="mb-0">
				        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
				          Puedo enviar mensajes masivos por WhatsApp
				        </button>
				      </h5>
				    </div>
				    <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				      <div class="card-body">
				        No puedes. Hacer mensajeria masiva o spam esta en contra de las politicas de WhatsApp. ¡PERO! Si puedes enviar mensajes de notificacion para mantener a tus clientes informados de cualquier actualizacion.
				      </div>
				    </div>
				  </div>


				</div>
			</div>
		</div>
	</div>		
</section>

<%= render 'layouts/footer' %>
