<% content_for :meta_title, "Incrementa tus ventas con CRM de Whatsapp Business API" %>
<% content_for :meta_description, "Con Whatsapp Business API da respuestas inmediatas, incrementa tus
ventas y mejora las conversaciones con tus clientes desde una sola línea de Whatsapp." %>


<section class="hero hero-double image-overflow-container-2 hero-2 hero-rodo">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 columns align-self-middle">
        <div class="hero-heading">
          <h2 class="hero-pre-title">
            Respuestas inmediatas, más ventas online
          </h2>
          <h1 class="hero-claim">
            WhatsApp Business API  <%= image_tag 'whatsapp_api/wa-green.png', class: 'wa-hero', alt: 'Mercately | Whatsapp API - CRM de WhatsApp' %>
          </h1>
          <p class="hero-text">
            ¡Obtén Whatsapp <strong>Multiusuario</strong> con nuestro CRM! Centraliza la
            comunicación con acceso a todos tus colaboradores, mejora la productividad y vende
            más desde un solo número de teléfono.
          </p>
          <div class="btn-group-large btn-on-mobile">
            <label for="modal--toggle" class="btn btn-large btn-white">Quiero probar WhatsApp Business API</label>
            <div>
              <%= image_tag 'whatsapp_api/official-wa-integration.png', class: '', alt: 'Mejora tus ventas online con Whatsapp Business API' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 columns col-md-6 align-right hide-on-mobile">
        <div class="image-with-gray-backdrop hero-img">
          <%= image_tag 'whatsapp_api/whats_hero.png', class: '', alt: 'Mercately - Linkedin | Sincroniza Mercadolibre desde un solo lugar' %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-explanation">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="section-exp-img">
          <%= image_tag 'whatsapp_api/chat.png', class: '', alt: 'Whatsapp API te permite tener multiusuarios para dar respuestas inmediatas' %>
        </div>
      </div>
      <div class="col-sm-12 columns col-md-8 align-right">
        <div class="section-explanation-text">
          <div class="title-explanation-holder">
            <%= image_tag 'whatsapp_api/logo_whatsapp_gris.png', class: '', alt: 'CRM de WhatsApp' %>
            <h2>¿Por qué tener un CRM de Whatsapp?</h2>
          </div>

          <p class="center-on-mobile">
            ¡Ahora todos los clientes prefieren comunicarse por Whatsapp! Nuestras
            herramientas te permiten tener acceso a diferentes funcionalidades que convertirán
            tus conversaciones en ventas.
          </p>

          <div class="section-explanation-reason">
            <div class="row">
              <div class="col-sm-12 columns col-md-3 ">
                <h3 class="main-reason">180</h3>
                <h3 class="second-reason">Países en los que se encuentra Whatsapp</h3>
              </div>
              <div class="col-sm-12 columns col-md-3 ">
                <h3 class="main-reason">1500 M</h3>
                <h3 class="second-reason">Usuarios que  usan Whatsapp</h3>
              </div>
              <div class="col-sm-12 columns col-md-3 ">
                <h3 class="main-reason">65 B</h3>
                <h3 class="second-reason">Mensajes enviados diariamente</h3>
              </div>
              <div class="col-sm-12 columns col-md-3 ">
                <h3 class="main-reason">#1</h3>
                <h3 class="second-reason">Plataforma de mensajería en América Latina</h3>
              </div>
            </div>
          </div>
          <div class="section-explanation-cta text-center">
            <label for="modal--toggle" class="btn btn-large btn-white">Quiero probar Whatsapp API</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-features">
  <div class="container">
    <div class="">
      <div class="main-title">
        <h2>Mercately es la plataforma líder en comercio conversacional</h2>
        <p class="p-font-size-mobile">Te ayudamos a <strong>mejorar y automatizar</strong> los procesos de comunicación multicanal con tu cliente, a través de herramientas digitales de primer nivel.</p>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-3 feature-on-mobile">
          <div class="feature-wrapper">
            <div class="feature-img-holder">
              <%= image_tag 'whatsapp_api/feature-1.png', class: '', alt: 'Centraliza la comunicación de tu empresa con Whatsapp Business API' %>
            </div>
            <div class="feature-text-holder">
              <h3 class="title">Unifica la comunicación de tu organización</h3>
              <p class="text">Maneja una sola línea de Whatsapp y centraliza toda tu comunicación, tanto de entrada como de salida.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 feature-on-mobile">
          <div class="feature-wrapper">
            <div class="feature-img-holder">
              <%= image_tag 'whatsapp_api/feature-2.png', class: '', alt: 'Centraliza la comunicación de tu empresa con Whatsapp Business API' %>
            </div>
            <div class="feature-text-holder">
              <h3 class="title">Ten múltiples usuarios con una sola línea</h3>
              <p class="text">Conecta a todos tus operadores a una sola línea y formaliza la comunicación organizacional hacia tus prospectos o clientes</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 feature-on-mobile">
          <div class="feature-wrapper">
            <div class="feature-img-holder">
              <%= image_tag 'whatsapp_api/feature-3.png', class: '', alt: 'Centraliza la comunicación de tu empresa con Whatsapp Business API' %>
            </div>
            <div class="feature-text-holder">
              <h3 class="title">Obtén valiosos datos de gestión</h3>
              <p class="text">Ten a la mano métricas de gestión sobre tu comunicación: porcentaje de entrega, apertura, retorno sobre inversión y más.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 feature-on-mobile">
          <div class="feature-wrapper">
            <div class="feature-img-holder">
              <%= image_tag 'whatsapp_api/feature-4.png', class: '', alt: 'Centraliza la comunicación de tu empresa con Whatsapp Business API' %>
            </div>
            <div class="feature-text-holder">
              <h3 class="title">Agiliza tu comunicación</h3>
              <p class="text">¡Basta de procesos manuales! Empieza a usar mensajes transaccionales y chatbots para automatizar la comunicación</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-transform">
  <div class="container main-title">
    <h2>Convierte a WhatsApp en una maquina de ventas</h2>
    <p class="p-font-size-mobile">¡El 70% de clientes prefieren comunicarse por Whatsapp con una empresa! No los decepsiones y bríndales una comunicación ágil y efectiva.</p>
  </div>

  <div class="container">
    <div class="feature-explanation">
      <div class="row">
        <div class="col-sm-12 col-md-6 hide-on-pc show-on-mobile">
          <div class="section-exp-img">
            <%= image_tag 'whatsapp_api/increase-1.png', class: 'img-mobile', alt: 'Centraliza la comunicación a través de Whatsapp API, ahorra tiempo y
dinero' %>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 center-landing center-on-mobile">
          <div>
            <h3>Incrementa la productividad de tu Equipo</h3>
            <p class="p-font-size-mobile">Integra toda la comunicación de Whatsapp en una sola plataforma y
              evita perdidas de tiempo y dinero. Tu equipo de trabajo tendrá disponible
              datos del cliente, productos, etiquetas de seguimiento, respuestas rápidas
              y más, para aumentar su velocidad de trabajo y mejorar su gestión.
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 hide-on-mobile show-on-pc">
          <div class="section-exp-img">
            <%= image_tag 'whatsapp_api/increase-1.png', class: '', alt: 'Centraliza la comunicación a través de Whatsapp API, ahorra tiempo y
dinero' %>
          </div>
        </div>
      </div>
    </div>
    <div class="feature-explanation">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="section-exp-img">
            <%= image_tag 'whatsapp_api/increase-2.png', class: 'img-mobile', alt: 'Mejora las conversaciones con tus clientes y genera más ventas online.' %>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 center-landing center-on-mobile">
          <div>
            <h3>Mejora las conversaciones con tus clientes</h3>
            <p class="p-font-size-mobile">
              ¡El 70% de clientes adquieren el producto de la empresa que le brinde un
              mejor servicio! Te ayudamos a mejorar la velocidad de respuesta y entregar un servicio
              personalizado con poderosas herramientas de gestión de conversaciones.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="feature-explanation">
      <div class="row">
        <div class="col-sm-12 col-md-6 hide-on-pc show-on-mobile">
          <div class="section-exp-img">
            <%= image_tag 'whatsapp_api/increase-4.png', class: 'img-mobile', alt: 'Incrementa tus ventas con Whatsapp Business API' %>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 center-landing center-on-mobile">
          <div>
            <h3>Incrementa las posibilidades de venta en 70%</h3>
            <p class="p-font-size-mobile">
              “Ya no basta con satisfacer a los clientes, ahora hay que dejarlos encantados”
              Nuestros clientes han aumentado su porcentaje de ventas en
              conversaciones de Whatsapp. Todo gracias al poder de escuchar y responder
              proactivamente a las demandas del consumidor.
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 hide-on-mobile show-on-pc">
          <div class="section-exp-img">
            <%= image_tag 'whatsapp_api/increase-4.png', class: '', alt: 'Incrementa tus ventas con Whatsapp Business API' %>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <label for="modal--toggle" class="btn btn-large btn-white">Quiero probar WhatsApp Business API</label>
    </div>
  </div>
</section>

<section class="section sections-clients">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 >
          Qué dicen nuestros clientes
        </h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 col-md-6 recomendation-on-mobile">
            <div class="recomendation-wrapper">
              <div class="">
                <p>
                  <strong>"Mercately es la mejor opción para empezar un negocio online.</strong>
                  Con todas sus herramientas pude organizar mis conversaciones, clientes, ventas y adentrarme en el e-commerce de manera sencilla.”
                </p>
              </div>
              <figure class="">
                <picture>
                  <%= image_tag 'whatsapp_api/weider.jpeg', class: 'recommend-img', alt: 'Mercately | Whatsapp API - CRM de WhatsApp' %>
                </picture>
                <figcaption>Weider Paez, <br /><a href="">Capfe.com.ec</a></figcaption>
              </figure>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="recomendation-wrapper">
              <div class="">
                <p>
                  <strong>"Con Mercately logre organizar el WhatsApp de mi empresa y aumentar 30% mis ventas por ese canal.</strong>
                  Antes no tenia control de las conversaciones con mis clientes. Mercately cambio por completo mi negocio.”
                </p>
              </div>
              <figure class="">
                <picture>
                  <%= image_tag 'whatsapp_api/francisco.jpeg', class: 'recommend-img', alt: 'Mercately | Whatsapp API - CRM de WhatsApp' %>
                </picture>
                <figcaption>Francisco Zambrano, <br /><a href="">PequeAyuda.com</a></figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section sections-faqs">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 >
          Preguntas Frecuentes
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div id="accordion">
          <div class="card section-faq-header">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Que es WhatsApp Business API
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                Whatsapp Business API, es un servicio de Whatsapp, a través
                del cual una empresa puede tener un número corporativo verificado con funcionalidades
                que permiten mejorar la comunicación con el cliente final a traves de un proveedor de servicios como Mercately.
                <br />
                Entre estas funcionalidades se encuentran la capacidad de que diferentes operadores contesten las conversaciones de un mismo número, automatizaciones,
                integraciones con CRM, análisis de datos, chatbots y más.
              </div>
            </div>
          </div>
          <div class="card section-faq-header">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Un momento, yo ya tengo WhatsApp. Cual es la diferencia.
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                La aplicación de WhatsApp Business permite a las pequeñas empresas interactuar con sus clientes mediante una aplicación. Sin embargo, la comunicación sigue siendo unipersonal permitiendo a solo un asesor tomar todas las conversaciones.
                <br /> <br />
                Piensa en esto. Si tu quieres conectar a todo un equipo tienes que adquirir al menos un número para cada asesor, no puedes medir la mensajería de tus asesores, crear chatbots, o automatizar las tareas repetitivas.
                Con las herramientas de comercio conversacional de Mercately puedes escalar la comunicación de tu empresa, opteniendo un solo numero verificado de tu empresa, conectando multiples asesores, automatizando el contacto con tus clientes, creando chatbots inteligentes, generando analitica avanzada de tus conversaciones todo esto para brindar un soporte a tus clientes que sea excepcional.
              </div>
            </div>
          </div>
          <div class="card section-faq-header">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Entonces, que debo utilizar en mi negocio. WhatsApp Business o WhatsApp Business API
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                Si eres un negocio pequeño con un volumen de mensajería menor a 2500 mensajes por mes y no tienes mutiples asesores la aplicación de WhatsApp Business es más apropiada para ti. Nuestro equipo tiene diversas herramientas de ventas y comunicación que te ayudarán a llevar a tu negocio al siguiente nivel. Visita nuesta home o contactanos aquí si quieres conocer más.
              </div>
            </div>
          </div>
          <div class="card section-faq-header">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Cuales son las diferencias entre las conversaciones de WhatsApp Business y WhatsApp Business API
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                WhatsApp admite dos casos de uso: Atención al cliente y Notificaciones. Atención al cliente se inicia con un mensaje entrante. Cuando se recibe el primer mensaje del usuario, se abre una conversación, en la que la empresa puede responder con mensajes de forma libre. La conversación permanecerá abierta durante 24 horas desde el último mensaje recibido del usuario. El caso de uso de notificaciones es un servicio de mensajería unidireccional diseñado para que la empresa envíe alertas y notificaciones informativas a los usuarios. Los mensajes enviados en este caso de uso deben utilizar plantillas aprobadas previamente. WhatsApp restringe los casos de uso de marketing / promoción y no aprobará plantillas con contenido promocional.
              </div>
            </div>
          </div>
          <div class="card section-faq-header">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Cuales son los requerimientos para tener el servicio?
                </button>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body">
                Para iniciar con WhatsApp Business API, primero necesitas tener una empresa verificada por Facebook, puedes encontrar los pasos aqui. Una vez tu empresa sea verificada Mercately se encargará de todo el proceso para verificar tu empresa con WhatsApp, nos toma entre 24 a 48 horas verificar la empresa y el numero a utilizar. Envianos un mensaje para iniciar el proceso.
              </div>
            </div>
          </div>
          <div class="card section-faq-header">
            <div class="card-header" id="headingSix">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Que puedo hacer con Mercately y WhatsApp
                </button>
              </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
              <div class="card-body">
                Mercately es la plataforma de comercio conversacional más completa para e-commerce. Nuestras herramientas simplifican las operaciones digitales de un comercio, centralizando los canales de venta y comunicación para mejorar la productividad y aumentar las ventas. Te ofrecemos:
                <ul>
                  <li>Manejo de inventario en todos tus canales de venta digitales y fisicos</li>
                  <li>Manejo de tus ventas en marketplaces como MercadoLibre, Facebook e Instagram Shopping </li>
                  <li>Plataforma Omnicanal para WhatsApp, Facebook e Instagram</li>
                  <li>Bots e Inteligencia Artificial para mejorar la comunicación con tus clientes</li>
                  <li>Estadisticas y metricas para que puedas tomar mejores decisiones en tu negocio</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card section-faq-header">
            <div class="card-header" id="headingSeven">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  Puedo enviar mensajes masivos por WhatsApp
                </button>
              </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
              <div class="card-body">
                No puedes. Hacer mensajeria masiva o spam esta en contra de las politicas de WhatsApp. ¡PERO! Si puedes enviar mensajes de notificacion para mantener a tus clientes informados de cualquier actualizacion.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'layouts/footer' %>

<input type="checkbox" class="d-none" name="modal--toggle" id="modal--toggle" />
<div class="modal">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-xs-12 col-md-8 middle">
        <label class="modal__background" for="modal--toggle"></label>
        <div class="modal__window box p-15 h-unset mt-0" style="z-index: 1000;">
          <label class="modal__close" for="modal--toggle">
            <i class="fs-22 mt-4 mr-4 f-right far fa-times-circle"></i>
          </label>
          <div class="">
            <div class="col-xs-12">
              <div class="modal_card__title c-black">Solicitar una demostración</div>
              <div class="divider"></div>
              <%= form_tag request_demo_path, method: :post, id: 'form_demo_3', class: 'validate-form col-xs-12 p-0' do %>
                <fieldset class="fieldset mt-16 t-left">
                  <legend>Dejanos tu información de contacto y nuestro equipo se estará comunicando para concretar una reunión personal o por skype</legend>
                  <input type="hidden" name="from-ws-crm" value="true" %>
                  <div class="mt-8 mb-12">
                    <%= label_tag :name, 'Nombre*' %>
                    <%= text_field_tag :name, nil, class: 'input width-100 validate-required', placeholder: 'Nombre y apellido' %>
                    <i class="validation-msg"></i>
                  </div>
                  <div class="mt-8 mb-12">
                    <%= label_tag :email, 'Email*' %>
                    <%= text_field_tag :email, nil, class: 'input width-100 validate-email validate-required', placeholder: 'email@example.com' %>
                    <i class="validation-msg"></i>
                  </div>
                  <div class="mt-8 mb-12">
                    <%= label_tag :company, 'Nombre de la empresa' %>
                    <%= text_field_tag :company, nil, class: 'input width-100' %>
                  </div>
                  <div class="mt-8 mb-12">
                    <%= label_tag :phone, 'Teléfono*' %>
                    <%= text_field_tag :phone, nil, class: 'input width-100 validate-required', placeholder: '098-333-4444' %>
                    <i class="validation-msg"></i>
                  </div>
                  <div class="mt-8 mb-12">
                    <%= label_tag :message, 'Mensaje' %>
                    <%= text_area_tag :message, nil, class: 'input width-100 h-unset' %>
                  </div>
                  <div class="mt-8 mb-12">
                    <% if @show_checkbox_recaptcha %>
                      <%= recaptcha_tags(site_key: ENV['RECAPTCHA_SITE_KEY_V2']) %>
                    <% else %>
                      <%= recaptcha_v3(action: 'schedule') %>
                      <div class="recap-subtitle">
                        Este sitio está protegido por reCAPTCHA bajo los
                        <a href="https://policies.google.com/terms">terminos de servicio</a>
                        y la
                        <a href="https://policies.google.com/privacy">política de privacidad</a> de Google
                      </div>
                    <% end %>
                  </div>
                </fieldset>
                <div class="btn-box col-xs-12">
                  <%= submit_tag 'Solicitar', class: 'btn-btn btn-submit', data: { disable_with: false } %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script charset="utf-8">
  $(document).ready(function() {
    $('#modal--toggle').on('change', function(e) {
      $('body').toggleClass('o-hidden');
    })
  })
</script>
