<%= stylesheet_link_tag "mailers/welcome_mailer" %>
<div class="main-container-reset ff-welcome-mail">
  <div class="inner-container-reset">
    <div class="logo-container">
      <%= image_tag 'mailer/logo.png', class: "image-logo-reset" %>
    </div>

    <div class="ml-45 mt-20 mr-45">
      <p class="fs-16 p-color lg-18">
        <%= t('mailer.failed_charge_greetings', name: @retailer_user.full_name.presence || @retailer_user.email) %>,
      </p>
    </div>

    <div class="ml-45 mt-20 mr-45">
      <p class="fs-16 p-color lg-18">
        <%= t('mailer.failed_charge_message', card: @card_type&.upcase) %> <a href=<%= "https://mercately.com/retailers/#{@retailer.slug}/pricing" %> ><%= "https://mercately.com/retailers/#{@retailer.slug}/pricing" %></a>
      </p>
    </div>

    <div class="ml-45 mt-20 mr-45">
      <p class="fs-16 p-color lg-18">
        <%= t('mailer.failed_charge_advice') %>
      </p>
    </div>

    <div class="sign-container">
      <p class="fs-16 p-color fw-bold">
        <%= Date.current.year %> MERCATELY
      </p>
    </div>

    <div id="social-media" class="social-media-container">
      <%= image_tag 'facebook-logo.png', class:"social-media-icons" %>
      <%= image_tag 'twitter.png', class:"social-media-icons" %>
      <%= image_tag 'instagram.png', class:"social-media-icons" %>
    </div>
  </div>
</div>
