<%= stylesheet_link_tag "mailers/welcome_mailer" %>
<div class="main-container-reset ff-welcome-mail">
  <div class="inner-container-reset">
    <div class="logo-container">
      <%= image_tag 'logo-mercately-h.png', class: "image-logo-reset" %>
    </div>

    <div class="ml-45 mt-20 mr-45">
      <p class="fs-16 p-color lg-18">
        Tu saldo está a punto de terminarse
      </p>
    </div>

    <div class="ml-45 mt-20 mr-45">
      <h3>Saldo Actual:</h3>
      <p class="fs-16 p-color lg-18">
        $<%= @retailer.ws_balance.round(4) %>
      </p>

      <p class="fs-16 p-color lg-18">
        Le recomendamos que se comunique con nosotros para seguir enviando mensajes de Whatsapp.
      </p>

    </div>

    <div class="sign-container">
      <p class="fs-16 p-color fw-bold">
        <%= Date.current.year %> MERCATELY
      </p>
    </div>

    <div id="social-media" class="social-media-container">
      <%= image_tag 'facebook-logo.png', class:"social-media-icons" %>
      <%= image_tag 'twitter.png', class:"social-media-icons" %>
      <%= image_tag 'instagram.png', class:"social-media-icons" %>
    </div>
  </div>
</div>
