<div class="nested-fields box">
  <div class="my-16 bottom-xs">
    <div class="row align-items-center">
      <div class="col-sm-4">
        <%= f.hidden_field :retailer_user_id, class: 'validate-unique' %>
        <%= f.object.retailer_user.full_name.presence || f.object.retailer_user.email %>
      </div>
      <div class="col-sm-2 text-center">
        <%= f.object.assigned_amount %>
      </div>
      <div class="col-sm-2 text-center">
        <label class="switch">
          <%= f.check_box :active %>
          <span class="slider round" />
        </label>
        Activo
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2 center-xs end-sm p-0 my-12 t-right">
        <%= link_to_remove_association f, class: 'cursor-pointer d-inline-block fz-14 no-style mr-10', style: 'color: #212529;' do %>
          <i class="fas fa-trash-alt mr-8"></i>
          Remover
        <% end %>
      </div>
    </div>
  </div>
</div>
