<%= form_for([:retailers, team_assignment], url: team_assignment.new_record? ? retailers_team_assignments_path(current_retailer, @team_assignment) : retailers_team_assignment_path(current_retailer, team_assignment), local: true, html: { class: 'validate-form p-0 col-xs-12' }) do |f| %>
  <div class="box">
    <fieldset class="fieldset mt-16">
      <div class="row w-100">
        <div class="col-xs-12 col-md-12 mb-8 my-16">
          <%= f.label :name, 'Nombre' %><br/>
          <%= f.text_field :name, class: 'input validate-required w-100' %>
          <i class="validation-msg"></i>
        </div>
      </div>
      <div class="row w-100">
        <div class="col-xs-12 col-12 mb-8 my-16">
          <%= f.label :active_assignment, for: nil, class: 'switch' do %>
            <%= f.check_box :active_assignment, id: nil %>
            <span class="slider round" />
          <% end %>
          ¿Activar asignación para el equipo?
          <br />
        </div>
        <div class="col-xs-12 col-12 mb-8 my-16">
          <%= f.label :default_assignment, for: nil, class: 'switch' do %>
            <%= f.check_box :default_assignment, id: nil %>
            <span class="slider round" />
          <% end %>
          ¿Asignar por defecto a este equipo?
          <br />
        </div>
      </div>
      <div class="row w-100">
        <div class="col-xs-12 col-md-12 mb-8 my-16">
          <label>
            Plataformas:
          </label>
          <br />
          <% if current_retailer.karix_integrated? || current_retailer.gupshup_integrated? %>
            <%= f.label :whatsapp, for: nil do %>
              <%= f.check_box :whatsapp, class: 'validate-any-required d-none', id: nil %>
              <div class="selected-platform t-center">
                <%= image_tag 'dashboard/blue-check.png', class: 'selected-platform-check' %>
                <%= image_tag 'dashboard/wa_icon.png' %>
                <br />
                WhatsApp
              </div>
            <% end %>
          <% end %>
          <% if current_retailer.facebook_integrated? %>
            <%= f.label :messenger, for: nil do %>
              <%= f.check_box :messenger, class: 'validate-any-required d-none', id: nil %>
              <div class="selected-platform t-center">
                <%= image_tag 'dashboard/blue-check.png', class: 'selected-platform-check' %>
                <%= image_tag 'dashboard/msg_icon.png' %>
                <br />
                Messenger
              </div>
            <% end %>
          <% end %>
          <% if current_retailer.instagram_integrated? %>
            <%= f.label :instagram, for: nil do %>
              <%= f.check_box :instagram, class: 'validate-any-required d-none', id: nil %>
              <div class="selected-platform t-center">
                <%= image_tag 'dashboard/blue-check.png', class: 'selected-platform-check' %>
                <%= image_tag 'dashboard/ig_icon.png' %>
                <br />
                Instagram
              </div>
            <% end %>
          <% end %>
          <br />
          <i class="validation-msg"></i>
          <div class="validate-any-error" style="display: none;">
            <i class="validation-msg">Debes seleccionar al menos una plataforma</i><br />
          </div>
        </div>
      </div>
      <div class="btn-box col-xs-12 mb-12 t-center">
        <%= f.submit 'Guardar', class: 'blue-button', data: { disable_with: false } %>
      </div>
    </fieldset>
  </div>
<% end %>

<script charset="utf-8">
  <% if @team_assignment&.errors&.any? %>
    <% @team_assignment.errors.each do |attribute, message| %>
      showtoast("<%= message %>")
    <% end %>
  <% end %>
</script>

<script src="<%= asset_path 'retailers/team_assignments/team_assignments.js' %>" charset="utf-8"></script>
