<div class="general-new-container">
  <h1 class="d-inline general-new-container_header-title">Dashboard</h1>
  <p class="general-new-container_sub">Estadísticas de ventas, mensajería y otros</p>

  <div class="card mt-14 py-35 general-new-container_card">
    <div class="row">
      <div class="col-xs-12 col-md-8 p-0">
        <h3 class="m-0 mb-10 ml-20 general-new-container_sub-title">Mensajería</h3>
        <% unless current_retailer.show_stats %>
          <div class="fs-13 ml-20">Sólo puedes ver datos de los últimos 5 días. Para ver datos completos actualiza a Premium.</div>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-4 pr-20">
        <%= form_for(:search, url: retailers_total_messages_stats_path(current_retailer), method: :get, html: { id: 'select_range_stats' }) do |form| %>
          <div id="date-picker-container" class="select-range <%= 'disable-picker' unless current_retailer.show_stats %>">
            <%= form.text_field :range, value: date_from_parameters, data: { behavior: 'daterangepicker' } %>
            <span class="c-secondary"><i class="fas fa-caret-down"></i></span>
          </div>
        <% end %>
      </div>
    </div>

    <div class="px-20">
      <div class="row mt-30 mb-10">
        <div class="col-xs-12 col-md-3 mb-20">
          <div class="social-newtork-card social-newtork-card-total px-10 py-5">
            <div class="w-100 d-inline-flex fs-15 p-relative">
              <span class="bold-font">Mensajes (Total)</span><span class="icon-container"><i class="fas fa-comments fs-20"></i></span>
            </div>
            <div class="w-100 d-inline-flex fs-13 fw-bold">
              <div class="col-xs-6 p-0">Recibidos</div><div class="col-xs-6"><%= @total_inbound %></div>
            </div>
            <div class="w-100 d-inline-flex fs-13 fw-bold">
              <div class="col-xs-6 p-0">Enviados</div><div class="col-xs-6"><%= @total_outbound %></div>
            </div>
            <div class="w-100 d-inline-flex fs-15">
              <div class="col-xs-6 p-0 bold-font">Total</div><div class="col-xs-6 bold-font"><%= @total_inbound + @total_outbound %></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-3 mb-20">
          <div class="social-newtork-card social-newtork-card-ws px-10 py-5">
            <div class="w-100 d-inline-flex fs-15 p-relative">
              <span class="bold-font">Mensajes - Whatsapp</span><%= image_tag 'ws_icon.png', class: 'image-icon' %>
            </div>
            <div class="w-100 d-inline-flex fs-13 fw-bold">
              <div class="col-xs-6 p-0">Recibidos</div><div class="col-xs-6"><%= @total_inbound_ws %></div>
            </div>
            <div class="w-100 d-inline-flex fs-13 fw-bold">
              <div class="col-xs-6 p-0">Enviados</div><div class="col-xs-6"><%= @total_outbound_ws %></div>
            </div>
            <div class="w-100 d-inline-flex fs-15">
              <div class="col-xs-6 p-0 bold-font">Total</div><div class="col-xs-6 bold-font"><%= @total_inbound_ws + @total_outbound_ws %></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-3 mb-20">
          <div class="social-newtork-card social-newtork-card-msn px-10 py-5">
            <div class="w-100 d-inline-flex fs-15 p-relative">
              <span class="bold-font">Mensajes - Messenger</span><%= image_tag 'dashboard/messenger.png', class: 'image-icon' %>
            </div>
            <div class="w-100 d-inline-flex fs-13 fw-bold">
              <div class="col-xs-6 p-0">Recibidos</div><div class="col-xs-6"><%= @total_inbound_msn %></div>
            </div>
            <div class="w-100 d-inline-flex fs-13 fw-bold">
              <div class="col-xs-6 p-0">Enviados</div><div class="col-xs-6"><%= @total_outbound_msn %></div>
            </div>
            <div class="w-100 d-inline-flex fs-15">
              <div class="col-xs-6 p-0 bold-font">Total</div><div class="col-xs-6 bold-font"><%= @total_inbound_msn + @total_outbound_msn %></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-3 mb-20">
          <div class="social-newtork-card social-newtork-card-ml px-10 py-5">
            <div class="w-100 d-inline-flex fs-15 p-relative">
              <span class="bold-font">Mensajes - MercadoLibre</span><%= image_tag 'ml_icon.png', class: 'image-icon' %>
            </div>
            <div class="w-100 d-inline-flex fs-13 fw-bold">
              <div class="col-xs-6 p-0">Recibidos</div><div class="col-xs-6"><%= @total_inbound_ml %></div>
            </div>
            <div class="w-100 d-inline-flex fs-13 fw-bold">
              <div class="col-xs-6 p-0">Enviados</div><div class="col-xs-6"><%= @total_outbound_ml %></div>
            </div>
            <div class="w-100 d-inline-flex fs-15">
              <div class="col-xs-6 p-0 bold-font">Total</div><div class="col-xs-6 bold-font"><%= @total_inbound_ml + @total_outbound_ml %></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="stats-box px-20">
          <p class="bold-font mb-30">Total de mensajes por plataforma/red social</p>
          <%= line_chart @total_stats, legend: false, curve: false %>
        </div>
        <div class="t-center">
          <div class="d-inline-flex mt-30 legend-messages-container">
            <div class="center-flex">
              <div class="circle-legend circle-legend-ws mr-20"></div>
              <div class="fw-bold mr-40">Whatsapp</div>
            </div>
            <div class="center-flex">
              <div class="circle-legend circle-legend-msn mr-20"></div>
              <div class="fw-bold mr-40">Messenger</div>
            </div>
            <div class="center-flex">
              <div class="circle-legend circle-legend-ml mr-20"></div>
              <div class="fw-bold mr-40">MercadoLibre</div>
            </div>
            <div class="center-flex">
              <div class="circle-legend circle-legend-total mr-20"></div>
              <div class="fw-bold mr-40">Total de mensajes</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-30 py-35 general-new-container_card">
    <h3 class="m-0 mb-10 ml-20 general-new-container_sub-title">Clientes</h3>

    <div class="px-20">
      <div class="row my-30">
        <div class="col-xs-12 col-md-6 mb-20">
          <div class="d-inline-flex mb-15">
            <div class="mr-80 fw-bold">Clientes nuevos</div>
            <div class=""><%= @ws_prospects + @msn_prospects + @ml_prospects %></div>
          </div>
          <div class="w-100 percentage-container">
            <div class="percentage-div center-flex" style="width: <%= @percentage_prospects %>%;"><%= @percentage_prospects > 0 ? @percentage_prospects.to_s + '%' : '' %></div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 mb-20">
          <div class="d-inline-flex mb-15">
            <div class="mr-80 fw-bold">Clientes recurrentes</div>
            <div class=""><%= @ws_currents + @msn_currents + @ml_currents %></div>
          </div>
          <div class="w-100 percentage-container">
            <div class="percentage-div center-flex" style="width: <%= @percentage_currents %>%;"><%= @percentage_currents > 0 ? @percentage_currents.to_s + '%' : '' %></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-30 py-35 general-new-container_card">
    <h3 class="m-0 mb-20 ml-20 general-new-container_sub-title">Rendimiento por agente</h3>

    <div class="px-20">
      <div class="col-xs-12 py-10 fw-bold stats-agent-headers">
        <div class="row">
          <div class="col-xs-3 t-center">
            Agente
          </div>
          <div class="col-xs-2 t-center">
            Chats asignados
          </div>
          <div class="col-xs-1 t-center">
            Mensajes
          </div>
          <div class="col-xs-2 t-center">
            Total de clientes
          </div>
          <div class="col-xs-2 t-center">
            Clientes recurrentes
          </div>
          <div class="col-xs-2 t-center">
            Clientes nuevos
          </div>
        </div>
      </div>

      <% @agent_stats.each do |agent| %>
        <div class="col-xs-12 py-15 stats-agent-items fs-14">
          <div class="row">
            <div class="col-xs-3 t-center truncate">
              <%= agent[:name] %>
            </div>
            <div class="col-xs-2 t-center">
              <%= agent[:chats_assigned] %>
            </div>
            <div class="col-xs-1 t-center">
              <%= agent[:messages_sent] %>
            </div>
            <div class="col-xs-2 t-center">
              <%= agent[:customers] %>
            </div>
            <div class="col-xs-2 t-center">
              <%= agent[:currents] %>
            </div>
            <div class="col-xs-2 t-center">
              <%= agent[:prospects] %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="card mt-30 py-35 general-new-container_card">
    <h3 class="m-0 mb-20 ml-20 general-new-container_sub-title">Total de chats por plataforma</h3>

    <div class="px-20">
      <div class="col-xs-12 py-10 fw-bold stats-agent-headers">
        <div class="row">
          <div class="col-xs-3 t-center">
            Plataforma
          </div>
          <div class="col-xs-3 t-center">
            Total de chats
          </div>
          <div class="col-xs-3 t-center">
            Chats respondidos
          </div>
          <div class="col-xs-3 t-center">
            Chats sin responder
          </div>
        </div>
      </div>

      <% @total_chats.each_with_index do |chat, index| %>
        <div class="col-xs-12 py-15 stats-agent-items fs-14 <%= 'fw-bold' if index == 2 %>">
          <div class="row">
            <div class="col-xs-3 t-center truncate">
              <%= chat[:platform] %>
            </div>
            <div class="col-xs-3 t-center">
              <%= chat[:total_chats] %>
            </div>
            <div class="col-xs-3 t-center">
              <%= chat[:total_answered] %>
            </div>
            <div class="col-xs-3 t-center">
              <%= chat[:total_not_answered] %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var today = new Date;
    $('[data-behavior="daterangepicker"]').daterangepicker({
      opens: 'left',
      startDate: '<%= @start_date %>',
      endDate: '<%= @end_date %>',
      maxDate: today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear(),
      ranges: {
        'Hoy': [moment(), moment()],
        'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Últimos 7 días': [moment().subtract(6, 'days'), moment()],
        'Últimos 30 días': [moment().subtract(29, 'days'), moment()],
        'Este mes': [moment().startOf('month'), moment().endOf('month')],
        'Mes pasado': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
      },
      locale: {
        format: 'DD/MM/YYYY',
        cancelLabel: 'Cancelar',
        applyLabel: 'Aplicar',
        fromLabel: 'Desde',
        toLabel: 'Hasta',
        customRangeLabel: 'Editar fecha',
        weekLabel: 'Semana',
        daysOfWeek: [
          'Do',
          'Lu',
          'Ma',
          'Mi',
          'Ju',
          'Vi',
          'Sa'
        ],
        monthNames: [
          'Enero',
          'Febrero',
          'Marzo',
          'Abril',
          'Mayo',
          'Junio',
          'Julio',
          'Agosto',
          'Septiembre',
          'Octubre',
          'Noviembre',
          'Diciembre'
        ],
        firstDay: 1
      }
    }, function() {
      setTimeout(function() {
        $('#select_range_stats').submit();
      }, 100)
    });

    $('#date-picker-container, #search_range').on('click', function() {
      $('#search_range').data('daterangepicker').toggle();
    });
  });
</script>
