<%= stylesheet_link_tag "mailers/welcome_mailer" %>
<div class="main-container-reset ff-welcome-mail">
  <div class="inner-container-reset">
    <div class="logo-container">
      <%= image_tag 'logo-mercately-h.png', class: "image-logo-reset" %>
    </div>

    <div class="ml-45 gretting-container fw-bold">
      <p class="greeting-color">Hola <%= @retailer_user.full_name %>, te saluda el equipo de Mercately.</p>
    </div>

    <div class="ml-45 mt-20 mr-45">
      <p class="fs-16 p-color lg-18">
      La campaña "<%= @campaign.name %>" no pudo ser envíada debido a un fallo temporal de WhatsApp.
      <br/>
      Te notificaremos cuando el servicio vuelva a estar disponible.
      </p>
    </div>

    <%= render "shared/emails/footer" %>
  </div>
</div>
