<div class="box">
  <div class="row">
    <%= form_for [:retailers, @customer], html: { class: 'col-xs-12 p-0' } do |f| %>
      <fieldset class="fieldset mt-16">
        <legend>Información básica de cliente</legend>
        <div class="my-16">
          <%= f.label :first_name, 'Nombre' %>
          <%= f.text_field :first_name, class: 'input', required: 'true' %>
        </div>
        <div class="my-16">
          <%= f.label :last_name, 'Apellido' %>
          <%= f.text_field :last_name, class: 'input', required: 'true' %>
        </div>
        <div class="my-16">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'input', required: 'true' %>
        </div>
        <div class="my-16">
          <%= f.label :phone, 'Teléfono' %>
          <%= f.text_field :phone, class: 'input' %>
        </div>
      </fieldset>
      <div class="btn-box col-xs-12">
        <%= f.submit 'Guardar', class: 'btn-btn btn-submit' %>
      </div>
    <% end %>
  </div>
</div>
