<div class="box">
  <div class="row">
    <%= form_for [:retailers, @customer], html: { class: 'validate-form col-xs-12 p-0' } do |f| %>
      <fieldset class="fieldset mt-16">
        <legend>Información básica de cliente</legend>
        <div class="my-16">
          <%= f.label :full_name, 'Nombres' %>
          <%= f.text_field :full_name, class: 'input' %>
        </div>
        <div class="my-16">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'input validate-email validate-required' %>
          <i class="validation-msg"></i>
        </div>
        <div class="my-16">
          <%= f.label :phone, 'Teléfono' %>
          <%= f.text_field :phone, class: 'input' %>
        </div>
      </fieldset>
      <div class="btn-box col-xs-12">
        <%= f.submit 'Guardar', class: 'btn-btn btn-submit', data: { disable_with: false } %>
      </div>
    <% end %>
  </div>
</div>
