<div class="box">
  <div class="row">
    <%= form_for [:retailers, @customer], html: { class: 'validate-form col-xs-12 p-0' } do |f| %>
      <div class="box">
        <fieldset class="fieldset mt-16 row">
          <legend>Información básica de cliente</legend>
          <div class="my-16 col-xs-12">
            <%= f.label :full_name, 'Nombres' %>
            <%= f.text_field :full_name, class: 'input' %>
          </div>
          <div class="my-16 col-xs-12">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'input validate-email validate-required' %>
            <i class="validation-msg"></i>
          </div>
          <div class="my-16 col-xs-12">
            <%= f.label :phone, 'Teléfono' %>
            <%= f.text_field :phone, class: 'input' %>
          </div>
          <div class="my-16 col-xs-12 col-md-6">
            <%= f.label :id_type, 'Tipo de identificación' %>
            <%= f.select :id_type, Customer.id_types.keys, class: 'input' %>
          </div>
          <div class="my-16 col-xs-12 col-md-6">
            <%= f.label :id_number, 'Identificación' %>
            <%= f.text_field :id_number, class: 'input' %>
          </div>
          <div class="my-16 col-xs-12 col-md-3">
            <%= f.label :address, 'Dirección' %>
            <%= f.text_field :address, class: 'input' %>
          </div>
          <div class="my-16 col-xs-12 col-md-3">
            <%= f.label :city, 'Ciudad' %>
            <%= f.text_field :city, class: 'input' %>
          </div>
          <div class="my-16 col-xs-12 col-md-3">
            <%= f.label :state, 'Estado (Provincia)' %>
            <%= f.text_field :state, class: 'input' %>
          </div>
          <div class="my-16 col-xs-12 col-md-3">
            <%= f.label :zip_code, 'Zip' %>
            <%= f.text_field :zip_code, class: 'input' %>
          </div>
        </fieldset>
        <div class="btn-box col-xs-12">
          <%= f.submit 'Guardar', class: 'btn-btn btn-submit', data: { disable_with: false } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
