<div class="box">
  <div class="row">
    <%= form_for [:retailers, @customer], html: { class: 'validate-form col-xs-12 p-0' } do |f| %>
      <input type="hidden" id="cust-total-tags" value="<%= @customer.new_record? ? 0 : @customer.customer_tags.size %>" />
      <div class="box">
        <fieldset class="fieldset mt-16 row">
          <legend>Información básica de cliente</legend>
          <div class="my-16 col-xs-12">
            <%= f.label :first_name, 'Nombre' %>
            <%= f.text_field :first_name, class: 'input validate-required' %>
            <i class="validation-msg"></i>
          </div>
          <div class="my-16 col-xs-12">
            <%= f.label :last_name, 'Apellido' %>
            <%= f.text_field :last_name, class: 'input validate-required' %>
            <i class="validation-msg"></i>
          </div>
          <div class="my-16 col-xs-12">
            <div id="validate-any-error" class="d-none">
              <i class="validation-msg">Debe llenar alguno de los campos Email o Teléfono</i><br />
            </div>
            <%= f.label :email %>
            <%= f.text_field :email, class: 'input validate-email validate-any-required' %>
            <i class="validation-msg"></i>
          </div>
          <div class="row w-100">
            <div id="customer-tags-fields" class="my-16 col-xs-12">
              <%= f.label 'Etiquetas' %><br />
              <% unless @customer.tags.present? %>
                <a href="javascript:;" onclick="showSelectingTags(this)">Añadir etiqueta</a>
              <% end %>
              <div id="add-customer-tags-container" class="<%= 'd-none' unless @customer.tags.present? %>">
                <%= f.select :tag_ids, retailer_selectable_tags(current_retailer), { selected: @customer.tags.ids }, class: 'input', multiple: true %>
              </div>
            </div>
          </div>
          <div class="row w-100">
            <div class="my-16 col-xs-12 col-md-6">
              <%= f.label :country_id, 'País' %>
              <%= f.country_select("country_id", { format: :with_country_code, include_blank: true }, { class: 'input' }) %>
            </div>
            <div class="my-16 col-xs-12 col-md-6">
              <%= f.label :phone, 'Teléfono' %>
              <%= f.text_field :phone, class: 'input validate-any-required', onkeypress: 'onlyNumber(event)' %>
            </div>
          </div>
          <% if current_retailer.gupshup_integrated? %>
            <div class="row w-100">
              <div class="my-16 col-xs-12 col-md-6">
                <%= f.check_box :whatsapp_opt_in %>
                <%= f.label :whatsapp_opt_in, 'Tengo el permiso explícito de enviar mensajes a este número (opt-in)' %><br/>
              </div>
            </div>
          <% end %>
          <div class="row w-100">
            <div class="my-16 col-xs-12 col-md-6">
              <%= f.label :id_type, 'Tipo de identificación' %>
              <%= f.select :id_type, Customer.id_types.keys, class: 'input' %>
            </div>
            <div class="my-16 col-xs-12 col-md-6">
              <%= f.label :id_number, 'Identificación' %>
              <%= f.text_field :id_number, class: 'input' %>
            </div>
          </div>
          <div class="row w-100">
            <div class="my-16 col-xs-12 col-md-3">
              <%= f.label :address, 'Dirección' %>
              <%= f.text_field :address, class: 'input' %>
            </div>
            <div class="my-16 col-xs-12 col-md-3">
              <%= f.label :city, 'Ciudad' %>
              <%= f.text_field :city, class: 'input' %>
            </div>
            <div class="my-16 col-xs-12 col-md-3">
              <%= f.label :state, 'Estado (Provincia)' %>
              <%= f.text_field :state, class: 'input' %>
            </div>
            <div class="my-16 col-xs-12 col-md-3">
              <%= f.label :zip_code, 'Zip' %>
              <%= f.text_field :zip_code, class: 'input' %>
            </div>
          </div>
          <div class="row w-100">
            <div class="my-16 col-xs-12">
              <%= f.label :notes, 'Notas' %>
              <%= f.text_area :notes, class: 'input h-40' %>
            </div>
          </div>
        </fieldset>
        <div class="btn-box col-xs-12">
          <%= f.submit 'Guardar', class: 'btn-btn btn-submit', data: { disable_with: false } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script src="<%= asset_path 'retailers/customers/customers.js' %>" charset="utf-8"></script>
