<div class="box">
  <div class="row">
    <%= form_for [:retailers, @customer], html: { class: 'col-xs-12' } do |f| %>
      <div class="box">
        <div class="row">
          <div class="group col-xs-12 col-md-6">
            <%= f.text_field :first_name %>
            <%= f.label :first_name %>
            <span class="bar"></span>
          </div>
          <div class="group col-xs-12 col-md-6">
            <%= f.text_field :last_name %>
            <%= f.label :last_name %>
            <span class="bar"></span>
          </div>
          <div class="group col-xs-12 col-md-6">
            <%= f.text_field :email %>
            <%= f.label :email %>
            <span class="bar"></span>
          </div>
          <div class="group col-xs-12 col-md-6">
            <%= f.text_field :phone %>
            <%= f.label :phone %>
            <span class="bar"></span>
          </div>
          <div class="btn-box col-xs-12">
            <%= f.submit 'Guardar', class: 'btn-btn btn-submit' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
