<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>first_name</th>
      <th>last_name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.email %></td>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= link_to 'Show', retailers_customer_path(@retailer.slug, customer) %></td>
        <td><%= link_to 'Edit', edit_retailers_customer_path(@retailer.slug, customer) %></td>
        <td><%= link_to 'Destroy', retailers_customer_path(@retailer.slug, customer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_retailers_customer_path %>
