<div class="container-fluid reduced-container-padding mb-16">
  <div class="card">
    <div class="container-fluid index">
      <div class="row middle-xs">
        <div class="col-xs-12 col-sm-4">
          <h1 class="d-inline name">Clientes</h1>
          <div class="index__desc">
            Lista de clientes
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 hide-on-tablet-and-down">
          <div class="index__ctas f-right">
            <%= link_to new_retailers_customer_path, class: 'btn btn--cta' do %>
              <i class="fas fa-plus mr-5"></i>
              Crear cliente
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="row mt-10">
        <div class="col-xs-12">
          <%= search_form_for @q, url: retailers_customers_path do |f| %>
            <div class="box">
              <div class="row">
                <div class="col-xs-12 col-sm-1 px-0 fs-14 no-style-filter">
                  Buscar por:
                </div>
                <div class="col-xs-12 col-sm-4 px-0">
                  <%= f.search_field :first_name_or_last_name_or_phone_or_email_cont, class: 'input search-field', placeholder: 'Busca por nombres, email o teléfono' %>
                </div>
                <div class="col-xs-12 col-sm-2 mt-5 pl-0 fs-14 no-style-filter t-right ordering-label">
                  Ordenar por:
                </div>
                <div class="col-xs-12 col-sm-3 px-0 mt-5 fs-14 no-style-filter p-relative">
                  <%= f.hidden_field :s, value: params[:q]&.[]('s').blank? ? 'created_at desc' : params[:q][:s] %>
                  <label class="item__dropdown d-inline">
                    <a class="dropdown__button middle" tabindex="-1" href="#!" id="order-link">
                      <span id="selected-order"></span>&nbsp;<i class="fas fa-sort"></i>
                    </a>

                    <ul class="dropdown__menu w-100" id="order-list">
                      <% customer_ordering_options.each do |ord| %>
                        <li value="<%= ord[:value] %>">
                          <%= ord[:label] %>
                        </li>
                      <% end %>
                    </ul>
                  </label>
                </div>
              </div>
              <div class="col-xs-12 px-0 mt-15">
                <%= f.submit 'Buscar', class: 'btn-btn btn-submit h-34' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container-fluid products">
      <div class="row">
        <div class="col-xs-12">
          <div class="table box">
            <div class="table__header row hide-on-tablet-and-down center-sm">
              <div class="col-sm-2">Nombres</div>
              <div class="col-sm-1">Email</div>
              <div class="col-sm-2">Teléfono</div>
              <div class="col-sm-3">Ventas</div>
              <div class="col-sm-1">Total $</div>
              <div class="col-sm-2">Fecha de creación</div>
              <div class="col-sm-1"></div>
            </div>
            <% @customers.each do |customer| %>
              <div class="divider"></div>
              <div class="table__item row middle-xs">
                <div class="col-xs-4 col-sm-2">
                  <div class="t-center"><%= customer.full_name %></div>
                </div>
                <div class="col-xs-4 col-sm-1 c-grey">
                  <div class="t-center truncate"><%= customer.email %></div>
                </div>
                <div class="hide-on-md-and-up hide-on-2k m-auto">
                  <label class="item__dropdown dropdown d-inline">
                    <a class="dropdown__button middle t-center no-style" tabindex="-1" href="#!">
                      <i class="fas fa-ellipsis-v m-auto f-right c-black"></i>
                    </a>

                    <ul class="dropdown__menu">
                      <label class="c-black modal__toggler" for="modal--toggle"
                                                            data-customer_id="<%= customer.id %>"
                                                            data-customer_name="<%= customer.full_name %>"
                                                            data-customer_email="<%= customer.email %>"
                                                            data-customer_phone="<%= customer.phone %>"
                                                            data-customer_address="<%= customer.address %>"
                                                            data-customer_state="<%= customer.state %>"
                                                            data-customer_country_id="<%= customer.country_id %>"
                                                            data-customer_orders="<%= customer.orders.count %>"
                                                            data-customer_sales="<%= customer.orders.success.count %>"
                                                            data-customer_total_income="<%= customer.orders.success.count %>"
                                                            data-customer_has_meli="<%= customer.meli_customer_id.present? %>"
                                                            data-meli_nickname="<%= customer.meli_customer&.nickname %>"
                                                            data-meli_ratings_total="<%= customer.meli_customer&.ratings_total %>"
                                                            data-meli_transactions_canceled="<%= customer.meli_customer&.transactions_canceled %>"
                                                            data-meli_transactions_completed="<%= customer.meli_customer&.transactions_completed %>"
                                                            data-meli_buyer_canceled_paid_transactions="<%= customer.meli_customer&.buyer_canceled_paid_transactions %>"
                                                            >
                        <li>
                          <i class="far fa-eye mr-8"></i>
                          Ver
                        </li>
                      </label>
                      <li>
                        <%= link_to edit_retailers_customer_path(current_retailer, customer), class: 'c-black no-style' do %>
                          <i class="fas fa-edit mr-8"></i>
                          Editar
                        <% end %>
                      </li>
                    </ul>
                  </label>
                </div>
                <div class="col-xs-4 col-sm-2 c-grey">
                  <div class="t-center truncate"><%= customer.phone %></div>
                </div>
                <div class="col-xs-12 col-sm-3 hide-on-sm-and-down">
                  <div class="box">
                    <div class="row">
                      <div class="col-xs-4 col-sm-6 item__descriptor">Completadas:</div>
                      <div class="col-xs-2 col-sm-6"><%= customer.orders.success.count %></div>
                      <div class="col-xs-4 col-sm-6 item__descriptor">Pendientes:</div>
                      <div class="col-xs-2 col-sm-6"><%= customer.orders.pending.count %></div>
                      <div class="col-xs-4 col-sm-6 item__descriptor">Canceladas:</div>
                      <div class="col-xs-2 col-sm-6"><%= customer.orders.cancelled.count %></div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-1 t-center">
                  <b class="c-green">$<%= customer.earnings %></b>
                </div>
                <div class="col-xs-4 col-sm-2 c-grey">
                  <div class="t-center truncate"><%= show_date_without_hour(customer.created_at) %></div>
                </div>
                <div class="hide-on-1080-and-down col-sm-1">
                  <label class="item__dropdown dropdown d-inline">
                    <a class="dropdown__button middle t-center no-style" tabindex="-1" href="#!">
                      <i class="fas fa-ellipsis-v m-auto f-right c-black"></i>
                    </a>

                    <ul class="dropdown__menu">
                      <label class="c-black modal__toggler" for="modal--toggle"
                                                            data-customer_id="<%= customer.id %>"
                                                            data-customer_name="<%= customer.full_name %>"
                                                            data-customer_email="<%= customer.email %>"
                                                            data-customer_phone="<%= customer.phone %>"
                                                            data-customer_address="<%= customer.address %>"
                                                            data-customer_state="<%= customer.state %>"
                                                            data-customer_country_id="<%= customer.country_id %>"
                                                            data-customer_orders="<%= customer.orders.count %>"
                                                            data-customer_sales="<%= customer.orders.success.count %>"
                                                            data-customer_total_income="<%= customer.orders.success.count %>"
                                                            data-customer_has_meli="<%= customer.meli_customer_id.present? %>"
                                                            data-meli_nickname="<%= customer.meli_customer&.nickname %>"
                                                            data-meli_ratings_total="<%= customer.meli_customer&.ratings_total %>"
                                                            data-meli_transactions_canceled="<%= customer.meli_customer&.transactions_canceled %>"
                                                            data-meli_transactions_completed="<%= customer.meli_customer&.transactions_completed %>"
                                                            data-meli_buyer_canceled_paid_transactions="<%= customer.meli_customer&.buyer_canceled_paid_transactions %>"
                                                            >
                        <li>
                          <i class="far fa-eye mr-8"></i>
                          Ver
                        </li>
                      </label>
                      <li>
                        <%= link_to edit_retailers_customer_path(current_retailer, customer), class: 'c-black no-style' do %>
                          <i class="fas fa-edit mr-8"></i>
                          Editar
                        <% end %>
                      </li>
                    </ul>
                  </label>
                </div>
                <div class="hide-on-sm-and-down hide-on-2k m-auto">
                  <label class="item__dropdown dropdown d-inline">
                    <a class="dropdown__button midd" tabindex="-1" href="#!">
                      <i class="fas fa-ellipsis-v m-auto f-right c-black"></i>
                    </a>

                    <ul class="dropdown__menu">
                      <label class="c-black modal__toggler" for="modal--toggle"
                                                            data-customer_id="<%= customer.id %>"
                                                            data-customer_name="<%= customer.full_name %>"
                                                            data-customer_email="<%= customer.email %>"
                                                            data-customer_phone="<%= customer.phone %>"
                                                            data-customer_address="<%= customer.address %>"
                                                            data-customer_state="<%= customer.state %>"
                                                            data-customer_country_id="<%= customer.country_id %>"
                                                            data-customer_orders="<%= customer.orders.count %>"
                                                            data-customer_sales="<%= customer.orders.success.count %>"
                                                            data-customer_total_income="<%= customer.orders.success.count %>"
                                                            data-customer_has_meli="<%= customer.meli_customer_id.present? %>"
                                                            data-meli_nickname="<%= customer.meli_customer&.nickname %>"
                                                            data-meli_ratings_total="<%= customer.meli_customer&.ratings_total %>"
                                                            data-meli_transactions_canceled="<%= customer.meli_customer&.transactions_canceled %>"
                                                            data-meli_transactions_completed="<%= customer.meli_customer&.transactions_completed %>"
                                                            data-meli_buyer_canceled_paid_transactions="<%= customer.meli_customer&.buyer_canceled_paid_transactions %>"
                                                            >
                        <li>
                          <i class="far fa-eye mr-8"></i>
                          Ver
                        </li>
                      </label>
                      <li>
                        <%= link_to edit_retailers_customer_path(current_retailer, customer), class: 'c-black no-style' do %>
                          <i class="fas fa-edit mr-8"></i>
                          Editar
                        <% end %>
                      </li>
                    </ul>
                  </label>
                </div>
              </div>
            <% end %>
            <div class="row middle-xs center-xs">
              <div class="col-xs-12">
                <%= paginate @customers %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bubble hide-on-pc">
  <%= link_to new_retailers_customer_path do %>
    <i class="fas fa-plus"></i>
  <% end %>
</div>
<input type="checkbox" class="d-none" name="modal--toggle" id="modal--toggle" />
<div class="modal">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-xs-12 col-md-8 middle">
        <label class="modal__background" for="modal--toggle"></label>
        <div class="modal__window box p-16">
          <div class="row middle-xs">
            <div class="col-xs-11 col-sm-4">
              <h1 id="customer_name" class="d-inline name">John Doe</h1>
            </div>
            <div class="col-xs-12 col-sm-8 hide-on-sm-and-down">
              <div class="index__ctas f-right">
                <a id="edit_customer_modal" class='btn btn--cta' href="#!">
                  <i class="fas fa-edit mr-5"></i>
                  Editar
                </a>
                <label class="btn btn--no-border c-red" for="modal--toggle">
                  <i class="fas fa-times mr-5"></i>
                  Cerrar
                </label>
              </div>
            </div>
            <div class="col-xs-1 hide-on-md-and-up">
              <label class="item__dropdown dropdown d-inline">
                <a class="dropdown__button midd" tabindex="-1" href="#!">
                  <i class="fas fa-ellipsis-v m-auto f-right c-black"></i>
                </a>

                <ul class="dropdown__menu">
                  <li>
                    <a id="edit_customer_modal_mobile" class="c-black no-style" href="#!">
                      <i class="fas fa-edit mr-8"></i>
                      Editar
                    </a>
                  </li>
                  <label class="c-red" for="modal--toggle">
                    <li>
                      <i class="fas fa-times mr-8"></i>
                      Cerrar
                    </li>
                  </label>
                </ul>
              </label>
            </div>
          </div>
          <div class="divider"></div>
          <div class="row">
            <div class="col-xs-12">
              <div class="card__title"><i class="fas fa-user c-primary"></i> Información</div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <table class="table_details table_details--underlined w-100">
                <tr>
                  <td class="table_details__descriptor">Email:</td>
                  <td id="customer_email" class="table_details__value truncate">email@example.com</td>
                </tr>
                <tr>
                  <td class="table_details__descriptor">Teléfono</td>
                  <td id="customer_phone" class="table_details__value">+584247208831</td>
                </tr>
                <tr>
                  <td class="table_details__descriptor">Dirección</td>
                  <td id="customer_address" class="table_details__value">21s, 1401 Kirkham, San Francisco</td>
                </tr>
                <tr>
                  <td class="table_details__descriptor">Estado</td>
                  <td id="customer_state" class="table_details__value">California</td>
                </tr>
                <tr>
                  <td class="table_details__descriptor">País</td>
                  <td id="customer_country_id" class="table_details__value truncate">Estados Unidos de America</td>
                </tr>
              </table>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="row card__submodule center-xs">
                <div class="col-xs-12 submodule">
                  <h2 id="customer_orders">40</h2>
                  <h6>Ventas</h6>
                </div>
                <div class="col-xs-12 submodule">
                  <h2 id="customer_sales">40</h2>
                  <h6>Ventas</h6>
                </div>
                <div class="col-xs-12 submodule">
                  <h2 id="customer_total_income">$4500</h2>
                  <h6>Ganancia</h6>
                </div>
              </div>
            </div>
          </div>
          <div id="ml-info" class="row mb-8">
            <div class="col-xs-12">
              <div class="card__title mt-32"><i class="fas fa-shopping-cart c-primary"></i> Mercado Libre Info</div>
              <table class="table_details table_details--underlined w-100">
                <tr>
                  <td class="table_details__descriptor">Usuario</td>
                  <td id="meli_nickname" class="table_details__value">Nick name</td>
                </tr>
                <tr>
                  <td class="table_details__descriptor">Reputación</td>
                  <td id="meli_ratings_total" class="table_details__value"><b class="cookie cookie--green">Excelente</b></td>
                </tr>
                <tr>
                  <td class="table_details__descriptor">Ventas canceladas</td>
                  <td id="meli_transactions_canceled" class="table_details__value">5</td>
                </tr>
                <tr>
                  <td class="table_details__descriptor">Ventas completas</td>
                  <td id="meli_transactions_completed" class="table_details__value truncate">10</td>
                </tr>
                <tr>
                  <td class="table_details__descriptor">Ventas pagas canceladas</td>
                  <td id="meli_buyer_canceled_paid_transactions" class="table_details__value">1</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script charset="utf-8">
  document.addEventListener("DOMContentLoaded", function() {
    document.getElementById('modal--toggle').checked = false;

    $('#order-list li').each(function(index, li) {
      if ($(li).attr('value') === $('#q_s').val()) {
        $('#selected-order').html($(li).html());
      }
    });
  });

  document.querySelectorAll('.modal__toggler').forEach(function(mt) {
    mt.onclick = function(e) {
      document.getElementById('customer_name').innerHTML = mt.dataset.customer_name;
      document.getElementById('customer_email').innerHTML = mt.dataset.customer_email;
      document.getElementById('customer_phone').innerHTML = mt.dataset.customer_phone;
      document.getElementById('customer_address').innerHTML = mt.dataset.customer_address;
      document.getElementById('customer_state').innerHTML = mt.dataset.customer_state;
      document.getElementById('customer_country_id').innerHTML = mt.dataset.customer_country_id;
      document.getElementById('customer_orders').innerHTML = mt.dataset.customer_orders;
      document.getElementById('customer_sales').innerHTML = mt.dataset.customer_sales;
      document.getElementById('customer_total_income').innerHTML = mt.dataset.customer_total_income;
      if (mt.dataset.customer_has_meli == true) {
        document.getElementById('meli_nickname').innerHTML = mt.dataset.dataset;
        document.getElementById('meli_ratings_total').innerHTML = mt.dataset.meli_ratings_total;
        document.getElementById('meli_transactions_canceled').innerHTML = mt.dataset.meli_transactions_canceled;
        document.getElementById('meli_transactions_completed').innerHTML = mt.dataset.meli_transactions_completed;
        document.getElementById('meli_buyer_canceled_paid_transactions').innerHTML = mt.dataset.meli_buyer_canceled_paid_transactions;
        document.getElementById('ml-info').style.display = 'block';
      } else {
        document.getElementById('ml-info').style.display = 'none';
      }

      editElement = document.getElementById('edit_customer_modal');
      editElementMobile = document.getElementById('edit_customer_modal_mobile');
      editElement.href = `../<%= current_retailer.slug %>/customers/${mt.dataset.customer_id}/edit`;
      editElementMobile.href = `../<%= current_retailer.slug %>/customers/${mt.dataset.customer_id}/edit`;
    }
  })

  $('#order-list li').on('click', function() {
    $('#selected-order').html($(this).html());
    $('#q_s').val($(this).attr('value'));
    $('#order-list').hide();
  });

  $('#order-link').on('click', function() {
    $('#order-list').show();
  });
</script>
