<style type="text/css" media="screen">
fieldset {
  border: 1px solid #DDD;
}
</style>
<div class="container-fluid reduced-container-padding mb-16">
  <div class="card">
    <div class="container-fluid order">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h1 class="d-inline name"><%= @customer.full_names.presence || @customer.whatsapp_name %></h1>
          <div class="fz-14">
            <%= @customer.email %>
          </div>
          <div class="fz-14">
            <% if @customer.country_id.present? && @customer.phone.present? %>
              <span class="mr-5"><%= @customer.emoji_flag %></span>
            <% end %>
            <%= @customer.phone %>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 t-right button-sm-and-down">
          <div class="mt-8">
            <%= link_to retailers_customers_path(q: { 's': 'created_at desc' }), class: 'btn btn--cta' do %>
              <i class="fas fa-arrow-left mr-5"></i>
              Volver
            <% end %>
            <%= link_to edit_retailers_customer_path(current_retailer, @customer), class: 'btn btn--cta' do %>
              <i class="fas fa-edit mr-5"></i>
              Editar
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid products">
      <div class="row">
        <div class="col-xs-12">
          <fieldset class="fieldset mt-16">
            <div class="border-bottom"></div>
            <div class="row box mt-25">
              <div class="col-xs-12 col-md-4 px-0">
                <input type="hidden" value="<%= @customer.id %>" id="karix-customer-id">
                <div class="row">
                  <div class="col-xs-12">
                    <fieldset id="" class="">
                      <legend><b>Información del cliente</b></legend>
                      <div>
                        <label class="c-grey fs-14">Nombre:</label> <span class="c-secondary fs-14"><%= @customer.first_name %></span>
                      </div>
                      <div>
                        <label class="c-grey fs-14">Apellido:</label> <span class="c-secondary fs-14"><%= @customer.last_name %></span>
                      </div>
                      <div>
                        <label class="c-grey fs-14">Email:</label> <span class="c-secondary fs-14"><%= @customer.email %></span>
                      </div>
                      <div>
                        <label class="c-grey fs-14">Teléfono:</label>
                        <% if @customer.country_id.present? && @customer.phone.present? %>
                          <span class="mr-5"><%= @customer.emoji_flag %></span>
                        <% end %>
                        <span class="c-secondary fs-14"><%= @customer.phone %></span><br />
                        <% if can_send_whatsapp_notification?(current_retailer_user, @customer) %>
                          <div>
                            <label
                                for="modal--toggle"
                                class="request-demo-label ws-button ws-contact dropdown__button no-style"
                                data-customer_full_names="<%= @customer.full_names.presence || @customer.whatsapp_name %>"
                                data-customer_id="<%= @customer.id %>"
                                data-ws_balance="<%= current_retailer.ws_balance %>"
                                data-open_chat="<%= @customer.recent_inbound_message_date ? @customer.recent_inbound_message_date > 24.hours.ago : false %>"
                                data-whatsapp_opt_in="<%= @customer.whatsapp_opt_in || false %>"
                                >
                                <i class="fab fa-whatsapp fz-16 mr-5"></i>
                                Enviar Notificación
                            </label>
                          </div>
                          <div class="mt-8 mb-0">
                            <label
                                for="reminder-modal--toggle-index"
                                class="request-demo-label reminder-ws-contact ws-button dropdown__button no-style"
                                data-customer_full_names="<%= @customer.full_names.presence || @customer.whatsapp_name %>"
                                data-customer_id="<%= @customer.id %>"
                                data-whatsapp_opt_in="<%= @customer.whatsapp_opt_in || false %>">
                                <i class="fab fa-whatsapp fz-16 mr-5"></i>
                                Programar recordatorio
                            </label>
                          </div>
                        <% end %>
                      </div>
                      <div>
                        <label class="c-grey fs-14">Tipo de identificación:</label> <span class="c-secondary fs-14"><%= @customer.id_type %></span>
                      </div>
                      <div>
                        <label class="c-grey fs-14">Número de identificación:</label> <span class="c-secondary fs-14"><%= @customer.id_number %></span>
                      </div>
                      <div>
                        <label class="c-grey fs-14">Dirección:</label>
                        <span class="c-secondary fs-14">
                          <%= @customer.address %><%= @customer.address.present? && @customer.city.present? ? ', ' + @customer.city : @customer.city %>
                          <%= @customer.city.present? && @customer.state.present? ? ', ' + @customer.state : @customer.state %>
                          <%= @customer.state.present? && @customer.zip_code.present? ? ', ' + @customer.zip_code : @customer.zip_code %>
                        </span>
                      </div>
                      <div>
                        <label class="c-grey fs-14">Notas:</label>
                        <span class="c-secondary fs-14">
                          <%= @customer.notes.to_s.gsub(/\n/, '<br/>').html_safe %>
                        </span>
                      </div>
                      <div>
                        <label class="c-grey fs-14">Etiquetas:</label>
                        <span class="c-secondary fs-14 row">
                          <% @customer.tags.each do |tag| %>
                            <div class="mb-10 bottom-xs">
                              <div class="customer-saved-tags">
                                <%= tag.tag %>
                              </div>
                            </div>
                          <% end %>
                        </span>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <% if current_retailer.customer_related_fields.exists? %>
                  <div class="row my-8">
                    <div class="col-xs-12">
                      <fieldset id="" class="">
                        <legend><b>Campos personalizados</b></legend>
                        <%= render partial: 'retailers/customers/custom_fields_show', collection: current_retailer.customer_related_fields, as: :crf %>
                      </fieldset>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="col-xs-12 col-md-8 px-0">
                <div class="box">
                  <div class="row">
                    <div class="col-xs-12 card__module p-0">
                      <fieldset>
                        <legend><b>Información financiera</b></legend>
                        <div class="card__title">Órdenes</div>
                        <div class="box">
                          <div class="row center-xs">
                            <div class="col-xs-12 submodule col-sm-4">
                              <h2 class="m-0"><%= @customer.orders.success.count %></h2>
                              <h6>Completadas</h6>
                            </div>
                            <div class="col-xs-12 submodule col-sm-4">
                              <h2 class="m-0"><%= @customer.orders.pending.count %></h2>
                              <h6>Pendientes</h6>
                            </div>
                            <div class="col-xs-12 submodule col-sm-4">
                              <h2 class="m-0"><%= @customer.orders.cancelled.count %></h2>
                              <h6>Canceladas</h6>
                            </div>
                            <div class="col-xs-12">
                              <div class="border-bottom mt-16"></div>
                              <div class="my-16">
                                <h2 class="mb-0 c-green"><%= current_retailer.currency_symbol %><%= @customer.earnings %></h2>
                                <h6 class="mt-0">Ganancia</h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="mt-8" style="border-bottom: 2px solid #DDD;">
                        <div class="d-inline-block tab selected-tab">
                          <label for="show_orders">
                            Órdenes
                          </label>
                        </div><div
                                class="d-inline-block tab">
                          <label for="show_bought_products">
                            Productos
                          </label>
                        </div><div
                                  class="d-inline-block tab">
                          <label for="show_reminders">
                            Recordatorios
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div>
                        <input type="radio" class="d-none check-toggler" name="toggle-tab" id="show_orders" checked/>
                        <div class="show-on-check">
                          <% if @customer.orders.present? %>
                            <div class="table box mt-16">
                              <div class="table__header row hide-on-tablet-and-down center-sm">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2">Estado</div>
                                <div class="col-sm-2">Cliente</div>
                                <div class="col-sm-2">Total de compra</div>
                                <div class="col-sm-3">Fecha de compra</div>
                                <div class="col-sm-1"></div>
                              </div>
                              <%= render partial: 'retailers/customers/show_orders', collection: @customer.orders, as: :order %>
                            </div>
                          <% else %>
                            Este cliente no tiene órdenes de compra todavía.
                          <% end %>
                        </div>
                      </div>
                      <div>
                        <input type="radio" class="d-none check-toggler" name="toggle-tab" id="show_bought_products">
                        <div class="show-on-check">
                          <% if @customer.bought_items.exists? %>
                            <div class="table box mt-16">
                              <div class="table__header row hide-on-tablet-and-down center-sm">
                                <div class="col-sm-1">Imagen</div>
                                <div class="col-sm-3">Producto</div>
                                <div class="col-sm-4 hide-on-tablet-and-down">Categoría</div>
                                <div class="col-sm-4">Finanzas</div>
                              </div>
                              <%= render partial: 'retailers/customers/show_bought_products', collection: @customer.bought_items, as: :product %>
                            </div>
                          <% else %>
                            Este cliente no ha completado ninguna orden.
                          <% end %>
                        </div>
                      </div>
                      <div>
                        <input type="radio" class="d-none check-toggler" name="toggle-tab" id="show_reminders">
                        <div class="show-on-check">
                          <% if @customer.reminders.exists? %>
                            <div class="table box mt-16">
                              <div class="table__header row hide-on-tablet-and-down center-sm">
                                <div class="col-sm-2">Cliente</div>
                                <div class="col-sm-2">Teléfono</div>
                                <div class="col-sm-3">Mensaje</div>
                                <div class="col-sm-3">Fecha de envío</div>
                                <div class="col-sm-2">Estado</div>
                              </div>
                              <%= render partial: 'retailers/reminders/reminders_list', collection: @customer.reminders, as: :reminder %>
                            </div>
                          <% else %>
                            No hay recordatorios programados.
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="checkbox" class="d-none" name="modal--toggle" id="modal--toggle" />
<div class="modal">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-xs-12 col-md-8 middle">
        <label class="modal__background" for="modal--toggle"></label>
        <div class="modal__window box p-4 h-unset mt-0" style="z-index: 1000;">
          <label class="modal__close" for="modal--toggle">
            <i class="fs-22 mt-4 mr-4 f-right far fa-times-circle"></i>
          </label>
          <div class="row">
            <div class="col-xs-12">
              <div class="col-md-12">
                <p class="fs-30 mt-0">
                <% if current_retailer.whatsapp_templates.active.exists? %>
                  Plantillas
                <% else %>
                  No tienes plantillas creadas
                <% end %>
                </p>
              </div>
              <% if current_retailer.whatsapp_templates.active.exists? %>
                <div id="karix-templates-list">
                  <% @customer.retailer.whatsapp_templates.active.each_with_index do |template, index| %>
                    <div class="row">
                      <div class="col-md-10">
                        <p id="template-<%= index %>">[<%= whatsapp_template_type(template.template_type) %>] <%= template.clean_template %></p>
                        <p id="original-template-<%= index %>" class="d-none"><%= template.text %></p>
                        <p id="template-type-<%= index %>" class="d-none"><%= template.template_type %></p>
                        <p id="gupshup-template-id-<%= index %>" class="d-none"><%= template.gupshup_template_id %></p>
                      </div>
                      <div class="col-md-2">
                        <button onClick="setKarixTemplate(<%= index %>)">Seleccionar</button>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <%= render "retailers/shared/no_templates" %>
              <% end %>
              <div id="karix-template-edition" class="col-xs-12">
                <div id="karix-template-text">
                </div>
                <div id="template-file">
                  <br/>
                  <input type="file" name="file" id="template_file"/>
                </div>
                <div class="row mt-30">
                  <div class="col-md-6 t-right">
                    <button onClick="cancelTemplate()">Cancelar</button>
                  </div>
                  <div class="col-md-6 t-left">
                    <button onClick="sendTemplate()">Enviar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'retailers/customers/send_reminder', cached: true %>

<script src="<%= asset_path 'retailers/customers/customers.js' %>" charset="utf-8"></script>

<script charset="utf-8">
  $(document).ready(function() {
    $('#modal--toggle').on('change', function(e) {
      $('body').toggleClass('o-hidden');
    })

    $('#karix-template-edition').hide();
    $('.ws-contact').show();
  })
</script>
<script charset="utf-8">
  $(function() {
    function toggleTabs() {
      if (document.getElementById('show_orders').checked) {
        $('label[for="show_orders"]').parent().addClass('selected-tab');
        $('label[for="show_bought_products"]').parent().removeClass('selected-tab');
        $('label[for="show_reminders"]').parent().removeClass('selected-tab');
      } else if (document.getElementById('show_bought_products').checked) {
        $('label[for="show_orders"]').parent().removeClass('selected-tab');
        $('label[for="show_bought_products"]').parent().addClass('selected-tab');
        $('label[for="show_reminders"]').parent().removeClass('selected-tab');
      } else if (document.getElementById('show_reminders').checked) {
        $('label[for="show_orders"]').parent().removeClass('selected-tab');
        $('label[for="show_bought_products"]').parent().removeClass('selected-tab');
        $('label[for="show_reminders"]').parent().addClass('selected-tab');
      }
    }
    toggleTabs();
    $('#show_orders, #show_bought_products, #show_reminders').on('change', toggleTabs);
  });
</script>
