<%= stylesheet_link_tag "mailers/welcome_mailer" %>
<div class="main-container ff-welcome-mail">
  <div class="inner-container">
    <div class="logo-container">
      <%= image_tag 'mailer/logo.png', class: "image-logo" %>
    </div>

    <div>
      <div class="image-rectangle-inner-container">
        <%= image_tag 'mailer/Rectangulo_1.png', class: "image-rectangle" %>
      </div>
    </div>

    <div class="ml-45 gretting-container fw-bold">
      <p class="greeting-color"> Hola <%= @user.retailer.name %> </p>
    </div>

    <div class="ml-45 welcome-text">
      <p class="p-color fs-16 lg-18">
        Bienvenido a Mercately, la mejor herramienta para la gestión y análisis de tu negocio.
        Nuestra herramienta te ayudará a ahorrar tiempo en mantener tu stock actualizado,
        tus pedidos en orden y a tus clientes felices.
      </p>
    </div>

    <div class="ml-45 t-container mt-35">
      <p class="fs-15 t-color fw-bold">
        ¿Qué hace MERCATELY por ti?
      </p>
    </div>

    <div class="ml-45 mt-35 t1-container">
      <p class="fs-15 fw-bold t-color">
        1. Sincroniza y actualiza tu inventario:
      </p>
    </div>

    <div class="ml-45 mt-20 t1-container">
      <p class="fs-16 p-color lg-18">
        Una vez que se ha generado la compra en Mercado Libre,
        Mercately lo registra y actualiza el inventario en la plataforma.
      </p>
    </div>

    <div class="ml-45 mt-35 mr-45">
      <p class="fs-15 fw-bold t-color">
        2. Responde a tus clientas de forma rápida y efectiva:
      </p>
    </div>

    <div class="ml-45 mt-20 mr-45">
      <p class="fs-16 p-color lg-18">
        Con la utilización de plantillas de las preguntas más frecuentes,
        aseguras una comunicación ideal con tu cliente.
      </p>
    </div>

    <div class="ml-45 mt-35 mr-45">
      <p class="fs-15 fw-bold t-color">
        3. Consulta tus clientes:
      </p>
    </div>

    <div class="ml-45 mt-20 mr-45">
      <p class="fs-16 p-color lg-18">
        Con la información de tus clientes podrás desarrollar tus estrategias de ventas,
        logrando fidelizar a los mismos.
      </p>
    </div>

    <div class="ml-45 mt-35 mr-45">
      <p class="fs-15 fw-bold t-color">
        4. Genera un reporte de ventas y ganancias:
      </p>
    </div>

    <div class="ml-45 mt-20 mr-45">
      <p class="fs-16 p-color lg-18">
        Podrás planificar tus objetivos de negocio,
        conociendo detalladamente la situación de las ventas de tus productos.
      </p>
    </div>

    <div class="ml-45 mt-35 mr-45">
      <p class="fs-15 fw-bold t-color">
        <% if Rails.env.development? %>
          <%= link_to "https://mercately-staging.herokuapp.com/retailer_users/password/edit?reset_password_token=T57ZoCSyUzxcBzndxx3J", "https://mercately-staging.herokuapp.com/retailer_users/password/edit?reset_password_token=T57ZoCSyUzxcBzndxx3J" %>
        <% elsif Rails.env.production? %>
          <%= link_to "https://mercately-staging.herokuapp.com/retailer_users/password/edit?reset_password_token=T57ZoCSyUzxcBzndxx3J", "https://mercately-staging.herokuapp.com/retailer_users/password/edit?reset_password_token=T57ZoCSyUzxcBzndxx3J" %>
        <% end %>
      </p>
    </div>

    <div class="ml-45 mt-35 mr-45">
      <p class="fs-15 fw-bold p-color lg-18">
        Gracias por confiar en nosotros. Ahora eres parte de la familia Mercately.
      </p>
    </div>

    <div class="ml-45 mt-35 mr-45">
      <p class="fs-15 fw-bold p-color lg-18">
        En nuestro <a href="https://www.mercately.com/help">Centro de ayuda</a> 
        podrás realizar todas las preguntas sobre Mercately,
        para que tu experiencia con nosotros sea la mejor.
      </p>
    </div>

    <div class="ml-45 mt-35">
      <p class="fs-15 fw-bold p-color lg-18">
        Visítanos <a href="https://www.mercately.com">https://www.mercately.com</a>
      </p>
    </div>

    <div class="sign-container">
      <p class="fs-16 p-color fw-bold">
        2019 MERCATELY
      </p>
    </div>

    <div id="social-media" class="social-media-container">
      <%= image_tag 'facebook-logo.png', class:"social-media-icons" %>
      <%= image_tag 'twitter.png', class:"social-media-icons" %>
      <%= image_tag 'instagram.png', class:"social-media-icons" %>
    </div>
  </div>
</div>
