<div class="box">
  <div class="row">
    <%= form_for([:retailers, @product], url: @product.new_record? ? retailers_products_path(@retailer, @product) : retailers_product_path(@retailer, @product), local: true, html: { class: 'dropzone col-xs-12' }) do |f| %>
      <div class="box">
        <div class="row">
          <%= f.hidden_field :category_id %>
          <%= f.hidden_field :id %>

          <div class="group col-xs-12 col-md-6">
            <%= f.text_field :title, placeholder: '' %>
            <%= f.label :title %>
            <span class="bar"></span>
          </div>

          <div class="group col-xs-12 col-md-6">
            <%= f.text_field :subtitle, placeholder: '' %>
            <%= f.label :subtitle %>
            <span class="bar"></span>
          </div>

          <div id="root" class="col-xs-12">
            <% if action_name == 'edit' || action_name == 'update' %>
              <input type="checkbox" name="edit_category" id="edit_category" />
              <label for="edit_category">Editar categoria</label>
            <% end %>
            <div id="categories">
              <select name="childs_1" id="childs_1" onchange="appendSelect(this.id);" size="9"></select>
            </div>
          </div>

          <div class="group col-xs-12 col-md-3">
            <%= f.text_field :price, placeholder: '' %>
            <%= f.label :price %>
            <span class="bar"></span>
          </div>

          <div class="group col-xs-12 col-md-3">
            <%= f.number_field :available_quantity, placeholder: '' %>
            <%= f.label :available_quantity %>
            <span class="bar"></span>
          </div>

          <div class="group col-xs-12 col-md-3">
            <%= f.select :buying_mode, Product.buying_modes.keys.to_a %>
            <%= f.label :buying_mode, class: 'select-label' %>
            <span class="bar"></span>
          </div>

          <div class="group col-xs-12 col-md-3">
            <%= f.select :condition, Product.conditions.keys.to_a %>
            <%= f.label :condition, class: 'select-label' %>
            <span class="bar"></span>
          </div>

          <% if action_name == 'edit' || action_name == 'update' %>
            <div class="group col-xs-12 col-md-6">
              <%= f.select :status, Product.statuses.keys.to_a, {}, onchange: 'updateMeliStatus(this);' %>
              <%= f.label :status, 'Status del producto', class: 'select-label' %>
              <span class="bar"></span>
              <% if @product.meli_product_id && @product.status != 'archived' %>
                <p><i>Nota: Si se archiva el producto, la publicación en MercadoLibre se cerrará</i></p>
              <% end %>
            </div>

            <div class="group col-xs-12 col-md-6">
              <%= f.select :meli_status, Product.meli_statuses.keys.to_a, disabled: @product.disabled_meli_statuses %>
              <%= f.label :meli_status, 'Status de la publicación', class: 'select-label' %>
              <span class="bar"></span>
            </div>
          <% end %>

          <div id="attributes-container" class="row col-xs-12"></div>

          <div class="group col-xs-12">
            <%= f.text_area :description, placeholder: '' %>
            <%= f.label :description %>
            <span class="bar"></span>
          </div>

          <div id="variations-title" class="group variations-container-title col-xs-12">
            <h2>Variaciones</h2>
            <p onclick="appendTemplate();">Agregar variación</p>
          </div>

          <div id="variations-container" class="row col-xs-12"></div>

          <div id="uploaderImages" class="uploader center w-100 col-xs-12">
            <%= f.label :images, 'Arrastra las imágenes o haz click aquí para seleccionarlas', class: 'py-20 uploader-text' %>
            <%= f.file_field :images, multiple: true, onchange: 'readURL(this);', id: 'uploadedImages' %>
          </div>
          <div id="up_images" class="row col-xs-12 col-md-12 edit-gallery"></div>

          <div id="image-gallery" class="row col-xs-12 col-md-12 edit-gallery">
            <%= f.hidden_field :main_picture_id %>
            <input type="hidden" id="new-main-image" name="new_main_image" />
            <input type="hidden" id="new-main-image-name" name="new_main_image_name" />
            <%= image_tag 'dashboard/delete-icon.png', class: 'not-display', id: "delete-image" %>
            <%= image_tag 'star.png', class: 'not-display', id: "star-image" %>

            <% if @product.images.attached? %>
              <div class="col-xs-12 col-md-12 current-images-container">
                <h2>Imágenes actuales:</h2>
              </div>
              <% @product.images.each do |img| %>
                <div id="image-container-<%= img.id.to_s %>" class="col-xs-12 col-md-3 edit-card" onmouseover="showMain(this);" onmouseleave="hideMain(this);">
                  <%= image_tag 'dashboard/delete-icon.png', class: 'delete-icon', onclick: 'removeImage(this);', id: "delete-#{img.id.to_s}" %>
                  <%= cl_image_tag("#{img.key}", class: "image-tag", id: "image-#{img.id.to_s}") %>
                  <p class="main-image-text" id="main-image-<%= img.id.to_s %>" onclick="setMainImage(this);">Foto principal</p>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="btn-box col-xs-12">
            <%= f.submit 'Guardar', class: 'btn-btn btn-submit' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#product_price').on('change, keyup', function() {
    var currentInput = $(this).val();
    var fixedInput = currentInput.replace(/[A-Za-z!@#$%^&*()]/g, '');
    fixedInput = fixedInput.replace(',', '.');
    $(this).val(fixedInput);
  });
</script>

<script charset="utf-8">
  <% if @product&.errors&.any? %>
    <% @product.errors.each do |attribute, message| %>
      showtoast("<%= message %>")
    <% end %>
  <% end %>
</script>

<script src="<%= asset_path 'retailers/products.js' %>" charset="utf-8"></script>
