<div class="box">
  <div class="row">
    <%= form_for([:retailers, @product], url: @product.new_record? ? retailers_products_path(current_retailer, @product) : retailers_product_path(current_retailer, @product), local: true, html: { class: 'validate-form p-0 col-xs-12' }) do |f| %>
      <div class="box">
        <div class="row">
          <%= f.hidden_field :id %>

          <%= render 'partials/incomplete_retailer' %>

          <fieldset class="col-xs-12 fieldset mt-16">
            <legend>Información básica</legend>
            <div class="mb-8 my-16">
              <%= f.label :title, 'Título' %><br/>
              <%= f.text_field :title, class: 'input validate-required' %>
              <i class="validation-msg"></i>
            </div>

            <% if action_name == 'new' || action_name == 'create' %>
              <div id="root" class="my-16">
                <label for="childs_1">Categoría</label>
                <select name="childs_1" id="childs_1" onchange="appendSelect(this.id);" size="9">
                </select>
                <%= f.hidden_field :category_id, class: 'validate-required' %>
                <i class="validation-msg"></i>
              </div>
            <% else %>
              <%= f.hidden_field :category_id %>
            <% end %>

            <% if @retailer.meli_retailer && (@product.new_record? || @product.meli_product_id.blank?) && @product.status != 'archived' &&
              @retailer.incomplete_meli_profile? == false %>
              <div class="my-16">
                <%= f.label :upload_product, 'Publicar producto en MercadoLibre' %><br/>
                <% if @product.new_record? %>
                  <%= f.check_box :upload_product, { 'checked': true } %>
                <% elsif @product.meli_product_id.blank? %>
                  <%= f.check_box :upload_product %>
                <% end %>
              </div>
            <% end %>

            <div class="box">
              <div class="row">
                <div class="col-xs-12 pl-0 col-sm-4 my-16">
                  <%= f.label :condition, 'Condición' %><br/>
                  <%= f.select :condition, Product.conditions.keys.collect { |c| [ Product.enum_translation(:condition, c), c ]}, class: 'input' %>
                </div>
                <div class="col-xs-12 col-sm-4 my-16">
                  <%= f.label :price, 'Precio' %><br/>
                  <%= f.text_field :price, class: 'input validate-required' %>
                  <i class="validation-msg"></i>
                </div>
                <div class="col-xs-12 col-sm-4 pr-0 my-16">
                  <%= f.label :available_quantity, 'Cantidad disponible' %><br/>
                  <%= f.number_field :available_quantity, class: 'input validate-required' %>
                  <i class="validation-msg"></i>
                </div>
              </div>
            </div>
          </fieldset>

          <% if action_name == 'edit' || action_name == 'update' %>
            <fieldset class="col-xs-12 fieldset">
              <div class="box">
                <div class="row">
                  <% if @product.meli_product_id %>
                    <div class="col-xs-12 col-sm-6 my-16">
                      <%= f.label :meli_status, 'Estado de la publicación en MercadoLibre' %><br/>
                      <%= f.select :meli_status, Product.meli_statuses.keys.collect { |m| [ Product.enum_translation(:meli_status, m), m ]}, disabled: disabled_meli_statuses, class: 'input' %>
                    </div>
                  <% end %>
                </div>
              </div>
            </fieldset>
          <% end %>

          <fieldset class="col-xs-12 fieldset">
            <legend>Características</legend>
            <div class="box">
              <div class="row col-xs-12 pl-0">
                <div class="col-xs-12 col-md-6 my-16 pl-0">
                  <%= f.label :code, 'Código' %><br/>
                  <%= f.text_field :code, class: 'input' %>
                </div>
              </div>
              <div id="attributes-container" class="row pl-0 col-xs-12 my-16"></div>
            </div>
          </fieldset>

          <fieldset class="col-xs-12 fieldset">
            <div class="box">
              <div class="col-xs-12 pl-0 my-16">
                <%= f.label :description, 'Descripción' %>
                <%= f.text_area :description, placeholder: '', class: 'input h-77' %>
              </div>
            </div>
          </fieldset>

          <fieldset id="variations-title" class="col-xs-12 variations-container-title fieldset">
            <legend>Variaciones</legend>
            <div class="box">
              <div id="variations-container" class="row col-xs-12 my-16"></div>
            </div>
            <div class="my-16">
              <a class="btn btn--cta" onclick="appendTemplate(true);">Agregar variación</a>
            </div>
          </fieldset>

          <% ordered_images.each_with_index do |img, i| %>
            <div>
              <div class="p-relative mr-10 pt-8 preview__container" id="preview_container_<%= i %>">
                <div class="preview__options">
                  <div class="center w-100">
                    <div class="delete-image fs-12 t-center" id="remove_image_<%= i.to_s %>" onclick="removeLoadedImage(this, <%= i %>, <%= img.id %>);">
                      Eliminar
                    </div>
                    <div class="select_main_img mt-4" onclick="setMainImage(<%= i %>, <%= img.id %>);">
                      Principal
                    </div>
                  </div>
                </div>
                <img class="preview_holder d-none-important" src="#" id="preview_image_<%= i %>"></img>
                <%= cl_image_tag("#{img.key}", class: "preview_holder", id: "image_#{i.to_s}") %>
              </div>
              <div id="container_image_<%= i %>" class="uploader center mr-10 d-none-important">
                <i class="fas fa-camera-retro fs-40"></i>
                <label for="product_images_<%= i %>" class="py-10 uploader-text">Agregar</label>
                <%= f.file_field :images, name: "product[images][#{i}]", id: "product_images_#{i}", class: 'uploadedImages validate-image-presence', onchange: "readURL(this, #{i});", accept: 'image/jpg, image/jpeg, image/png' %>
              </div>
              <div id="main_picture_text_<%= i %>" class="fs-12 fw-bold t-center pr-10 d-none delete-image-text">
                Foto principal
              </div>
            </div>
            <input type="hidden" id="product_delete_images_<%= i %>" name="product[delete_images][<%= i %>]" />
          <% end %>
          <% ((@product.images.size)..9).each do |i| %>
            <div>
              <div class="p-relative d-none-important preview__container mr-10 pt-8" id="preview_container_<%= i %>">
                <div class="preview__options">
                  <div class="center w-100">
                    <div class="delete-image fs-12 t-center" id="remove_image_<%= i.to_s %>" onclick="removeLoadedImage(this, <%= i %>, -1);">
                      Eliminar
                    </div>
                    <div class="select_main_img mt-4" onclick="setMainImage(<%= i %>, -1);">
                      Principal
                    </div>
                  </div>
                </div>
                <img class="preview_holder" src="#" id="preview_image_<%= i %>"></img>
              </div>
              <div id="container_image_<%= i %>" class="uploader center mr-10 <%= 'd-none-important' if i > 3 %>">
                <i class="fas fa-camera-retro fs-40"></i>
                <label for="product_images_<%= i %>" class="py-10 uploader-text">Agregar</label>
                <%= f.file_field :images, name: "product[images][#{i}]", id: "product_images_#{i}", class: 'uploadedImages validate-image-presence', onchange: "readURL(this, #{i});", accept: 'image/jpg, image/jpeg, image/png' %>
              </div>
              <div id="main_picture_text_<%= i %>" class="fs-12 fw-bold t-center pr-10 d-none delete-image-text">
                Foto principal
              </div>
            </div>
          <% end %>
          <input type="hidden" id="main_picture" name="main_picture" />
          <input type="hidden" id="new_main_picture" name="new_main_picture" value="<%= '0' if @product.new_record? %>" />
          <div id="add_new_image_<%= @product.images.size > 4 ? @product.images.size.to_s : 4 %>" class="uploader one-more center mr-10" onclick="showImageLoader(this);">
            <label class="py-10 uploader-text one-more">Agregar otra imagen</label>
          </div>
          <div class="col-xs-12 c-red fs-12 pl-0">
            <i id="product_images_error"></i>
          </div>

          <div class="btn-box col-xs-12">
            <%= f.submit 'Guardar', class: 'btn-btn btn-submit', data: { disable_with: false } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#product_price').on('change, keyup', function() {
    var currentInput = $(this).val();
    var fixedInput = currentInput.replace(/[A-Za-z!@#$%^&*()]/g, '');
    fixedInput = fixedInput.replace(',', '.');
    $(this).val(fixedInput);
  });
</script>

<script charset="utf-8">
  <% if @product&.errors&.any? %>
    <% @product.errors.each do |attribute, message| %>
      showtoast("<%= message %>")
    <% end %>
  <% end %>
</script>

<script src="<%= asset_path 'retailers/products.js' %>" charset="utf-8"></script>
