<%= semantic_form_for([:retailers, @product], url: @product.new_record? ? retailers_products_path(@retailer, @product) : retailers_product_path(@retailer, @product), local: true) do |f| %>
  <div class="field">
    <%= f.input :images, as: :file, input_html: { multiple: true } %>
  </div>

  <div class="field">
    <%= f.input :title %>
  </div>

  <div class="field">
    <%= f.input :category_id %>
  </div>

  <div class="field">
    <%= f.input :price %>
  </div>

  <div class="field">
    <%= f.input :available_quantity %>
  </div>

  <div class="field">
    <%= f.input :buying_mode %>
  </div>

  <div class="field">
    <%= f.input :condition %>
  </div>

  <div class="field">
    <%= f.input :description, as: :text %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
