<%= search_form_for @q, url: retailers_products_path do |f| %>
  <%= f.hidden_field :status_eq, value: params[:q]&.[]('status_eq').blank? ? '0' : params[:q][:status_eq] %>
  <div class="box">
    <div class="row mt-10">
      <div class="col-xs-12">
        <div class="box">
          <div class="row">
            <div class="col-xs-12 col-sm-1 px-0 fs-14 no-style-filter">
              Buscar por:
            </div>
            <div class="col-xs-12 col-sm-4 px-0">
              <%= f.search_field :title_or_code_cont, class: 'input search-field w-100', placeholder: 'Nombre o código del producto' %>
            </div>
            <% if false %>
              <div class="col-xs-12 col-sm-2 pl-0 pr-25 mt-5 fs-14 t-right no-style-filter ordering-label">
                Estado de ML:
              </div>
              <div class="row col-xs-12 col-sm-5 px-0 fs-14 no-style-filter" id="meli-status-cont">
                <%= f.hidden_field :meli_status_eq, value: params[:q].blank? ? '' : params[:q][:meli_status_eq] %>
                <%= f.hidden_field :meli_product_id_null, value: params[:q].blank? ? '' : params[:q][:meli_product_id_null] %>
                <div class="mt-5 mr-10 px-0 no-style-filter meli-status-filter">
                  <b class="cookie cookie--green fs-12" value="0">Activo <i class="fas fa-check <%= 'd-none' if params[:q].blank? || params[:q][:meli_status_eq] != '0' %>"></i></b>
                </div>
                <div class="mt-5 mr-10 px-0 no-style-filter meli-status-filter">
                  <b class="cookie cookie--yellow fs-12" value="2">Pausado <i class="fas fa-check <%= 'd-none' if params[:q].blank? || params[:q][:meli_status_eq] != '2' %>"></i></b>
                </div>
                <div class="mt-5 mr-10 px-0 no-style-filter meli-status-filter">
                  <b class="cookie cookie--red fs-12" value="3">Cerrado <i class="fas fa-check <%= 'd-none' if params[:q].blank? || params[:q][:meli_status_eq] != '3' %>"></i></b>
                </div>
                <div class="mt-5 px-0 no-style-filter meli-status-filter">
                  <b class="cookie cookie--blue fs-12" value="1">No publicado <i class="fas fa-check <%= 'd-none' if params[:q].blank? || params[:q][:meli_product_id_null] != '1' %>"></i></b>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-10">
      <div class="col-xs-12">
        <div class="box">
          <div class="row">
            <div class="col-xs-12 col-sm-1 px-0 mt-5 fs-14 no-style-filter">
              Ordenar por:
            </div>
            <div class="col-xs-12 col-sm-4 mr-10 px-0 mt-5 fs-14 no-style-filter">
              <%= f.hidden_field :s, value: params[:q]&.[]('s').blank? ? 'created_at desc' : params[:q][:s] %>
              <div class="p-relative w-230">
                <label class="item__dropdown d-inline">
                  <a class="dropdown__button middle" tabindex="-1" href="#!" id="order-link">
                    <span id="selected-order">Seleccionar orden</span>&nbsp;<i class="fas fa-sort"></i>
                  </a>

                  <ul class="dropdown__menu w-100" id="order-list">
                    <% ordering_options.each do |ord| %>
                      <li value="<%= ord[:value] %>">
                        <%= ord[:label] %>
                      </li>
                    <% end %>
                  </ul>
                </label>
              </div>
            </div>
            <div class="col-xs-12 px-0 mt-10">
              <%= f.submit 'Buscar', class: 'btn-btn btn-submit' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
