<div class="aligner-row head">
  <h3>Productos</h3>
  <div class="w-100 middle-right">
    <%= link_to 'Crear producto', new_retailers_product_path %>
    <a class="btn ml-8" href="http://www.url.com" target="_blank">Help</a>
  </div>
</div>
<div class="container-fluid">
  <div class="row middle-xs mt-8 mb-8">
    <div class="col-xs-6">
      <p>Mostrando 7 productos</p>
    </div>
    <div class="col-xs-6 middle-right">
      <input type="search" name="search" id="search" value="" placeholder="Buscar" />
    </div>
  </div>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-xs-12 col-md-3">
        <div class="card pb-0">
          <div class="cookie f-right" >
            <%= product.condition %>
          </div>
          <div class="card-header mt-18">
            <% if product.images.attached? %>
              <%= image_tag url_for product.images.first %>
            <% else %>
                <img src="http://http2.mlstatic.com/resources/frontend/statics/img-not-available/1.1.0/O.gif" alt="Sin imagen">
            <% end %>
          </div>
          <div class="card-body">
            <div class="middle-left">
              <p class="m-0 product-data">
                Orders: <b><%= product.order_items.count %></b>
                Stock: <b><%= product.available_quantity %></b>
              </p>
              <div class="f-right circle bg-pink">
                <%= product.price %>$
              </div>
            </div>
            <div class="info">
              <b><%= product.title %></b> / <%= product.category.name %>
              <br/>
              <% if product.description %>
                <%= product.description %>
              <% else %>
                &nbsp;
              <% end %>
            </div>
          </div>
          <div class="card-hover">
            <div class="center">
              <div class="inline-flex">
                <%= link_to 'Show', retailers_product_path(@retailer, product) %>
                <%= link_to edit_retailers_product_path(@retailer, product) do %>
                  <%= image_tag 'dashboard/edit-icon.png' %>
                <% end %>
                <%= link_to retailers_product_path(@retailer, product), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <%= image_tag 'dashboard/delete-icon.png' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
