<p id="notice"><%= notice %></p>

<% if @product.images.attached? %>
  <p>
    <strong>Image:</strong>
    <br>
    <% @product.images.each do |img| %>
      <%= image_tag url_for img %>
    <% end %>
  </p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Available quantity:</strong>
  <%= @product.available_quantity %>
</p>

<p>
  <strong>Buying mode:</strong>
  <%= @product.buying_mode %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @product.condition %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<%= link_to 'Edit', edit_retailers_product_path(@retailer, @product) %> |
<%= link_to 'Back', retailers_products_path %>
