<div class="aligner-row head">
  <h3>Productos</h3>
  <div class="w-100 middle-right">
    <%= link_to 'Editar', edit_retailers_product_path(@retailer, @product) %>
    <%= link_to 'Atrás', retailers_products_path, class: 'ml-8' %>
    <a class="btn ml-8" href="http://www.url.com" target="_blank">Ayuda</a>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="card mt-9">
        <div class="box">
          <div class="row">
            <div class="col-xs-12">
              <b id="product-title"><%= @product.title %></b>
              <b class="product-text mx-4"> / </b>
              <b class="product-text"><%= @product.category.name %></b>
              <p class="m-0 product-text">
                <%= @product.subtitle %>
              </p>
              <hr class="my-28 separator">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-7">
              <div id="show-image" class="p-relative">
                <%= image_tag url_for @product.images.first %>

                <div id="product-price" class="circle big-circle bg-pink p-absolute">
                  <%= @product.price %>$
                </div>

                <div id="product-base-price" class="circle bg-green p-absolute">
                  <%= @product.base_price %>$
                </div>
              </div>
              <div id="gallery">
                <% if @product.images.attached? %>
                  <% @product.images.each do |img| %>
                    <div class="card m-8">
                      <%= image_tag url_for img %>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <p class="stock-info mr-12">
                <strong class="product-stock-info">Cantidad inicial:</strong>
                <%= @product.initial_quantity %>
              </p>

              <p class="stock-info mr-12">
                <strong class="product-stock-info">Disponible:</strong>
                <%= @product.available_quantity %>
              </p>

              <p class="stock-info mr-12">
                <strong class="product-stock-info">Vendido:</strong>
                <%= @product.sold_quantity %>
              </p>
            </div>
            <div class="col-xs-12 col-md-5">
              <p class="product-text">
                <strong class="product-data-title">Inicio de la publicación:</strong><br/>
                <%= @product.meli_start_time %>
              </p>

              <p class="product-text">
                <strong class="product-data-title">Expiración:</strong><br/>
                <%= @product.meli_expiration_time %>
              </p>

              <p class="product-text">
                <strong class="product-data-title">Description:</strong><br/>
                <%= @product.description %>
              </p>

              <p class="product-text">
                <strong class="product-data-title">Buying mode:</strong><br/>
                <%= @product.buying_mode %>
              </p>

              <p class="product-text">
                <strong class="product-data-title">Link:</strong><br/>
                <a href="<%= @product.meli_permalink %>" target="_blank"><%= @product.meli_permalink %></a>
              </p>

              <p>
                <div class="cookie">
                  <%= @product.condition %>
                </div>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h2 class="product-data-title">Ganancias:</h2>
              <%= image_tag 'example_graph.png', class: 'w-100' %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script charset="utf-8">
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('#gallery .card img').forEach(function(el) {
      el.onclick = function() {
        document.querySelector('#show-image img').src = el.src;
      }
    });
  });
</script>
