<%= stylesheet_link_tag "mailers/welcome_mailer" %>
<div class="main-container ff-welcome-mail">
  <div class="inner-container">
    <div class="logo-container">
      <%= image_tag 'mailer/logo.png', class: "image-logo" %>
    </div>

    <div class="ml-45 gretting-container fw-bold">
      <p class="greeting-color"> Hola, <%= @resource.retailer.name %>. </p>
    </div>

    <div class="ml-45 mt-20 mr-45">
      <p class="fs-16 p-color lg-18">
        Para restablecer su contraseña, haga click <%= link_to 'aquí', edit_password_url(@resource, reset_password_token: @token) %>.
      </p>
    </div>

    <div class="ml-45 mt-20 mr-45">
      <p class="fs-16 p-color lg-18">
        Si el vínculo anterior no funciona, copia y pega la siguiente dirección en una ventana del navegador:
      </p>
    </div>

    <div class="ml-45 mt-35 mr-45">
      <p class="fs-15 fw-bold t-color">
        <% if Rails.env.development? %>
          <%= link_to "http://localhost:3000/retailer_users/password/edit?reset_password_token=#{@token}", "http://localhost:3000/retailer_users/password/edit?reset_password_token=#{@token}" %>
        <% elsif Rails.env.production? %>
          <%= link_to "https://#{ENV["HOST_URL"]}/retailer_users/password/edit?reset_password_token=#{@token}", "https://#{ENV["HOST_URL"]}/retailer_users/password/edit?reset_password_token=#{@token}" %>
        <% end %>
      </p>
    </div>

    <div class="sign-container">
      <p class="fs-16 p-color fw-bold">
        2019 MERCATELY
      </p>
    </div>

    <div id="social-media" class="social-media-container">
      <%= image_tag 'facebook-logo.png', class:"social-media-icons" %>
      <%= image_tag 'twitter.png', class:"social-media-icons" %>
      <%= image_tag 'instagram.png', class:"social-media-icons" %>
    </div>
  </div>
</div>
