<form action="/admin/estadisticas_de_eventos" method="get" accept-charset="utf-8">
  <% if params[:starts1] %>
    <% @events1 = Ahoy::Event.where(time: params[:starts1]..params[:ends1]) %>
    <% @events2 = Ahoy::Event.where(time: params[:starts2]..params[:ends2]) %>
  <% else %>
    <% @events1 = Ahoy::Event.where(time: 1.week.ago..Date.today) %>
    <% @events2 = Ahoy::Event.where(time: 1.week.ago..Date.today) %>
  <% end %>
  <div>
    Desde
    <input type="date" value="<%= params[:starts1] || 1.week.ago.to_date %>" name="starts1" id="starts1" class="normal-input"/>
    Hasta
    <input type="date" value="<%= params[:ends1] || Date.today %>" name="ends1" id="ends1" class="normal-input"/>
  </div>
  <table class="normal-table">
    <thead>
      <tr>
        <th>Evento</th>
        <th>Total</th>
        <th>Campa単a</th>
        <th>Source</th>
        <th>Term</th>
        <th>Medium</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
      <% @events1.pluck(:name).uniq.each do |name| %>
        <% visits_by_name = @events1.where(name: name) %>
        <tr>
          <td>
            <%= name %>
          </td>
          <td>
            <%= visits_by_name.count %>
          </td>
          <td>
            <% visits_by_name.pluck(:properties).map { |x| x['utm_campaign'] }.uniq.each do |utm_campaign| %>
              <div>
                <%= utm_campaign.presence || 'Sin campa単a' %>: <%= visits_by_name.where("properties @> ?", "{\"utm_campaign\": \"#{utm_campaign}\"}").count %>
                <% (visits_by_name.where("properties @> ?", "{\"utm_campaign\": \"#{utm_campaign}\"}").pluck(:properties).map { |x| x['utm_source'] }.uniq.length - 1).times.each do %>
                  <div style="border-color: transparent;">&nbsp;</div>
                <% end %>
              </div>
            <% end %>
          </td>
          <td>
            <% visits_by_name.pluck(:properties).map { |x| x['utm_campaign'] }.uniq.each do |utm_campaign| %>
              <div>
                <% visits_by_name.where("properties @> ?", "{\"utm_campaign\": \"#{utm_campaign}\"}").pluck(:properties).map { |x| x['utm_source'] }.uniq.each do |utm_source| %>
                  <%= utm_source.presence || 'Sin source' %>: <%= visits_by_name.where("properties @> ?", "{\"utm_campaign\": \"#{utm_campaign}\", \"utm_source\": \"#{utm_source}\"}").count %>
                <% end %>
              </div>
            <% end %>
          </td>
          <td>
            <% visits_by_name.pluck(:properties).map { |x| x['utm_campaign'] }.uniq.each do |utm_campaign| %>
              <div>
                <% visits_by_name.where("properties @> ?", "{\"utm_campaign\": \"#{utm_campaign}\"}").pluck(:properties).map { |x| x['utm_term'] }.uniq.each do |utm_term| %>
                  <%= utm_term.presence || 'Sin term' %>: <%= visits_by_name.where("properties @> ?", "{\"utm_campaign\": \"#{utm_campaign}\", \"utm_term\": \"#{utm_term}\"}").count %>
                <% end %>
              </div>
            <% end %>
          </td>
          <td>
            <% visits_by_name.pluck(:properties).map { |x| x['utm_campaign'] }.uniq.each do |utm_campaign| %>
              <div>
                <% visits_by_name.where("properties @> ?", "{\"utm_campaign\": \"#{utm_campaign}\"}").pluck(:properties).map { |x| x['utm_medium'] }.uniq.each do |utm_medium| %>
                  <%= utm_medium.presence || 'Sin term' %>: <%= visits_by_name.where("properties @> ?", "{\"utm_campaign\": \"#{utm_campaign}\", \"utm_medium\": \"#{utm_medium}\"}").count %>
                <% end %>
              </div>
            <% end %>
          </td>
          <td>
            <% visits_by_name.pluck(:properties).map { |x| x['utm_campaign'] }.uniq.each do |utm_campaign| %>
              <div>
                <% visits_by_name.where("properties @> ?", "{\"utm_campaign\": \"#{utm_campaign}\"}").pluck(:properties).map { |x| x['utm_content'] }.uniq.each do |utm_content| %>
                  <%= utm_content.presence || 'Sin term' %>: <%= visits_by_name.where("properties @> ?", "{\"utm_campaign\": \"#{utm_campaign}\", \"utm_content\": \"#{utm_content}\"}").count %>
                <% end %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    Desde
    <input type="date" value="<%= params[:starts2] || 1.week.ago.to_date %>" name="starts2" id="starts2" class="normal-input"/>
    Hasta
    <input type="date" value="<%= params[:ends2] || Date.today %>" name="ends2" id="ends2" class="normal-input"/>
  </div>
  <table class="normal-table">
    <thead>
      <tr>
        <th>Evento</th>
        <th>Total</th>
        <th>Campa単a</th>
        <th>Source</th>
        <th>Term</th>
        <th>Medium</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
      <% @events2.pluck(:name).uniq.each do |name| %>
        <% visits_by_name = @events2.where(name: name) %>
        <tr>
          <td>
            <%= name %>
          </td>
          <td>
            <%= visits_by_name.count %>
          </td>
          <td>
            <% visits_by_name.pluck(:properties).map { |x| x['utm_campaign'] }.uniq.each do |utm_campaign| %>
              <div>
                <%= utm_campaign.presence || 'Sin campa単a' %>: <%= visits_by_name.where("properties @> ?", "{\"utm_campaign\": \"#{utm_campaign}\"}").count %>
              </div>
            <% end %>
          </td>
          <td>
            <% visits_by_name.pluck(:properties).map { |x| x['utm_campaign'] }.uniq.each do |utm_campaign| %>
              <div>
                <% visits_by_name.where("properties @> ?", "{\"utm_campaign\": \"#{utm_campaign}\"}").pluck(:properties).map { |x| x['utm_source'] }.uniq.each do |utm_source| %>
                  <%= utm_source.presence || 'Sin source' %>: <%= visits_by_name.where("properties @> ?", "{\"utm_campaign\": \"#{utm_campaign}\", \"utm_source\": \"#{utm_source}\"}").count %>
                <% end %>
              </div>
            <% end %>
          </td>
          <td>
            <% visits_by_name.pluck(:properties).map { |x| x['utm_campaign'] }.uniq.each do |utm_campaign| %>
              <div>
                <% visits_by_name.where("properties @> ?", "{\"utm_campaign\": \"#{utm_campaign}\"}").pluck(:properties).map { |x| x['utm_term'] }.uniq.each do |utm_term| %>
                  <%= utm_term.presence || 'Sin term' %>: <%= visits_by_name.where("properties @> ?", "{\"utm_campaign\": \"#{utm_campaign}\", \"utm_term\": \"#{utm_term}\"}").count %>
                <% end %>
              </div>
            <% end %>
          </td>
          <td>
            <% visits_by_name.pluck(:properties).map { |x| x['utm_campaign'] }.uniq.each do |utm_campaign| %>
              <div>
                <% visits_by_name.where("properties @> ?", "{\"utm_campaign\": \"#{utm_campaign}\"}").pluck(:properties).map { |x| x['utm_medium'] }.uniq.each do |utm_medium| %>
                  <%= utm_medium.presence || 'Sin term' %>: <%= visits_by_name.where("properties @> ?", "{\"utm_campaign\": \"#{utm_campaign}\", \"utm_medium\": \"#{utm_medium}\"}").count %>
                <% end %>
              </div>
            <% end %>
          </td>
          <td>
            <% visits_by_name.pluck(:properties).map { |x| x['utm_campaign'] }.uniq.each do |utm_campaign| %>
              <div>
                <% visits_by_name.where("properties @> ?", "{\"utm_campaign\": \"#{utm_campaign}\"}").pluck(:properties).map { |x| x['utm_content'] }.uniq.each do |utm_content| %>
                  <%= utm_content.presence || 'Sin term' %>: <%= visits_by_name.where("properties @> ?", "{\"utm_campaign\": \"#{utm_campaign}\", \"utm_content\": \"#{utm_content}\"}").count %>
                <% end %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <input type="submit" id="" value="Enviar">
</form>
