<footer>
  <div class="center-landing between">
    <div>
      <%= image_tag 'landing/white-logo.png', alt: 'Mercately logo' %>
      <ul class="social-list">
        <li>
          <%= link_to 'https://www.facebook.com/pg/Mercately-627361621077856/', target: :_blank do %>
            <%= image_tag 'landing/facebook.png', alt: 'Mercately - Facebook | Sincroniza Mercadolibre desde un solo lugar' %>
          <% end %>
        </li>
        <li>
          <%= link_to 'https://twitter.com/mercately', target: :_blank do %>
            <%= image_tag 'landing/twitter.png', alt: 'Mercately - Twitter | Sincroniza Mercadolibre desde un solo lugar' %>
          <% end %>
        </li>
        <li>
          <%= link_to 'https://www.linkedin.com/company/mercately/', target: :_blank do %>
            <%= image_tag 'landing/Linkedin-logo-azul.png', class: 'in-icon', alt: 'Mercately - Linkedin | Sincroniza Mercadolibre desde un solo lugar' %>
          <% end %>
        </li>
        <li>
          <%= link_to 'mailto:hola@mercately.com' do %>
            <i class="fas fa-envelope in-icon c-secondary fs-18"></i>
          <% end %>
        </li>
      </ul>
    </div>
    <ul class="list noStyle secondary">
      <li><a href="/blog">Blog</a></li>
      <li><a href="/">Centro de Ayuda</a></li>
      <li><%= link_to 'Términos y condiciones', terms_path %></li>
      <li><%= link_to 'Política de privacidad', privacy_path %></li>
    </ul>
  </div>
  <div class="center-landing">
    <b class="base" style="margin-top: 4em;">© Mercately, un desarrollo de <a href="https://www.thoughtcode.com", target="_blank">ThoughtCode</a></b>
  </div>
</footer>

