<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href='/'>
    <%= image_tag 'landing/logo.png', alt: 'Mercately logo' %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <ul class="navbar-nav ml-auto  main-nav-item">
        <li class="nav-item menu-item-with-mega-menu">
          <%= link_to price_path, class: "nav-link" do %>
            <span class="normal-item">Precios</span>
          <% end %>
        </li>
        <li class="nav-item menu-item-with-mega-menu">
          <%= link_to blog_path, class: "nav-link" do %>
          <span class="normal-item">Blog</span>
          <% end %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item menu-item-with-mega-menu">
          <%= link_to new_retailer_user_registration_path(params.to_unsafe_h), class: 'nav-link' do  %>
          <span class="header-btn-start">Empezar</span>
          <% end %>
        </li>
        <li class="nav-item menu-item-with-mega-menu">
          <%= link_to new_retailer_user_session_path, class: "nav-link" do %>
          <i class="icon icon-user"></i><span class="header-btn-login">Ingresar</span>
          <% end %>
        </li>
      </ul>
    </ul>
  </div>
</nav>

<script src="<%= asset_path 'landing/index.js' %>" charset="utf-8"></script>

<input type="checkbox" class="d-none" name="modal--toggle" id="modal--toggle" />
<div class="modal">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-xs-12 col-md-8 middle">
        <label class="modal__background" for="modal--toggle"></label>
        <div class="modal__window box p-4 h-unset mt-0" style="z-index: 1000;">
          <label class="modal__close" for="modal--toggle">
            <i class="fs-22 mt-4 mr-4 f-right far fa-times-circle"></i>
          </label>
          <div class="row">
            <div class="col-xs-12">
              <div class="card__title c-black">Solicitar una demostración</div>
              <div class="divider"></div>
              <%= form_tag request_demo_path, method: :post, id: 'form_demo', class: 'validate-form col-xs-12 p-0' do %>
                <fieldset class="fieldset mt-16 t-left">
                  <legend>Dejanos tu información de contacto y nuestro equipo se estará comunicando para concretar una reunión personal o por zoom</legend>
                  <div class="mt-8 mb-12">
                    <%= label_tag :name, 'Nombre*' %>
                    <%= text_field_tag :name, nil, class: 'input validate-required', placeholder: 'Nombre y apellido' %>
                    <i class="validation-msg"></i>
                  </div>
                  <div class="mt-8 mb-12">
                    <%= label_tag :email, 'Email*' %>
                    <%= text_field_tag :email, nil, class: 'input validate-email validate-required', placeholder: 'email@example.com' %>
                    <i class="validation-msg"></i>
                  </div>
                  <div class="row">
                    <div class="col-xs-6 pl-0">
                      <div class="mt-8 mb-12">
                        <%= label_tag :company, 'Nombre de la empresa*' %>
                        <%= text_field_tag :company, nil, class: 'input validate-required' %>
                      </div>
                    </div>
                    <div class="col-xs-6 pr-0">
                      <div class="mt-8 mb-12">
                        <%= label_tag :employee_quantity, 'Cantidad de empleados' %>
                        <%= text_field_tag :employee_quantity, nil, class: 'input h-unset only-numbers' %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mt-8 mb-12 col-xs-6 col-md-6 pr-0">
                      <%= label_tag :country, 'Código del País*' %>
                      <%= country_select("country", nil, { format: :with_country_code, include_blank: true }, class: 'input validate-required') %>
                      <i class="validation-msg"></i>
                    </div>
                    <div class="mt-8 mb-12 col-xs-6 col-md-6 pl-0">
                      <%= label_tag :phone, 'Teléfono*' %>
                      <%= text_field_tag :phone, nil, class: 'input validate-required only-numbers', placeholder: '098-333-4444' %>
                      <i class="validation-msg"></i>
                    </div>
                  </div>
                  <div class="mt-8 mb-12">
                    <%= label_tag :message, 'Mensaje*' %>
                    <%= text_area_tag :message, nil, class: 'input h-unset validate-required', min: 40 %>
                  </div>
                  <div class="mt-8 mb-12">
                    <%= label_tag :problem_to_resolve, '¿Que deseas resolver con Mercately?' %>
                    <select name="problem_to_resolve" id="problem_to_resolve" class="input h-unset w-100 validate-required">
                      <option disabled selected value="" hidden></option>
                      <option value="Conectar todo mi equipo a un solo número de Whatsapp">Conectar todo mi equipo a un solo número de Whatsapp</option>
                      <option value="Tener chatbots en Whatsapp">Tener chatbots en Whatsapp</option>
                      <option value="Mejorar la atención al cliente">Mejorar la atención al cliente</option>
                      <option value="Automatizar mi negocio via WhatsApp">Automatizar mi negocio via WhatsApp</option>
                      <option value="Todas las anteriores">Todas las anteriores</option>
                    </select>
                    <i class="validation-msg"></i>
                  </div>
                  <div class="mt-8 mb-12">
                    <% if @show_checkbox_recaptcha %>
                      <%= recaptcha_tags(site_key: ENV['RECAPTCHA_SITE_KEY_V2']) %>
                    <% else %>
                      <%= recaptcha_v3(action: 'schedule') %>
                      <div class="subtitle">
                        Este sitio está protegido por reCAPTCHA bajo los
                        <a href="https://policies.google.com/terms">terminos de servicio</a>
                        y la
                        <a href="https://policies.google.com/privacy">política de privacidad</a> de Google
                      </div>
                    <% end %>
                  </div>
                </fieldset>
                <div class="btn-box col-xs-12">
                  <%= submit_tag 'Solicitar', class: 'btn-btn btn-submit', data: { disable_with: false } %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script charset="utf-8">
  $(document).ready(function() {
    $('#modal--toggle').on('change', function(e) {
      $('body').toggleClass('o-hidden');
    })

    window.addEventListener('load', () => {
      const inputs = document.querySelectorAll('.only-numbers');

      inputs.forEach((elem) => {
        elem.addEventListener('keypress', (event) => {
          onlyNumber(event);
        });
      });
    });
  })
</script>
