<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Mercately | Sincronice el Inventario de Mercadolibre</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <% if ENV['ENVIRONMENT'] == 'production' && current_page?(root_path) %>
      

      <meta name="description" content="Venda con éxito en Mercadolibre. Sincronice su inventario de productos, gestione pedidos, responda preguntas y mucho más. Todo en un solo lugar." />

      <link rel="canonical" href="https://www.mercately.com/" />
      <link rel="alternate" hreflang="es-EC" href="https://www.mercately.com/"/>
      <link rel="alternate" hreflang="es-CO" href="https://www.mercately.com/"/>

      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@mercately">
      <meta name="twitter:title" content="Mercately | Sincronice el Inventario de Mercadolibre">
      <meta name="twitter:description" content="Con Mercately podrás sincronizar tu inventario de productos en Mercado Libre, gestionar pedidos, responder preguntas y mucho más. Todo en un solo lugar.">
      <meta name="twitter:image" content="https://www.mercately.com/profile.jpg">

      <meta property="og:title" content="Mercately | Sincronice el Inventario de Mercadolibre" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="https://www.mercately.com/" />
      <meta property="og:locale" content="es_LA" />
      <meta property="og:image" content="https://www.mercately.com/facebook_preview.jpg" />
      <meta property="og:description" content="Con Mercately podrás sincronizar tu inventario de productos en Mercado Libre, gestionar pedidos, responder preguntas y mucho más. Todo en un solo lugar." />
      <meta property="og:site_name" content="Mercately" />

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%=ENV['GOOGLE_TRACKING_ID']%>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', "<%= ENV['GOOGLE_TRACKING_ID'] %>");
      </script>
    <% end %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
