<!DOCTYPE html>
<html lang="es-EC">
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta property="og:locale" content="es_LA" />
    <meta property="og:site_name" content="Mercately" />
    <meta property="og:type" content="<%= og_type %>" />
    <meta property="og:title" content="<%= og_title %>" />
    <meta property="og:url" content="<%= og_url %>" />
    <meta property="og:image" content="<%= og_image %>" />
    <meta property="og:description" content="<%= og_description %>" />
    <meta property="fb:app_id" content="<%= ENV['FACEBOOK_APP_ID'] %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'blogs', media: 'all' %>
    <%= javascript_include_tag 'blogs' %>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>

    <%= render "layouts/head" %>
  </head>
  <body>
    <%= render 'layouts/blog/header' %>
    <%= yield %>
    <div class="bubble ws-bubble">
      <%= link_to go_to_wp_path(params.to_unsafe_h, text: "Hola%20quiero%20saber%20más%20de%20Mercately.com"), id: "ws-bubble", target: '_blank' do %>
        <i class="fab fa-whatsapp"></i>
      <% end %>
    </div>
    <%= render 'layouts/blog/footer' %>
    <% if ENV['ENVIRONMENT'] == 'production' && current_page?(root_path) %>
      <script src="//assets.pcrl.co/js/jstracker.min.js"></script>
    <% end %>

    <% if notice %>
      <script charset="utf-8">
        document.addEventListener("DOMContentLoaded", function() {
          showtoast("<%= notice %>")
        });
      </script>
    <% end %>
    <% if ENV['ENVIRONMENT'] == 'production' %>
      <script type="text/javascript">
        _linkedin_partner_id = "<%= ENV['LINKEDIN_PARTNER_ID'] %>";
        window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
        window._linkedin_data_partner_ids.push(_linkedin_partner_id);
        </script><script type="text/javascript">
        (function(){var s = document.getElementsByTagName("script")[0];
        var b = document.createElement("script");
        b.type = "text/javascript";b.async = true;
        b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
        s.parentNode.insertBefore(b, s);})();
      </script>
      <noscript>
        <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=<%= ENV['LINKEDIN_PARTNER_ID'] %>&fmt=gif" />
      </noscript>
    <% end %>
  </body>
</html>
