<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Optimiza tu negocio y vende más en Mercado Libre | Mercately</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'catalog', media: 'all' %>
    <%= javascript_include_tag 'catalog' %>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <%= render "layouts/head" %>
  </head>

  <body>
    <%= render 'layouts/catalog/header' %>
    <%= yield %>
    <%= render 'layouts/catalog/footer' %>
    <% if ENV['ENVIRONMENT'] == 'production' && current_page?(root_path) %>
      <script src="//assets.pcrl.co/js/jstracker.min.js"></script>
    <% end %>
  </body>
</html>
