<!DOCTYPE html>
<html>
  <head>
    <title>Mercately</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <%= stylesheet_link_tag 'flexboxgrid', media: 'all' %>
    <%= stylesheet_link_tag 'new_dashboard', media: 'all' %>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <%= javascript_include_tag 'application' %>
    <%= javascript_tag do %>
      var roomId = <%= session[:room_id] %>;
      var ENV = {
        ENVIRONMENT: "<%= ENV['ENVIRONMENT'] %>",
        PORT: "<%= ENV['PORT'] %>",
        DOMAIN: "<%= ENV['DOMAIN'] %>"
      }
    <% end %>
    <% if ENV['ENVIRONMENT'] == 'production' %>
      <script type="application/javascript" src="https://wss.mercately.com/socket.io/socket.io.js"></script>
    <% elsif ENV['ENVIRONMENT'] == 'staging' %>
      <script type="application/javascript" src="https://swss.mercately.com/socket.io/socket.io.js"></script>
    <% else %>
      <script type="application/javascript" src="http://localhost:8181/socket.io/socket.io.js"></script>
    <% end %>
    <%= javascript_include_tag 'dashboard' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <% if ENV['ENVIRONMENT'] == 'production' %>
      <!-- Facebook Pixel Code -->
      <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '464358527533472');
        fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=464358527533472&ev=PageView&noscript=1"
      /></noscript>
      <!-- End Facebook Pixel Code -->
      <!-- Hotjar Tracking Code for https://www.mercately.com/ -->
      <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1627743,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
      </script>

      <!-- Global site tag (gtag.js) - Google Ads: 712606855 -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=AW-712606855"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'AW-712606855');
      </script>
      <!-- Event snippet for Registro conversion page -->
      <script>
        gtag('event', 'conversion', {'send_to': 'AW-712606855/anasCMPEiK4BEIeJ5tMC'});
      </script>
    <% end %>
  </head>

  <body>
    <%= render 'layouts/dashboard/sidebar' %>
    <div id="content">
      <%= render "layouts/dashboard/user_nav" %>
      <%= yield %>
      <%= render "layouts/dashboard/footer" %>
    </div>

    <script charset="utf-8">
      document.addEventListener("DOMContentLoaded", function() {
        <% if notice %>
          showtoast("<%= notice %>")
        <% end %>
      });
    </script>
    <% if ENV['ENVIRONMENT'] == 'production' %>
      <script src="//assets.pcrl.co/js/jstracker.min.js"></script>
    <% end %>
  </body>
</html>
