<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Optimiza tu negocio y vende más en Mercado Libre | Mercately</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'pages', media: 'all' %>
    <%= javascript_include_tag 'pages' %>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;800&display=swap" rel="stylesheet">
    <%= render "layouts/head" %>
  </head>

  <body>
    <%= render 'layouts/pages_new/header' %>
    <%= yield %>
    <div class="bubble ws-bubble">
      <%= link_to 'https://api.whatsapp.com/send?l=es&phone=593989083446&text=Hola%20quiero%20saber%20más%20de%20Mercately.com', target: '_blank' do %>
        <i class="fab fa-whatsapp"></i>
      <% end %>
    </div>
  </body>

  <% if notice %>
    <script charset="utf-8">
      document.addEventListener("DOMContentLoaded", function() {
        showtoast("<%= notice %>")
      });
    </script>
  <% end %>
</html>
